/* calculator*/
#calculator .ttl {
    margin: 0;
    padding: 16px 0 4px 0;
}

#calculator .amount .ttl {
    padding: 16px 0 10px 0;
}

#calculator .result-cal input {
    border: none;
    padding: 0;
    background: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#amount-envelop,
#amount-card {
    border: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: none;
    width: auto !important;
    padding: 0;
    height: auto;
}

#result-input {
    font-size: 18px;
    font-weight: bold;
    display:inline-block;
    width:auto;
}

#result {
    color: #000;
}

.inclusief {
    color: #616161;
    font-size: 12px;
    display: block;
    line-height: 1.3;
    margin-top: 0;
}

.result-cal {
    margin-top: 18px;
    margin-bottom: 20px;
    background: #f5d2d5;
    width: 420px;
    padding: 12px 20px 10px;
}

.alert{
    margin-bottom:20px;
    font-size:11px;
    padding:0 0 0 10px !important;
    color:#999;
    font-style:italic;
    width:393px;
}

#calculator #message {
    display: none;
    width: 403px;
    text-align: center;
    color: #F00;
    font-size: 18px;
    font-family: Arial;
}

.page-cal {
    width: 705px !important;
    height: 115px !important;
}

.page-cal a {
    top: 62px !important;
    font-size: 20px !important;
    height: 34px !important;
    line-height: 34px !important;
}

#calculator #sliderb,
#calculator #slider {
    background:#C5868B;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-sizing:border-box;
    margin-top:10px;
    position:relative;
    height:3px;
}

#calculator .ui-slider-horizontal .ui-slider-handle {
    display:block;
    height:16px;
    position: absolute;
    z-index: 2;
    width:16px;
    background:#C5868B !important;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 1px #737373;
    box-shadow: 0 0 0 1px #737373;
    top:-.4em;
}

#calculator table {
    width: 422px;
    border: none !important;
}

#calculator table th,
#calculator table td {
    border: none !important;
    padding: 6px 10px 6px 0 !important;
}

.result-cal table {
    width: 379px !important;
}

.wrap-sel {
    height: 31px;
    position: relative;
}

#calculator select {
    height: 31px !important;
    line-height: 31px;
    position: relative;
    width: 190px !important;
    z-index: 10;
    opacity:1 !important;
    background: #f5d2d5;
    font-size: 14px;
    color: #6E7277;
    font-family: "gothic";
}

#calculator span.select {
    display:none;
}

#total {
    font-size: 12pt;
}

#total, #price, #priceb, #pricec, #priced, #pricee, #pricef, #pricez {
    text-align: right;
    width: 60px;
}

#quoteme input {
    background: transparent;
    color: #ddd;
    font-family: Georgia;
    border: 0px solid #fff;
    margin-bottom: 20px;
}

#quoteme label {
    float: left;
    display: block;
    padding-top: 10px;
    display: block;
    color: #fff;
    font-family: Georgia;
    width: 340px;
}

#contenta {
    padding:1px 0px 20px 0px;
    display: block;
    width:400px;
    text-align: left;
    font-size: 12pt;
}

.pricepara {
    text-align: right; font-size: 14pt;
}

.pricepara #totalprice {
    padding-top: 0px;
    margin-top: 0px;
    border: 0px solid #000;
    font-size: 14pt;
    font-weight: bold;
}

#total {
    font-family: 'Georgia', arial;
    width: 100px;
    border: 0px solid #000;
    background: transparent;
    font-size: 38px;
    color: #fff;
}

#quoteme {
    width: 400px;
    display: block;
    background: #000;
    float :left;
    clear: both;
    padding: 30px 20px 10px 30px;
}

#slider, #sliderb, #sliderc, #sliderd, #slidere {
    width: 209px;
}

input#submitbtn {
    display: block;
    width: 200px;
    height: 38px;
    margin: 10px 0px 10px 0px;
    background: #ffe906;
    color: #000;
    font-size: 14pt;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
}

#amount-card, #amount-envelop {
    border:none;
    background:none;
    width:40px !important;
    text-align:left;
    color:#262626;
    font-size:14px;
    font-family:Arial, Helvetica, sans-serif;
    position:relative;
    left:-14px;
    top:-4px !important;
    text-align:right;
}

.ui-slider .ui-slider-range{
    border:none !important;
    background-color:#c17e93 !important;
}