#slideshow {
    position:relative;
    height:206px;
    width:694px;
	border: 8px solid #bfae9a;
}

#slideshow IMG {
	border: 3px solid #fff;
    position:absolute;
    top:0;
    left:0;
    z-index:8;
	width: 688px;
	height: 200px;
}

#slideshow IMG.active {
    z-index:10;
}

#slideshow IMG.last-active {
    z-index:9;
}