/** GLOBAL - BASE -----------------------------------------**/

* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



html,
body,
input,
select,
textarea {
}

body {
}

img {
}

ul,
li {
}

:focus {
    outline: none;
}

fieldset {
    border: none;
}




a,
i,
img,
div {
    vertical-align: middle;
}



a {
}





.icon {
}


h1 {
	text-transform: uppercase;
}
h2 {
}


h1 {
}


h2 {
}

h3 {
}


p {
	margin-bottom: 28px; 
}



@media (min-width: 992px) {
}





