/** LEGACY - 30_CUSTOM-NEW-FONT **/


body {
    font-family: proxima-nova;
    font-weight: normal;
    line-height: 28px;
    font-size: 15px;
    color: #565354;
}

#body_edit #header #headermenu a,
#body_voorbeeld #header #headermenu a,
#body_keuze #header #headermenu a,
#body_bestel_details #header #headermenu a,
#body_basket #header #headermenu a,
#body_eigen_collectie #header #headermenu a,
#body_address_n #header #headermenu a,
#body_ok #header #headermenu a,
#body_kaarttype #header #headermenu a,
#body_edit #pagecontent h3.ui-accordion-header,
#body_voorbeeld #pagecontent h3.ui-accordion-header,
#body_keuze #pagecontent h3.ui-accordion-header,
#body_bestel_details #pagecontent h3.ui-accordion-header,
#body_basket #pagecontent h3.ui-accordion-header,
#body_eigen_collectie #pagecontent h3.ui-accordion-header,
#body_address_n #pagecontent h3.ui-accordion-header,
#body_ok #pagecontent h3.ui-accordion-header,
#body_kaarttype #pagecontent h3.ui-accordion-header,
#body_edit #order_card,
#body_voorbeeld #order_card,
#body_keuze #order_card,
#body_bestel_details #order_card,
#body_basket #order_card,
#body_eigen_collectie #order_card,
#body_address_n #order_card,
#body_ok #order_card,
#body_kaarttype #order_card,
#body_edit #step_forward,
#body_voorbeeld #step_forward,
#body_keuze #step_forward,
#body_bestel_details #step_forward,
#body_basket #step_forward,
#body_eigen_collectie #step_forward,
#body_address_n #step_forward,
#body_ok #step_forward,
#body_kaarttype #step_forward,
#body_edit #step_forward_alternate,
#body_voorbeeld #step_forward_alternate,
#body_keuze #step_forward_alternate,
#body_bestel_details #step_forward_alternate,
#body_basket #step_forward_alternate,
#body_eigen_collectie #step_forward_alternate,
#body_address_n #step_forward_alternate,
#body_ok #step_forward_alternate,
#body_kaarttype #step_forward_alternate,
#body_edit #step_back,
#body_voorbeeld #step_back,
#body_keuze #step_back,
#body_bestel_details #step_back,
#body_basket #step_back,
#body_eigen_collectie #step_back,
#body_address_n #step_back,
#body_ok #step_back,
#body_kaarttype #step_back,
#body_edit #header #headermenu #basket_count,
#body_voorbeeld #header #headermenu #basket_count,
#body_keuze #header #headermenu #basket_count,
#body_bestel_details #header #headermenu #basket_count,
#body_basket #header #headermenu #basket_count,
#body_eigen_collectie #header #headermenu #basket_count,
#body_address_n #header #headermenu #basket_count,
#body_ok #header #headermenu #basket_count,
#body_kaarttype #header #headermenu #basket_count,
#pt-upload input[type="submit"],
#accordion button,
#body_edit #accordion button,
#imagelist .pages,
#patternlist .pages,
#clipartlist .pages,
#accordion .ui-accordion-content a.prev,
#accordion .ui-accordion-content a.next,
#accordion .ui-accordion .ui-accordion-content p,
.ui-accordion .ui-accordion-content,
.ui-accordion .ui-accordion-content p,
.ui-accordion .ui-accordion-content p span,
.ui-accordion .ui-accordion-content p label,
#body_edit #imagetable,
#body_edit .sp-replacer .sp-preview,
#body_edit #bt-color .description,
#body_edit #bt-pattern .description,
#body_edit #patternselect_div .title,
#background_type_color_label,
#background_type_pattern_label,
.ui-widget,
.ui-widget button,
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
#nav_remark_div,
#body_keuze .button,
#body_basket .button {
    font-family: proxima-nova, sans-serif;
}

#body_edit #order_card {
    margin-top: 15px !important;
    margin-right: 15px !important;
}

#body_voorbeeld #side_buttons {
    font-family: proxima-nova, sans-serif;
}

#body_bestel_details #price_table,
#body_bestel_details #card_size_and_count table,
#body_bestel_details #paper table,
#body_bestel_details #enveloppen table {
    font-family: proxima-nova, sans-serif;
}

#body_basket #basket_n {
    font-family: proxima-nova, sans-serif;
}

#body_basket input[type=text] {
    font-family: proxima-nova, sans-serif;
}

#body_basket #nav_buttons .button {
    margin-top: 10px;
}

#body_address_n #checkout_address,
#body_address_n #checkout_delivery,
#body_address_n #checkout_confirmation,
#body_address_n #price_list {
    font-family: proxima-nova, sans-serif;
}

.button {
    font-family: proxima-nova;
}

.navbar .topbar .topbar-menu-left a,
.navbar .topbar .topbar-menu-right>ul>li>a,
.navbar .middlebar ul.middlebar-menu-right>li>a,
.list-vertical li a,
#footer ul li a {
    color: #565354;
}

.navbar .topbar .topbar-menu-right>ul>li .icon-basket {
    color: #ad9b8f;
}

#footer ul li a:hover {
    color: #ad9b8f;
}

#footer {
    color: #565354;
}

.accordion>.active {
    color: #565354 !important;
}

h1 {
    font-family: Garamond;
    font-size: 26px;
    font-weight: 100;
    font-style: normal !important;
    letter-spacing: 0.03em;
    line-height: 32px;
    color: #565354;
}

h2 {
    font-family: Garamond;
    font-size: 19px;
    font-weight: 100;
    font-style: normal !important;
    text-transform: uppercase;
    letter-spacing: 0.075em;
    color: #565354;
}

h3 {
    font-size: 16px;
    color: #565354;
    font-style: normal !important;
    text-transform: uppercase;
    letter-spacing: 0.15em;
}

p {
    color: #565354;
}

#body_home .visual h1 {
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 0.075em;
    color: #565354;
}

a {
    color: #ad9b8f;
}

#body_home .visual p {
    font-size: 15px;
    color: #565354;
}

#body_home .button-marriage {
    background-color: #82966b;
}
#body_home .button-marriage:hover {
    background-color: #697d52;
}

#body_home .thumbnail-people .thumbnail-people-label {
    font-size: 14px;
}

#body_home h2 {
    letter-spacing: 0.075em;
    color: #565354;
}

.thumbnail  .thumbnail-footer p {
    font-size: 15px;
    color: #565354;
}

.thumbnail-scroller .thumbnail-scroller-left > a > i,
.thumbnail-scroller .thumbnail-scroller-right > a > i {
    background-color: #beb0a7;
}
.thumbnail-scroller .thumbnail-scroller-left > a > i:hover,
.thumbnail-scroller .thumbnail-scroller-right > a > i:hover {
    background-color: #ad9b8f;
}

.thumbnail-card .add_fav_design {
    color: #beb0a7;
}

.thumbnail-card .add_fav_design:hover {
    color: #ad9b8f;
}

#body_design .box-footer .desUsp {
    font-size: 15px;
}

#body_design .box-body h1 {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 26px;
}

#body_design .button-success {
    padding: 16px 24px;
    font-size: 18px;
    line-height: 1.33333333;
}

#body_design #choose_preview {
    background-color: #82966b;
}

#body_design #choose_preview:hover {
    background-color: #697d52;
}

#body_design .open_calculator .openPrijsCalculator {
    color: #ad9b8f;
}

#body_design .box-footer .desUsp {
    background-color: #f7f6f4;
}

#body_design .desUsp li:before {
    background-color: #ad9b8f;
}

#body_design .box-body .proefDrukPrijs {
    color: #ad9b8f;
}

#body_design .icon.text-danger {
    color: #ad9b8f;
}

#body_design .open_calculator i {
    color: #ad9b8f;
}

@media screen and (min-width: 992px) {
    #body_design #choose_preview {
        display: inline-block;
        padding: 16px 50px;
    }
}

@media screen and (max-width: 480px) {
    #body_design .cardrail {
        display: none;
    }
}

.cardrail #next_page,
.cardrail #prev_page {
    background-color: #beb0a7;
}

.cardrail #next_page:hover,
.cardrail #prev_page:hover {
    background-color: #ad9b8f;
}

#sidebar .accordion-button .icon:nth-last-of-type(2) {
    display: none;
}

#sidebar .accordion .accordion-button {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
}

#sidebar .accordion .accordion-body a {
    font-size: 15px;
    line-height: 22px;
}

#filter_cards label {
    font-size: 16px;
    line-height: 28px;
}

#body_home h2 {
    font-size: 19px;
}

#textblock {
    float: left;
}

@media screen and (min-width: 992px) {
    .navbar .topbar .topbar-menu-right> ul > li > a {
        line-height: 32px;
    }
}
