/** LEGACY - 40_JCAROUSEL **/



.carousel {
	background: url(/img/home/bg-carousel.png) no-repeat 0 0;
	height: 202px;
	margin-bottom: 15px;
}

.carousel ul {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	width: 627px;
}

.carousel ul li {
	float: left;
	padding-right: 55px;
}

.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
	padding-top: 17px;
}

.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
	width: 627px;
	margin: 0 auto;
}

.jcarousel-skin-tango .jcarousel-item {
    width: 115px;
    height: 140px;
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-left: 0;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
    margin-right: 0;
}

.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 85px;
    right: 6px;
    width: 27px;
    height: 30px;
    cursor: pointer;
    background: url(/img/home/btn-next.png) no-repeat left top;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(/img/home/btn-prev.png);
}

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    cursor: default;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: 85px;
    left: 6px;
    width: 28px;
    height: 30px;
    cursor: pointer;
    background: url(/img/home/btn-prev.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(/img/home/btn-next.png);
}

.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
}

.view {
	text-align: center;
	clear: both;
	margin: 0;
}
