/** LEGACY - 50_KCCUSTOM **/


.thumbnail-slider .thumbnail-slider-left {
  left: -2px;
}
.thumbnail-slider .thumbnail-slider-right {
  right: -2px;
}
.thumbnail-slider .thumbnail-slider-left .icon-arrow-left:after,
.thumbnail-slider .thumbnail-slider-right .icon-arrow-right:after {
  color: #e4c6c9;
}

.thumbnail-slider .thumbnail-slider-left .icon-arrow-left::after {
    position: relative;
    left: -4px;
}

@media only screen and (max-width: 700px) {
  #filter_cards {
    display: none;
  }
}
