/** LEGACY - 60_SLIDER **/


#slider {
	background: url(/img/slider/bg-slider.png) no-repeat 0 0;
	width: 674px;
	height: 260px;
	padding: 5px 0 0 6px;
	position: relative;
	margin-bottom: 12px;
	overflow: hidden;
}

#slideshow img {
	float: left;
}

#slider #nav:last-child {
	display: none!important;
}

#nav {
	position: absolute;
	right: 12px;
	bottom: 20px;
}

#nav a {
	background: url(/img/slider/ico-square.gif) no-repeat 0 0;
	display: block;
	height: 10px;
	width: 10px;
	margin: 0 4px;
	position: relative;
	z-index: 20;
	float: left;
	text-indent: -9999em;
}

#nav a.activeSlide {
	background: url(/img/slider/ico-square-current.gif) no-repeat 0 0;
}
