.accordion {
    list-style-type: none;
    padding: 0;
    border-bottom: 1px solid #e2dbd7;
    background-color: #fff;
    > .active {
        color: #403c3d !important;
    }
    .show {
        display: block!important;
    }
    > a {
        display: block;
        vertical-align: middle;
        background-color: #fff;
        padding: 5px 5px;
        color: #403c3d;
        font-style: italic;
        &:hover, &:active, &:focus {
            color: #403c3d;
        }
        > i {
            float: right;
            font-size: 12px;
            position: relative;
            top: 3px;
        }
    }
    .accordion-button {
        padding: 16px 0;
        font-size: 16px;
    }
    .accordion-body {
        display: none;
        padding: 0 0 10px 0;
        line-height: normal;
        ul {
            margin-bottom: 0;
            margin-top: 0;
            li {
                a {
                      padding: 5px 0 5px 5px;
                }
            }
        }
        em.number-of-tags {
            font-style: normal;
        }
        input[type="checkbox"] {
            display:none;
        }
        input[type="checkbox"] + label span {
            display: inline-block;
            width: 15px;
            height: 15px;
            background: url(/img/checkbox.png) left top no-repeat;
            margin: -3px 5px 0px 0px;
            vertical-align: middle;
            cursor: pointer;
        }
        input[type="checkbox"]:checked + label span {
            background:url(/img/checkbox_checked.png) left top no-repeat;
        }
        label {
            font-size: 14px;
        }
    }
}

@media screen and (min-width: @md) {
    #sidebar .accordion {
        margin-bottom: 0px;
    }
}

@media screen and (max-width: @md) {
    #sidebar .accordion {
        margin-bottom: 30px;
    }
}