.hide {
    display: none;
}

#headermenu {
    display: none!important;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    outline: none;
}

i {
    display: inline-block;
}

@media only screen and (max-width: @sm) {
    body {
        color: #403c3d;
        font-size: 13px;
        font-family: @mainFont;
        padding: 0;
        margin: 0;
    }
}

@media only screen and (min-width: @sm) {
    body {
        color: #403c3d;
        font-size: 16px;
        line-height: 27px;
        font-family: @mainFont;
        padding: 0;
        margin: 0;
    }
}

#pagecontent {
    line-height: 27px;
}

header, section, footer, aside, nav, main, article, figure {
    display: block;
}

.transition-ease {
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    &:focus, &:hover, &:active, &:visited {
        outline: none!important;
    }
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f7f6f5;
    border: 1px solid #e2dbd7;
    border-radius: 4px;
}

.navbar:after .container:after, .cols:after, .topbar:after, .middlebar:after, .topbar-left:after, .topbar-right:after, .topbar-menu:after {
    clear: both;
}

#pagecontent {
    ol, ul {
        margin-top: 0;
        margin-bottom: 10px;
        line-height: 27px;
        list-style-position: inside;
    }
}

ul {
    padding: 0;
    list-style: none;
}

dl {
    margin-top: 0;
    margin-bottom: 20px;
}

dd, dt {
    line-height: 1.42857143;
}

p {
    margin-top: 0;
    margin-bottom: 28px;
    //line-height: 1.4375;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: normal;
}

.navbar:after,
.navbar:before,
.container:after,
.container:before,
.cols:after,
.cols:before,
.form-horizontal .input-group:after,
.form-horizontal .input-group:before{
    display: table;
    content: " ";
}

input, textarea, keygen, select {
    border-radius: 2px;
    border: 1px solid #d5ccc7;
}

a {
    color: #da7d8f;
    outline: none;
    text-decoration: none;
    &:hover {
        color: #beb0a7;
    }
    &:active {
        color: #beb0a7;
    }
    &:focus {
        color: #403c3d;
    }

    &.read-more {
        color: #da7d8f;

        &:hover {
            color: #beb0a7;
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: @titFont;
    font-weight:normal;
    color: #403c3d;
    margin-bottom: 17px;
}

h1 {
    font-size:24px;
    color: #403c3d;
    text-transform: uppercase;
}

h2 {
    font-size:22px;
    font-style: italic;
    color: #403c3d;
}

h3 {
    font-size:20px;
    color: #403c3d;
    font-style: italic;
}

h4 {
    font-size:18px;
    color: #403c3d;
    font-style: italic;
}

h5 {
    font-size:18px;
    color: #da7d8f;
    font-style: italic;
}

h6 {
    font-size:18px;
    color: #403c3d;
    font-style: italic;
}

.container {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    clear: both;
    height: 100%;
    max-width: 1170px;
    padding: 0 10px;
}

img {
    vertical-align: middle;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.img-center {
    display: block;
    margin: 0 auto;
}

.img-circle {
    border-radius: 50%!important;
}

.text-left {
    text-align: left!important;
}

.text-center {
    text-align: center!important;
}

.text-right {
    text-align: right!important;
}

.text-default {
    color: @text-default-color;
}
.text-primary {
    color: @text-primary-color;
}
.text-success {
    color: @text-success-color;
}
.text-warning {
    color: @text-warning-color;
}
.text-danger {
    color: #da7d8f;
}
.text-info {
    color: @text-info-color;
}

.text-xs {
    font-size: 0.6em!important;
}

.text-xsm {
    font-size: 0.8em!important;
}

.text-sm {
    font-size: 1.0em!important;
}

.text-md {
    font-size: 1.2em!important;
}

.text-lg {
    font-size: 1.4em!important;
}

.lowercase {
    text-transform: lowercase;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.lilac {
	color: @color-lilac;
}

#filter_menu h3 {
	font-size: 16px;
	font-family: @mainFont;
}

table {
    border-collapse: collapse;

    &,
    td,
    th {
        border: 1px solid #f2f2f2;
        padding: 6px 17px;
        line-height: 22px;
    }

    th {
        background-color: #faf4f4;
        color: #403c3d;
        font-weight: normal;
        font-style: italic;
        text-align: left;
        border-right-color: #fff;

        &:last-child {
            border-right-color: #f2f2f2;
        }
    }
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
textarea {
    border: 1px solid #d5ccc7;
    width: 100%;
    padding: 10px;
    color: #403c3d;
}

blockquote {
    font-style: italic;
    margin-bottom: 20px;
    padding: 0 0 0 50px;

    &:after,&:before{
        font-style: normal;
        font-size: 40px;
        font-family: FontAwesome;
        display: inline-block;
        vertical-align: middle;
        color: #aaa;
    }

    &:after {
        content: '\f10e';
        margin-left: 10px;
    }

    &:before {
        content: '\f10d';
        margin: 0 10px 0 -50px;
    }
}

@media only screen and (max-width:@lg) {
    .content-wrapper {
        top: 5px;
        padding: 10px;
    }
    .xsm-hide, .xsm-hide, .md-hide, .lg-hide {
        display: block;
    }
    .xs-hide {
        display: none;
    }

    .xsm-show, .xsm-show, .md-show, .lg-show {
        display: none;
    }
    .xs-show {
        display: inherit;
    }
}

@media only screen and (min-width:@xsm) {

    .xs-hide, .sm-hide, .md-hide, .lg-hide {
        display: block;
    }
    .xsm-hide {
        display: none;
    }

    .xs-show, .sm-show, .md-show, .lg-show {
        display: none;
    }
    .xsm-show {
        display: inherit;
    }
}

@media only screen and (min-width:@sm) {

    .xs-hide, .xsm-hide, .md-hide, .lg-hide {
        display: block;
    }
    .sm-hide {
        display: none;
    }

    .xs-show, .xsm-show, .md-show, .lg-show {
        display: none;
    }
    .sm-show {
        display: inherit;
    }

    .dl-horizontal dd {
        margin-left: 140px;
    }
    .dl-horizontal dt {
        float: left;
        width: 140px;
        overflow: hidden;
        clear: left;
        text-align: left;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width:@md) {
    html {
        overflow-y: auto!important;
    }
    .content-wrapper {
        top: 15px;
        padding: 0;
    }
    .xs-hide, .xsm-hide, .sm-hide, .lg-hide {
        display: block;
    }
    .md-hide {
        display: none;
    }

    .xs-show, .xsm-show, .sm-show, .lg-show {
        display: none;
    }
    .md-show {
        display: inherit;
    }

    .visual {
        display: block;
        .visual-content-left, .visual-content-right {
            display: block;
            img {
                margin-top: 100%;
            }
        }
    }

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : @lg) {

    .xs-hide, .xsm-hide, .sm-hide, .md-hide {
        display: block;
    }
    .lg-hide {
        display: none;
    }

    .xs-show, .xsm-show, .sm-show, .md-show {
        display: none;
    }
    .lg-show {
        display: inherit;
    }
}