.box {
    position: relative;
    padding: 0;
    margin-bottom: 15px;
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #dedbd4;
    overflow: hidden;
    .box-body {
        background-color: #fff;
        margin: 0;
        padding: 20px 20px 7px 20px;
    }
    .box-footer {
        background-color: #faf4f4;
        margin: 0;
        padding: 13px 20px 3px 20px;
        clear: both;
    }

}

.box #choose_preview {
    margin: 8px auto;
    width: 216px;
}

.box .save_user_design, .box p {
    font-size: 14px;
    //color: #da7d8f;
    margin-bottom: 0px;
}

.box h1 {
    font-size: 22px;
    font-style: italic;
    text-transform: none;
    text-align: center;
    margin-bottom: 14px;
}

@media screen and (max-width: @xsm) {

    .box li:nth-child(odd) {
        width: 100%;
    }

    .box li:nth-child(even) {
        width: 100%;
    }
}

@media screen and (min-width: @xsm) {

    .box li:nth-child(odd) {
        width: 31%;
    }

    .box li:nth-child(even) {
        width: 68%;
    }
}

@media screen and (min-width: @sm) {

    .box li:nth-child(odd) {
        width: 100%;
    }

    .box li:nth-child(even) {
        width: 100%;
    }
}

@media screen and (min-width: @lg) {

    .box li:nth-child(odd) {
        width: 31%;
    }

    .box li:nth-child(even) {
        width: 68%;
    }
}

.box ul li {
    font-size: 13px;
    display: inline-block;
}

.box ul li:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #da7e8e;
    margin-right: 8px !important;
}

.box-default {
    .box-body {
        background-color: #fff;
    }
    .box-footer {
        background-color: #faf4f4;
    }
}

.box-primary  {
    .box-body {
        background-color: #fff;
    }
    .box-footer {
        background-color: #faf4f4;
    }
}