.button {
    position: relative;
    font-family: @mainFont;
    display: inline-block;
    vertical-align: middle;
    padding: 6px 12px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    overflow: hidden;
    i {
        display: inline-block;
        vertical-align: middle;
    }
}

.button-group {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-top: 5px;
    margin-bottom: 5px;
    .button {
        position: relative;
        float: left;
        border-radius: 0;
        &:first-child {
            margin-left: 0;
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
        }
        &:last-child {
            margin-left: 0;
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
        }
    }
}

.button-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    > .button {
        display: block;
        float: none;
        width: 100%;
        max-width: 100%;
        border-radius: 0!important;

    }
}

.button-group-justified {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    > .button{
        display: table-cell;
        float: none;
        width: 1%;
    }
}

#body_design .button-group-justified .button {
    display: block;
}

.button-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
}

.button-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}

.button-lg {
    padding: 12px 24px;
    line-height: 1.3333333;
    border-radius: 2px;
    i {
    font-size: 11px;
    }
    &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 3px;
    width: auto;
    height: auto;
    border: 1px solid #fff;
    border-radius: 2px;
    }
}

.visual .button {
    width: 200px;
}

@media screen and (min-width: @xsm) {
    .button-content .button-lg {
        font-size: 16px !important;
    }
}

@media screen and (max-width: @xsm) {
    .button-content .button-lg {
        font-size: 12px !important;
    }
}

.button-xlg {
    padding: 12px 18px;
    font-size: 26px;
    line-height: 1.3333333;
}

.button-link {
    display: block;
    font-size: 16px;
    border-color: transparent;
    background-color: transparent;
    &:hover, &:active, &:focus {
          border-color: transparent;
    }

}

.button-content {
    text-align: center !important;
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.button-content {
    text-align: center !important;
    float: left;
    width: 100%;
    //margin: 15px 0;
}



// .button-default {
//     color: @button-default-color;
//     background-color: @button-default-bg-color;
//     border-color: @button-default-border-color;
//     &:hover {
//         color: @button-default-hover-color;
//         background-color: @button-default-hover-bg-color;
//         border-color: @button-default-hover-border-color;
//     }
// }
// .button-success  {
//     color: @button-success-color;
//     background-color: @button-success-bg-color;
//     border-color: @button-success-border-color;
//     &:hover {
//         color: @button-success-hover-color;
//         background-color: @button-success-hover-bg-color;
//         border-color: @button-success-hover-border-color;
//     }
// }
// .button-warning  {
//     color: @button-warning-color;
//     background-color: @button-warning-bg-color;
//     border-color: @button-warning-border-color;
//     &:hover {
//         color: @button-warning-hover-color;
//         background-color: @button-warning-hover-bg-color;
//         border-color: @button-warning-hover-border-color;
//     }
// }
// .button-danger  {
//     color: @button-danger-color;
//     background-color: @button-danger-bg-color;
//     border-color: @button-danger-border-color;
//     &:hover {
//         color: @button-danger-hover-color;
//         background-color: @button-danger-hover-bg-color;
//         border-color: @button-danger-hover-border-color;
//     }
// }
// .button-info  {
//     color: @button-info-color;
//     background-color: @button-info-bg-color;
//     border-color: @button-info-border-color;
//     &:hover {
//         color: @button-info-hover-color;
//         background-color: @button-info-hover-bg-color;
//         border-color: @button-info-hover-border-color;
//     }
// }

 .button-primary  {
     background-color: #beb0a7;
     color: #ffffff;
     //border-color: @button-primary-border-color;
     &:hover {
         color: #ffffff;
         background-color: #ad9b8f;
         //border-color: @button-primary-hover-border-color;
     }
 }

 input.button-primary {
     cursor: pointer;
     border-radius: 2px;
     border: 1px solid #fff;
     background-color: #beb0a7;
     padding: 6px 20px;
     color: #fff;
     font-family: 'droid_serifregular';
     font-size: 16px;
     box-shadow: 3px 3px 0 #beb0a7, -3px 3px 0 #beb0a7, 3px -3px 0 #beb0a7, -3px -3px 0 #beb0a7;
     &:hover {
         color: #ffffff;
         background-color: #ad9b8f;
     }
 }

.button-success {
    padding: 10px 24px;
    font-size: 16px;
    line-height: 1.3333333;
    border-radius: 2px;
    background-color: #beb0a7;
    color: #ffffff;
    //margin: 0 auto;
    &:hover {
        color: #ffffff;
        background-color: #ad9b8f;
    }
    i {
        font-size: 10px;
        float: none;
    }
    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 3px;
        width: auto;
        height: auto;
        border: 1px solid #fff;
        border-radius: 2px;
    }
}

#body_account_adres_import .button {
    padding: 12px 24px;
    font-size: 16px;
    line-height: 1.3333333;
    border-radius: 2px;
    background-color: #beb0a7;
    color: #ffffff;
    //margin: 0 auto;
    &:hover {
        color: #ffffff;
        background-color: #ad9b8f;
    }
}

.button-middle {
    margin: 0 auto !important;
    display: block;
}