.carousel {
    position: relative;
    border: 1px solid #d8d0ca;
    margin-bottom: 15px;
    overflow:hidden;
    background-color: #f7f6f5;
    &:hover {
        .carousel-left, .carousel-right{
            visibility: visible;
            opacity: 1;
        }
    }
    .carousel-middle {
        > img {
            width: 100%;
        }
    }
    .carousel-left {
        left: 0;
    }
    .carousel-right {
        right: 0;
    }
    .carousel-left, .carousel-right {
        position: absolute;
        top: 0;
        height: 100%;
        z-index: 220;
        > a {
            display: table;
            height: 100%;
            padding: 0 10px;
            i {
                display: table-cell;
                vertical-align: middle;
            }
        }
    }
    a {
        display: inline-block;
        vertical-align: middle;
    }
}