/********************************************
/* THEME COLORS */
/********************************************/
@color-green:#676c45;
@color-pink: #c5868b;
@color-light-pink: #faf4f4;
@color-pink-1: #dcb0b4;
@color-green-1: #a8a462;
@color-grey: #999;
@color-red: #ee8585;


/********************************************
/* H TAGS */
/********************************************/
@h1-color: @color-green;
@h2-color: @color-green;
@h3-color: @color-green;
@h4-color: @color-green;
@h5-color: @color-green;
@h6-color: @color-green;

/********************************************
/* TEXT */
/********************************************/
@text-default-color: #ccc;
@text-success-color: #15B740;
@text-warning-color: #F6C61E;
@text-danger-color: #c5868b;
@text-info-color: @color-green;
@text-primary-color: @color-pink;

/********************************************
/* INPUT CHECKBOX */
/********************************************/
@checkbox-bg-color: #ccc;
@checkbox-border-color: #cacece;
@checkbox-checked-bg-color: #F78621;
@checkbox-checked-border-color: #adb8c0;
@checkbox-checked-color: #fff;


/********************************************
/* LINK */
/********************************************/
@link-color: @color-pink;
@link-hover-color: #676c45;
@link-active-color: @color-green;
@link-focus-color: @color-green;

/********************************************
/* LOGO */
/********************************************/
@logo-link-color: #676c45;
@logo-link-hover-color: #676c45;
@logo-link-active-color: #676c45;
@logo-link-focus-color: #676c45;

/********************************************
/* NAVBAR */
/********************************************/

@topbar-bg-color: @color-pink;
@navbar-bg-color: @color-pink;
@color-lilac: #c48187;
@navbar-collapse-bg-color: #fff;

/* search color */
@navbar-search-bg-color: @link-color;
@search-button-field-color: @link-color;

/* navbar li colors*/
@middlebar-list-hover-bg-color: #faf4f4;
@middlebar-list-border-color: #fff;

/* link colors */
@middlebar-link-bg-color: inherit;
@middlebar-link-color: #82823c ;//@color-green;
@middlebar-link-hover-color: #dcb0b4;//@color-pink;
@middlebar-link-active-color: #dcb0b4;//@color-pink;
@middlebar-link-focus-color: #dcb0b4;//@color-pink;
@middlebar-bg-color: #c1c4b4;

/* Dropdown */
@navbar-dropdown-hover-bg-color: #FFF;
@navbar-dropdown-bg-color: #FFF;
@navbar-dropdown-color: @color-pink;
@navbar-dropdown-hover-color: @color-pink;

/* navbar li colors*/
@topbar-list-bg-color: transparent;
@topbar-list-hover-bg-color: #FFDEBD;

/* link colors */
@topbar-left-link-color: #FFF;
@topbar-left-link-hover-color: #faf4f4;
@topbar-left-link-active-color: #FFF;
@topbar-left-link-focus-color: #FFF;

@topbar-right-link-color: #FFF;
@topbar-right-link-hover-color: #faf4f4;
@topbar-right-link-active-color: #FFF;
@topbar-right-link-focus-color: #FFF;

/* Border color */
@topbar-list-border-color: #F1B988;


/********************************************
/* BUTTON-BLOCK */
/********************************************/
@button-block-bg-color: transparent;
@button-block-link-bg-color: #faf4f4;
@button-block-link-hover-bg-color: #E4CECE;
@button-block-link-active-bg-color: #faf4f4;
@button-block-link-focus-bg-color: #faf4f4;
@button-block-title-color: #56611E;
@button-block-text-color: #666668;

/********************************************
/* CARDBLOCK */
/********************************************/
@card-block-bg-color: #FDF3E9;
@card-block-border-color: #e4e8e8;
@card-block-title-color: @color-green;
@card-block-footer-color: @color-pink;


/********************************************
/* BUTTON-BLOCK-IMG */
/********************************************/
@button-block-img-bg-color: transparent;
@button-block-img-link-bg-color: transparent;
@button-block-img-link-hover-bg-color: transparent;
@button-block-img-link-active-bg-color: transparent;
@button-block-img-link-focus-bg-color: transparent;
@button-block-img-title-color: #fff;
@button-block-img-text-color: #fff;

/********************************************
/* LIST-HORIZONTAL */
/********************************************/
@button-horizontal-color: #DB965B;
@button-horizontal-hover-color: #575757;
@button-horizontal-active-color: #575757;
@button-horizontal-focus-color: #575757;
@button-horizontal-sub-color: #F8AB6B;

/********************************************
/* BREADCRUMB */
/********************************************/

@breadcrumb-color: inherit;
@breadcrumb-hover-color: @color-pink;
@breadcrumb-active-color: @color-pink;
@breadcrumb-focus-color: @color-pink;

/********************************************
/* THUMBNAILS */
/********************************************/
@thumbnail-bg-color: #fff;
@thumbnail-border-color: #DFE5E5;
@thumbnail-footer-bg-color: #fff;
@thumbnail-footer-h3-color: @color-green;
@thumbnail-footer-p-color: inherit;

@thumbnail-fluid-img-bg-color: #ccc;
@thumbnail-fluid-footer-bg-color: #faf4f4;
@thumbnail-fluid-footer-h3-color: @color-green;
@thumbnail-fluid-footer-p-color: inherit;

@thumbnail-button-border-color: transparent;

/********************************************
/* BUTTON */
/********************************************/

@button-default-bg-color: #fff;
@button-success-bg-color: @color-green;
@button-warning-bg-color: #F6C61E;
@button-danger-bg-color: #FA9485;
@button-info-bg-color: @color-green;
@button-primary-bg-color: @color-pink;
@button-pink-bg-color: #ca979c;

@button-default-color: #333;
@button-success-color: #fff;
@button-warning-color: #fff;
@button-danger-color: #fff;
@button-info-color: #fff;
@button-primary-color: #fff;
@button-pink-color: #fff;

@button-default-border-color: #ccc;
@button-success-border-color: #15B740;
@button-warning-border-color: #FA9485;
@button-danger-border-color: #FA9485;
@button-info-border-color: @color-green;
@button-primary-border-color: @color-pink;
@button-pink-border-color: #ca979c;

@button-default-hover-bg-color: #e6e6e6;
@button-success-hover-bg-color: #e6e6e6;
@button-warning-hover-bg-color: #e6e6e6;
@button-danger-hover-bg-color: #e6e6e6;
@button-info-hover-bg-color: #e6e6e6;
@button-primary-hover-bg-color: #e6e6e6;
@button-pink-hover-bg-color: #dcb0b4;

@button-default-hover-color: #555;
@button-success-hover-color: #555;
@button-warning-hover-color: #555;
@button-danger-hover-color: #555;
@button-info-hover-color: #555;
@button-primary-hover-color: #555;
@button-pink-hover-color: #fff;

@button-default-hover-border-color: #adadad;
@button-success-hover-border-color: #adadad;
@button-warning-hover-border-color: #adadad;
@button-danger-hover-border-color: #adadad;
@button-info-hover-border-color: #adadad;
@button-primary-hover-border-color: #adadad;

/********************************************
/* FIELD */
/********************************************/

@field-input-bg-color: #fff;
@field-input-color: #555;
@field-input-border-color: #ccc;
@field-input-select-bg-color: #FFECDB;

/********************************************
/* ACCORDION */
/********************************************/
@accordion-bg-color: transparent;
@accordion-active-color: @color-green;
@accordion-border-bottom-color: #DFE5E5;

@accordion-link-bg-color: transparent;
@accordion-link-color: @color-green;

/********************************************
/* BOX */
/********************************************/
@box-bg-color: #fff;
@box-border-color: #E4E8E8;
@box-footer-border-top-color: #E4E8E8;

@box-default-body-bg-color: #fff;
@box-default-footer-bg-color: #fff;

@box-primary-body-bg-color: #fff;
@box-primary-footer-bg-color: #F2ECEC;

/********************************************
/* CAROUSEL */
/********************************************/
@carousel-bg-color: transparent;
@carousel-border-color: transparent;

/********************************************
/* LIST-VERTICAL */
/********************************************/
@list-vertical-link-color: @color-pink;
@list-vertical-link-active-color: @color-pink;
@list-vertical-link-hover-color: @color-pink;
@list-vertical-link-focus-color: @color-pink;

@list-vertical-list-sub-border-left-color: @color-pink;
@list-vertical-link-sub-color: @color-pink;
@list-vertical-link-sub-active-color: @color-pink;
@list-vertical-link-sub-hover-color: @color-pink;
@list-vertical-link-sub-focus-color: @color-pink;

/********************************************
/* PILLS */
/********************************************/

@pills-bg-color: transparent;
@pills-border-bottom-color: #ccc;
@pills-list-border-color: #ccc;

@pills-link-bg-color: #FFF;
@pills-link-color: @color-pink;

@pills-link-active-color: inherit;
@pills-link-hover-color: inherit;
@pills-link-focus-color: inherit;

@pills-link-active-bg-color: #faf4f4;
@pills-link-hover-bg-color: #faf4f4;
@pills-link-focus-bg-color: #faf4f4;

/********************************************
/* TABLE */
/********************************************/
@table-bg-color: #fff;
@table-border-color: #ddd;
@table-thead-bg-color: #FBF7F8;

/********************************************
/* THUMBNAIL-CARD */
/********************************************/
@thumbnail-card-bg-color: #fff;
@thumbnail-card-border-color: transparent;
@thumbnail-card-label-bg-color: transparent;

/********************************************
/* THUMBNAIL-PEOPLE */
/********************************************/
@thumbnail-people-bg-color: transparent;
@thumbnail-people-border-color: transparent;
@thumbnail-people-h3-color: @color-green;
@thumbnail-people-p-color: inherit;

/********************************************
/* THUMBNAIL-SLIDER */
/********************************************/
@thumbnail-slider-bg-color: #ffffff;
@thumbnail-slider-border-color: #faf4f4;

/********************************************
/* THUMBNAIL-SCROLLER */
/********************************************/
@thumbnail-scroller-bg-color: transparent;
@thumbnail-scroller-bg-image: url(https://hippe-geboortekaartjes.nl/img/prevLine.png) no-repeat top center;

/********************************************
/* VISUAL */
/********************************************/
@visual-bg-color: transparent;
@visual-border-bottom: #ccc;

/********************************************
/* ADDRESS-LIST */
/********************************************/
@address-list-border-color: #ccc;