#body_home #categories {
    display: none;
}

#body_home #pagecontent {
    width: 100%;
}

#body_design #pagecontent {
    width: 100%;
}

#body_home .content-wrapper.container {
    max-width: 100%;
    padding: 0;
}

#body_home h3 {
    color: #da7d8f;
}

@media only screen and (min-width: @sm) {
    #body_home .spacer-home {
        display: inline-block;
        width: 20px;
    }
}

@media only screen and (max-width: @sm) {
    #body_home .spacer-home {
        display: none;
    }
}

#body_home {
    line-height: normal;
}

#body_home #pagebody form label {
    display: none;
}

#dialog-confirm p#dialog-confirm-text, #dialog-ok p#dialog-ok-text {
    margin-bottom: 0;
}

#body_zoeken #categories {
    display: block !important;
}

#categories {
    margin-top: -19px;
}

#categories .sidebar-text {
    padding: 17px 0px 40px 0px;
    font-style: italic;
}

#categories .sidebar-text hr {
    border: none;
    height: 1px;
    background-color: #e2dbd7;
    margin: 10px 0px 15px 0px;
}

hr {
    border: none;
    height: 1px;
    background-color: #e2dbd7;
    margin: 10px 0px 15px 0px;
}

.foto-info {
    padding-left: 12px;
    margin-bottom: 20px;
}

/*#body_design a.accordion-button {
    color: #da7d8f;
    text-transform: uppercase;
    font-style: normal;

    .icon-chevron-right {
        display: none;
    }
}

#body_design a.active {
    color: #da7d8f !important;
    text-transform: uppercase;
    font-style: normal;

    .icon-chevron-right, .icon-chevron-down {
        display: none;
    }
}

#body_design {
    table, table td, table th {
        border: 1px solid #f2f2f2;
        padding: 6px 10px;
        line-height: 22px;
        font-size: 14px;
    }
}

#body_design #envelope {
    position: absolute;
    top: 400px;
    left: 400px;
    width: 250px;
}

#body_design #envelope span {
    display: block;
    vertical-align: middle;
}

#body_design #envelope #envelope_select-button {
    width: 240px!important;
}

#body_design #envelope>span:first-child {
    position: absolute;
    right: 255px;
    top: 4px;
    white-space: nowrap;
}

#body_design .swiper-controls {
    margin-top: 100px;
}*/

#body_design #card_previews_horizontal {
    margin-top: 0;
    width: auto;
    height: 230px;
    overflow: hidden;
    position: relative;
    -webkit-mask-image: -webkit-linear-gradient(left,rgba(0,0,0,0) 0,#000 15%,#000 85%,rgba(0,0,0,0) 100%);
    mask: url(design_mask.svg#mask);
    padding-top: 30px;
}

#body_account_adresboek .md-offset-3 {
    margin-left: 0;
}

#body_eigen_collectie form a {
    text-decoration: none!important;
}

#body_bestel_details h2 {
    font-style: normal;
    font-size: 18px;
}

#body_bestel_details #price_table th {
    color: #403c3d;
    font-style: italic;
    font-size: 12px;
}

#body_bestel_details .border-below td, #body_bestel_details .border-below th {
    border-bottom: none;
}

#body_bestel_details .fat-border-below td {
    border-bottom: 2px solid #f2f2f2;
}

#body_address_n h3 {
    color: #da7d8f;
    font-size: 16px !important;
    font-style: normal;
    text-transform: none;
}

#body_address_n #adv04 {
    margin-top: 5px;
    background: url(/common/gfx/tip-adv-04.png) no-repeat 0 0;
    width: 260px;
    height: 321px;
}

#body_basket a.button:after, #body_voorbeeld a.button:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 3px;
    width: auto;
    height: auto;
    border: 1px solid #fff;
    border-radius: 2px;
}

#body_basket table a.button:after {
    content: '';
    border: none;
}

#body_bestel_details input.button, #body_account_nieuwsbrief input.button, #body_account_adres_import input.button {
    cursor: pointer;
    border-radius: 2px;
    border: 1px solid #fff;
    background-color: #beb0a7;
    padding: 6px 20px;
    color: #fff;
    font-family: 'droid_serifregular';
    font-size: 16px;
    box-shadow: 3px 3px 0 #beb0a7, -3px 3px 0 #beb0a7, 3px -3px 0 #beb0a7, -3px -3px 0 #beb0a7;

    &:hover {
        color: #fff;
        background-color: #ad9b8f;
    }
}

#body_enveloppen-info .env-label {
    text-align: center;
    margin-bottom: 25px;
}

#body_404error #categories {
    display: none;
}

#body_bestel_details input, #body_basket input, #body_address_n input, #body_addresses input {
    -webkit-appearance: none; /*Safari/Chrome*/
    -moz-appearance: none; /*Firefox*/
    -ms-appearance: none; /*IE*/
    -o-appearance: none; /*Opera*/
    appearance: none;
}

#body_trouwhuisstijl .md-6 {
    margin-bottom: 30px;
}

.trouwhuisstijl-nav {
    display: none;
    margin-top: 10px;
}

.trouwhuisstijl-nav img {
    margin-top: 3px;
}

.trouwhuisstijl-nav a.cate_more {
    padding: 10px 24px;
    font-size: 16px;
    line-height: 1.3333333;
    border-radius: 2px;
    background-color: #beb0a7;
    color: #ffffff;
    width: 100%;
    margin-bottom: 0px;
    &:hover {
        color: #ffffff;
        background-color: #ad9b8f;
    }
    i {
        font-size: 10px;
        float: none;
    }
    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 3px;
        width: auto;
        height: auto;
        border: 1px solid #fff;
        border-radius: 2px;
    }
}

.fixed {
    display: inline-block !important;
}

#navHulp {
    display: none;
}

.ui-accordion {
    margin-top: 42px !important;
}

#uploadPanel input {
    border: none;
}

.navbar .container {
    padding: 0;
}

@media only screen and (max-width: @sm) {
    .background-default {
        position: relative;
        float: left;
        background-color: #f7f6f4;
        width: 100%;
        padding: 28px 0px 10px 0px;
        margin-bottom: 25px;
    }
}

@media only screen and (min-width: @sm) {
    .background-default {
        position: relative;
        float: left;
        background-color: #f7f6f4;
        width: 100%;
        padding: 36px 0px 10px 0px;
        margin-bottom: 36px;
    }
}

.ui-dialog {
    font-family: 'droid_serifregular' !important;
    .ui-dialog-titlebar {
        border: none !important;
        background: none !important;
    }
    .ui-widget-content {
        border: none !important;
    }
    .ui-dialog-buttonpane {
        padding: .3em 0 0 .4em !important;
    }
    .ui-state-default.ui-dialog-titlebar-close {
        padding: 6px 6px !important;
        height: 24px;
        width: 24px;
        font-size: 16px !important;
        line-height: 1.3333333 !important;
        border-radius: 50% !important;
        background: url(/img/btn-close.png) top left no-repeat !important;
        color: #ffffff !important;
        border: 1px solid transparent !important;
        margin-top: -16px;
    }
    .ui-state-default {
        padding: 5px 10px 5px 10px;
        font-size: 16px !important;
        line-height: 1.3333333 !important;
        border-radius: 2px !important;
        background: #beb0a7 !important;
        color: #ffffff !important;
        border: 1px solid transparent !important;
        &:hover {
            background: #ad9b8f !important;
        }
        .ui-icon {
            //background-image: url(/img/close_icon.png) !important;
        }
    }
    .ui-state-default.ui-dialog-titlebar-close:hover {
        background: url(/img/btn-close.png) top left no-repeat !important;
    }
}

.thumbnail-scroller-left > a, .thumbnail-scroller-right > a {
    font-size: 4px;
    color: #fff;
    text-align: center;
}

.thumbnail-scroller-left > a > i, .thumbnail-scroller-right > a > i {
    background-color: #da7d8f;
    height: 30px;
    width: 30px;
    display: block;
    position: absolute;
    padding: 1px 0;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    line-height: 24px;
}

.thumbnail-scroller-left > a:hover > i, .thumbnail-scroller-right > a:hover > i {
    background-color: #beb0a7;
}

.thumbnail-scroller-left > a > i:after, .thumbnail-scroller-right > a > i:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 2px;
    width: auto;
    height: auto;
    border: 1px solid #fff;
    border-radius: 50%;
    z-index: 1;
}


#footer {
    @media only screen and (min-width: @md) {
        background-color: #f7f6f5;
        color: #403c3d;
        padding: 34px 0 33px 0;
        text-align: center;
    }

    @media only screen and (max-width: @md) {
        background-color: #f7f6f5;
        color: #403c3d;
        padding: 18px 0 27px 0;
        text-align: center;
    }

    .rich-snippets {
        display: none;
    }

    ul {
        margin: 0;
        @media only screen and (min-width: @xsm) {
            li {
                display: inline-block;
                margin-right: -4px;
                text-transform: uppercase;
                font-size: 14px;
                padding-right: 27px;

                a {
                    color: #403c3d;

                    &:hover {
                        color: #da7d8f;
                    }
                }
            }
        }
        @media only screen and (max-width: @xsm) {
            li {
                display: block;
                text-transform: uppercase;
                font-size: 14px;
                margin-top: 10px;

                a {
                    color: #403c3d;

                    &:hover {
                        color: #da7d8f;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: @xsm) {
        .copyright span {
            display: block;
            margin-bottom: 6px;
        }
        span.footer-pipe {
            display: none;
        }
    }

    .copyright {
        font-size: 13px;
        margin: 0;
        padding: 21px 0 0 0;
        color: #a19d9d;

        a {
            color: #a19d9d;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .f-social {
        margin: 0;
        padding: 3px 0 0 0;

        li {
            display: inline-block;
            margin-right: -4px;
            padding-left: 6px;

            a {
                display: block;
                font-size: 0;
                line-height: 1;

                &:after {
                    font-family: simplefly;
                    font-size: 18px;
                }

                &:hover {
                    color: #e6e3b9;
                }
            }

            &.facebook a:after {
                content: "j";
            }

            &.pinterest a:after {
                content: "n";
            }

            &.twitter a:after {
                content: "o";
            }
        }
    }
}


#sidebar {
    nav {
        padding-top: 0px;

        h2 {
            display: none;
        }
    }
}

#filter_cards {
    #filter_menu > ul {
        border-bottom: 1px solid #e2dbd7;
        padding-bottom: 5px;
        padding: 16px 0;
    }

    label {
        cursor: pointer;
    }

    /*input[type="checkbox"] {
        position: absolute;
        clip: rect(0, 0, 0, 0);

        &:checked {
            + label .custom_checkbox {
                background-color: #969983;
                border-color: #969983;
                position: relative;

                &:after {
                    content: "";
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    margin-top: -6px;
                    margin-left: -2px;
                    width: 3px;
                    height: 7px;
                    border: 2px solid #fff;
                    border-left: 0;
                    border-top: 0;
                    transform: rotate(45deg);
                }
            }
        }
    }

    .custom_checkbox {
        width: 15px;
        height: 15px;
        border: 1px solid #d8d6b8;
        display: inline-block;
        border-radius: 3px;
        margin-right: 6px;
    }*/

    label {
        font-size: 14px;
        line-height: 26px;
        margin: 0;
    }

    input[type="checkbox"] {
            display:none;
        }
    input[type="checkbox"] + label span {
        display: inline-block;
        width: 15px;
        height: 15px;
        background: url(/img/checkbox.png) left top no-repeat;
        margin: -3px 5px 0px 0px;
        vertical-align: middle;
        cursor: pointer;
    }
    input[type="checkbox"]:checked + label span {
        background:url(/img/checkbox_checked.png) left top no-repeat;
    }

    h3 {
        display: block;
        vertical-align: middle;
        background-color: transparent;
        padding: 0;
    }

    .kleur {
        li {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            display: inline-block;
            margin: 0px 0px 7px;
            position: relative;

            label {
                font-size: 0;
                width: 30px;
                height: 30px;
                vertical-align: top;
                cursor: pointer;
            }

            .custom_checkbox {
                position: absolute;
                left: 50%;
                top: 50%;
                margin-top: -6px;
                margin-left: -2px;
                width: 5px;
                height: 9px;
                border: 2px solid #fff;
                border-left: 0;
                border-top: 0;
                transform: rotate(45deg);
                border-radius: 0;
                display: none;
                background-image: none;
            }

            input[type="checkbox"]:checked + label .custom_checkbox {
                display: block;
                background-color: transparent;
                border-color: #fff;
                background-image: none;

                &:after {
                    display: none;
                }
            }

            &#tagli-bruin-taupe {
                background-color: #b7ab9c;
            }

            &#tagli-mint {
                background-color: #a6c1aa;
            }

            &#tagli-oranje {
                background-color: #FFA500;
            }

            &#tagli-kleurrijk {
                background: transparent linear-gradient(-55deg, #387ED7 40%, #A2D49F 30%, #A2D49F 40%, #C7C12F 40%, #C7C12F 50%, #F26247 50%, #F26247 60%, #EC2045 60%, #EC2045 70%) repeat scroll 0% 0%;
            }

            &#tagli-pastel {
                background: transparent linear-gradient(-55deg, #BFDCC9 40%, #F2E9C2 40%, #F2E9C2 50%, #F7CDC4 50%, #F7CDC4 60%, #CDD4E0 60%, #CDD4E0 70%) repeat scroll 0% 0%;
            }

            &#tagli-blauw {
                background-color: #7a9bbc;
            }

            &#tagli-wit {
                background-color: #fff;
                border: 1px solid #ddd;

                .custom_checkbox {
                    border-color: #000;
                }
            }

            &#tagli-zilver {
                background-color: #C0C0C0;
            }

            &#tagli-groen {
                background-color: #008654;
            }

            &#tagli-rood {
                background-color: #DB1704;
            }

            &#tagli-zwart-wit {
                background: transparent linear-gradient(to right, #FFF 0px, #FFF 50%, #000 51%, #000 100%) repeat scroll 0% 0%;
                border: 1px solid #ddd;
            }

            &#tagli-bruin {
                background-color: #7B6A4F;
            }

            &#tagli-zwart {
                background-color: #000;
            }

            &#tagli-grijs {
                background-color: #92959F;
            }

            &#tagli-paars {
                background-color: #a597c6;
            }

            &#tagli-roze {
                background-color: #f874ab;
            }

            &#tagli-goud {
                background-color: #DAA520;
            }

            &#tagli-geel {
                background-color: #f7dd51;

                .custom_checkbox {
                    border-color: #000;
                }
            }
        }
    }
}

.thumbnail-slider .thumbnail-slider-bottom a {
    color: @color-green-1;
}

#mid {
    padding-top: 15px;
    //padding-bottom: 15px;
}

@media only screen and (max-width: @xsm) {
    .cols  {
        margin-right: -5px;
        margin-left: -5px;
    }

    .lg-1, .lg-10, .lg-11,
    .lg-12, .lg-2, .lg-3,
    .lg-4, .lg-5, .lg-6,
    .lg-7, .lg-8, .lg-9, .lg-15,
    .xs-1, .xs-10, .xs-11,
    .xs-12, .xs-2, .xs-3,
    .xs-4, .xs-5, .xs-6,
    .xs-7, .xs-8, .xs-9, .xs-15,
    .xsm-1, .xsm-10, .xsm-11,
    .xsm-12, .xsm-2, .xsm-3,
    .xsm-4, .xsm-5, .xsm-6,
    .xsm-7, .xsm-8, .xsm-9,
    .xsm-15,
    .sm-1, .sm-10, .sm-11,
    .sm-12, .sm-2, .sm-3,
    .sm-4, .sm-5, .sm-6,
    .sm-7, .sm-8, .sm-9, .sm-15,
    .md-1, .md-10, .md-11,
    .md-12, .md-2, .md-3,
    .md-4, .md-5, .md-6,
    .md-7, .md-8, .md-9, .md-15 {
        position: relative;
        min-height: 1px;
        padding-right: 7px;
        padding-left: 7px;
    }

    #body_home {
        #mid {
            padding-top: 22px
            //padding-bottom: 40px;
        }

        #categories {
            display: none;
        }

        h2 {
            font-size: 18px;
            font-style: italic;
            margin-bottom: 4px;
            clear: both;
            line-height: 23px;
        }

        .over-ons h2 {
            margin-bottom: 16px;
        }

        h3 {
            font-size: 16px;
            margin-bottom: 8px;
            color: #da7d8f;
        }

        p {
            margin-bottom: 18px;
        }

        .visual {
            p {
                margin-bottom: 9px;
            }
        }

        .background-default {
            p {
                margin-bottom: 16px;
            }
        }

        .over-ons p {
            margin-bottom: 6px;
        }

        .thumbnail {
            padding: 0;
            border: 0;
            //margin-bottom: 30px;

            .thumbnail-footer {
                margin-top: 0;

                h3 {
                    font-size: 16px;
                }
            }

            img {
                //-webkit-border-radius: 8px;
                //-moz-border-radius: 8px;
                //border-radius: 8px;
            }
        }

        .thumbnail-slider {
            margin-top: 12px;
            margin-bottom: 45px;
        }
    }
}

@media only screen and (min-width: @sm) {
    #body_home {
        #mid {
            padding-top: 19px;
            //padding-bottom: 40px;
        }

        #categories {
            display: none;
        }

        h2 {
            font-size: 26px;
            font-style: italic;
            margin-bottom: 13px;
            clear: both;
        }

        .over-ons h2 {
            margin-bottom: 25px;
        }

        h3 {
            font-size: 20px;
            margin-bottom: 24px;
            color: #da7d8f;
        }

        .thumbnail {
            padding: 0;
            border: 0;
            //margin-bottom: 30px;

            .thumbnail-footer {
                margin-top: 0;

                h3 {
                    font-size: 16px;
                }
            }

            img {
                //-webkit-border-radius: 8px;
                //-moz-border-radius: 8px;
                //border-radius: 8px;
            }
        }

        .thumbnail-slider {
            margin-top: 12px;
            margin-bottom: 45px;
        }
    }
}

#crumbs {
    font-size: 13px;
    color: #beb0a7;
    margin-bottom: 50px;
    margin-left: 15px;
    margin-top: -17px;

    a {
        font-size: 13px;
        text-transform: capitalize;
    }
}

.contactfrm {
    margin-top: 40px;
    padding-top: 40px;
    border-top: 1px solid #d8d0ca;
}

#cookie_message {
    height: auto !important;
}

#contact {
    ul {
        list-style: none;

        li {
            &:before {
                display: none !important;
            }
        }
    }

    em {
        font-style: normal;
    }

    label {
        font-weight: 400;
    }

    input.error {
        border-color: #ea6767;
    }

    label.error {
        color: #ea6767;
        margin-top: 5px;
    }

    .submit {
        text-align: right;

        input[type="submit"] {
            cursor: pointer;
            padding: 8px 16px 8px 16px;
            font-size: 16px;
            line-height: 1.3333333;
            border-radius: 2px;
            background-color: #beb0a7;
            color: #ffffff;
            font-family: @mainFont;

            &:hover {
                color: #ffffff;
                background-color: #ad9b8f;
            }
        }
        .input-wrapper {
            position: relative;
            display: inline-block;
            /*&:after {
                content: 'f';
                font-family: @iconFont;
                font-size: 10px;
                position: absolute;
                top: 7px;
                right: 9px;
                color: #ffffff;
            }*/
        }
    }
}

.h-block {
    padding: 10px 0 15px;
}

#pagecontent {
    ul li {
        &:before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: #da7e8e;
            margin-right: 12px;
        }
    }

    table {
        margin-bottom: 20px;
    }
}

// btn logout
.buttonr {
    cursor: pointer;
    border-radius: 2px;
    border: 1px solid #fff;
    background-color: #beb0a7;
    padding: 6px 20px;
    color: #fff;
    font-family: @mainFont;
    font-size: 16px;
    box-shadow: 3px 3px 0 #beb0a7, -3px 3px 0 #beb0a7, 3px -3px 0 #beb0a7, -3px -3px 0 #beb0a7;

    &:hover {
        color: #fff;
        background-color: #ad9b8f;
    }
}

.cat-mobile {
    display: block;
    margin-bottom: 15px;

    select {
        border: none;
        background: #dcb0b4 url(/img/catlist.png) no-repeat right 10px center;
        color: #fff;
        font-family: @mainFont;
        width: 100%;
        padding: 6px 10px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        font-size: 16px;
    }
}

.tag-group-ul h3 {
    position: relative;
    cursor: pointer;
    margin-bottom: 0;
    padding: 0;
}

.tag-group-ul h3 i {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 12px;
}

.tag-group-ul ul {
    padding-top: 15px;
    display: none;
}

.tag-group-ul ul.show {
    display: block!important;
}

#body_design .accordion .active {
     color: #da7d8f !important;
}

.hide-body-scroll {
    position: fixed;
    height: 100%;
    width: 100%;

}

@media screen and(min-width: @sm) {
    #contact {
        max-width: 610px;

        li {
            display: table;
            width: 100%;

            + li {
                margin-top: 10px;
            }

            > label {
                display: table-cell;
                width: 170px;
                line-height: 40px;
            }

            p {
                display: table-cell;
                vertical-align: middle;
            }
        }
    }

    #footer {
        //text-align: left;

        .container {
            position: relative;
        }

        .f-social {
            position: absolute;
            right: 15px;
            top: 0;
        }
    }
}

@media screen and(min-width: @md) {
    #body_main_category {
        #sidebar {
            margin-top: 60px;
        }
    }
}

@media screen and (min-width: @mid) {
    #body_home {
        #categories {
            display: none;
        }
    }

    .cat-mobile {
        display: none;
    }
}

@media screen and (min-width: 820px) {
    div.filCTAwrp {
        display: none;
    }
}

@media screen and (max-width: 820px) {
    div.filCTAwrp {
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        display: block;
        z-index: 10000;
    }

    div.filCTAwrp a.filCTA {
        display: inline-block;
        box-sizing: border-box;
        padding: 7px 15px 3px 15px;
        color: #fff;
        background: #da7d8f;
        float: right;
        font-size: 16px;
    }

    div.filCTAwrp a.filCTA:before {
        font-family: kcicons;
        content: 'v';
        padding-right: 5px;
        font-size: 16px;
        display: inline-block;
    }

    div.filCTAwrp a.filCTA:after {
        content: 'Filter';
        display: inline-block;
        vertical-align: 2px;
    }

    div.filCTAwrp div.filRes {
        display: none;
    }

    .mobFilter {
        overflow-y: auto;
        background: #fff;
        padding: 25px;
        display: none;
    }

    .mobFilter.active {
        position: fixed;
        display: block;
        left: 0;
        top: 0;
        bottom: 40px;
        right: 0;
        z-index: 10000;
    }

    div.filCTAwrp.active div.filRes {
        background: #da7d8f;
        color: #fff;
        padding: 7px 15px 5px;
        min-height: 40px;
        box-sizing: border-box;
        width: 100%;
        text-align: center;
        display: block;
        cursor: pointer;
        font-size: 16px;
    }

    div.filCTAwrp.active div.filRes:hover {
        background-color: #39bc9e;
    }

    div.filCTAwrp.active a.filCTA {
        display: none;
    }
}

@media only screen and (max-width: @xsm) {
    #card_previews .xsm-12 {
        width: 50% !important;
    }
}

@media only screen and (max-width: @md) and (min-width: @xsm) {
    #card_previews .xsm-12 {
        width: 25% !important;
    }
}

/* Inspiratie pagina's */
div.inspiBlok {
    margin-bottom:45px;
    width:100%;
}

div.inspiBlok h2 {
    width:100%;
    display:block;
    clear:both;
}

div.inspiBlok h2 em {
    float:right;
    margin-right:11px;
    font-size:14px;
    font-style: normal;
}

div.inspiTem {
    position:relative;
    overflow:hidden;
    width:207px;
    height:207px;
    float:left;
    vertical-align:top;
    margin-right:10px;
    margin-bottom:10px;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}

div.inspiTem a {
    width:100%;
    height:100%;
    display:inline-block;
}

div.inspiTem img {
    min-width:100%;
    min-height:100%;
    max-height:150%;
    max-width:150%;
    height:auto;
    width:auto;
    position:absolute;
    left:50%;
}

div.hovShow {
    background: rgb(54, 25, 25);
    background: rgba(255, 255, 255, .8);
    position:absolute;
    top:-100%;
    left:0px;
    width:100%;
    opacity:0;
    height:100%;
    z-index:999;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}

div.inspiTem:hover .hovShow {
    opacity:1;
    top:0px;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
    -webkit-box-shadow:inset 0 0 10px 0 #8A8A8A;
    box-shadow:inset 0 0 10px 0 #8A8A8A;
}

div.hovShow a.vergroot {
    display:inline-block;
    width:32px;
    height:32px;
    background:url(/img/zoom.png) no-repeat;
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-38px;
    margin-top:-16px;
}

div.hovShow a.linknaar {
    display:inline-block;
    width:32px;
    height:32px;
    background:url(/img/linkto.png) no-repeat;
    position:absolute;
    top:50%;
    right:50%;
    margin-right:-38px;
    margin-top:-16px;
}

a.cycle-slide {
    width: 180px;
    height: 200px;
}

.thumbnail-scroller .add_fav_design {
    display: none !important;
}