#body_design {

    #categories {
        display: none;
    }

    .envgroot {
        -ms-transform: rotate(8deg);
        -webkit-transform: rotate(8deg);
        transform: rotate(8deg);
        right: 45px;
        top: 65px;
        width: 220px;
        height: 145px;
        background-size: 100% 100% !important;
    }

    .rich-snippets {
        font-size: 14px;
    }

    span.envview {
        span.env {
            background: #eeeded url("/img/envtransklein.png") no-repeat scroll 0 0;
            background-size: 100% 100%;
            width: 115px;
            height: 95px;
            display: inline-block;
            position: absolute;
            right: -25px;
            top: 49px;
            z-index: 0;
            -ms-transform: rotate(10deg);
            -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
        }
    }

    #envelope {
        position: static !important;
        width: auto !important;
        margin-bottom: 20px;

        > span {
            font-size: 15px;
            display: block;
        }
    }

    #envelope_select-button {
        width: 250px !important;

        .ui-selectmenu-text {
            text-indent: 38px !important;
            padding: 7px;
            height: auto !important;
            font-family: @mainFont;
            font-size: 16px;
        }
    }

    .box-primary {
        margin-bottom: 20px;

        .icon-favorite-heart,
        .proefDrukPrijs {
            color: #da7d8f;
            font-size: 14px;
            margin-bottom: 0;
        }

        .icon-favorite-heart {
            font-size: 18px;
            vertical-align: middle;
        }
    }

    /*#choose_preview {
        font-size: 28px;
        border-radius: 10px;
        padding: 4px 15px 4px 32px;
        text-align: left;

        .icon-arrow-right {
            position: absolute;
            margin-left: 15px;
            font-size: 14px;
            top: 0;

            &:after {
                content: ">>";
                font-family: 'brain_flower_euro' !important;
                font-size: 36px;
                letter-spacing: -7px;
            }
        }
    }*/

    .accordion {
        font-size: 14px;
        line-height: 22px;
        border-top: 0;
        border-bottom: 1px solid #dedbd4;
        margin: 0;

        &.first {
            border-top: 1px solid #dedbd4;
        }

        > a {
            text-transform: uppercase;
            color: #da7d8f;
            font-style: normal;

            > i {
                display: none;
            }
        }

        .accordion-body div {
            //text-transform: capitalize;
            zoom: 1;

            &:after {
                clear: both;
                content: ".";
                display: block;
                height: 0;
                line-height: 0;
                visibility: hidden;
            }

            span {
                display: inline-block;
                width: 150px;
                float: left;
                text-transform: uppercase;
            }
        }

        .prijsOf {
            &,
            th,
            td {
                border: 0;
                padding: 0;
            }

            td.sizeTd {
                padding-right: 25px;
            }

            .priceTd span {
                display: inline-block;
                width: auto;
                float: none;
                vertical-align: top;
                text-transform: lowercase !important;
            }
        }

        td.priceInfoTd {
            position: relative;

            &:hover div.priceHover {
                display: block;
            }

            &:before {
                text-transform: none;
                font-family: "kcicons";
                content: "k";
                cursor: pointer;
                padding-left: 5px;
                font-size: 16px;
                vertical-align: -3px;
                color: #da7d8f;
            }

            div.priceHover {
                display: none;
                z-index: 500;
                padding: 15px;
                background: #FFF none repeat scroll 0% 0%;
                position: absolute;
                top: 15px;
                right: 20px;
                width: 270px;
                box-shadow: 0 0 5px 0 #575757;
            }

            table {
                width: 100%;

                &,
                th,
                td {
                    border: 0;
                }
            }
        }
    }

    .prijsTab {
        line-height: 27px;

        .zenv {
            clear: both;
        }
    }
}

.swiper-slide {
    img {
        z-index: 900;
    }
}

.swiper-controls {
    span {
        cursor: pointer;
        margin-top: 20px;
    }

    span.envview {
        img {
            left: 0;
            position: relative;
            top: 0;
            z-index: 1;
        }
    }
}

#card_previews_horizontal {
    margin-top: 20px;

    #inner {
        //position: static !important;
        border-radius: 10px;
        padding: 0 45px;
    }
}

.cardrail {
    border-top: 1px solid #f0e6e6;
    margin: 50px 0 50px 0;

    #prev_page, #next_page {
        position: absolute;
        top: 50%;
        margin-top: -25px;
        cursor: pointer;
        color: #fff;
        background-color: #da7d8f;
        height: 34px;
        width: 34px;
        border-radius: 50%;
        line-height: 30px;
        text-align: center;
        font-family: @iconFont;
        font-size: 9px;

        &:hover {
            background-color: #beb0a7;
        }

        &:after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: 2px;
            width: auto;
            height: auto;
            border: 1px solid #fff;
            border-radius: 50%;
            z-index: 1;
        }
    }

    #next_page {
        right: 15px;
        &:after {
            content: 'j';
        }
    }

    #prev_page {
        left: 15px;
        &:after {
            content: 'i';
        }
    }
}

/*@media screen and (min-width: @sm) {
    #card_previews_horizontal #inner {
        padding: 13px 100px 7px;
    }

    .cardrail #next_page,
    .cardrail #prev_page {
        font-size: 80px;
        width: 70px;
    }

    .cardrail #next_page {
        right: 35px;
    }

    .cardrail #prev_page {
        left: 35px;
    }
}*/
