@charset "UTF-8";

@font-face {
    font-family: 'droid_serifregular';
    src: url('/css/fonts/DroidSerif-Regular-webfont.eot');
    src: url('/css/fonts/DroidSerif-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/DroidSerif-Regular-webfont.woff') format('woff'),
         url('/css/fonts/DroidSerif-Regular-webfont.ttf') format('truetype'),
         url('/css/fonts/DroidSerif-Regular-webfont.svg#droid_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'droid_serifitalic';
    src: url('/css/fonts/DroidSerif-Italic-webfont.eot');
    src: url('/css/fonts/DroidSerif-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/DroidSerif-Italic-webfont.woff') format('woff'),
         url('/css/fonts/DroidSerif-Italic-webfont.ttf') format('truetype'),
         url('/css/fonts/DroidSerif-Italic-webfont.svg#droid_serifitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'droid_serifbold';
    src: url('/css/fonts/DroidSerif-Bold-webfont.eot');
    src: url('/css/fonts/DroidSerif-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/DroidSerif-Bold-webfont.woff') format('woff'),
         url('/css/fonts/DroidSerif-Bold-webfont.ttf') format('truetype'),
         url('/css/fonts/DroidSerif-Bold-webfont.svg#droid_serifbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'droid_serifbold_italic';
    src: url('/css/fonts/DroidSerif-BoldItalic-webfont.eot');
    src: url('/css/fonts/DroidSerif-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/DroidSerif-BoldItalic-webfont.woff') format('woff'),
         url('/css/fonts/DroidSerif-BoldItalic-webfont.ttf') format('truetype'),
         url('/css/fonts/DroidSerif-BoldItalic-webfont.svg#droid_serifbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "kcicons";
    src: url("../css/fonts/kcicons.eot");
    src: url("../css/fonts/kcicons.eot?#iefix") format("embedded-opentype"),
    url("../css/fonts/kcicons.woff") format("woff"),
    url("../css/fonts/kcicons.ttf") format("truetype"),
    url("../css/fonts/kcicons.svg#untitled-font-1") format("svg");
    font-weight: normal !important;
    font-style: normal;

}

@font-face {
    font-family: 'simplefly';
    src: url('/css/fonts/simplefly.ttf');
    src: url('/css/fonts/simplefly.eot');
    src: url('/css/fonts/simplefly.eot?#iefix') format('embedded-opentype'),
    url('/css/fonts/simplefly.woff') format('woff'),
    url('/css/fonts/simplefly.ttf') format('truetype'),
    url('/css/fonts/simplefly.svg#GOTHICregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../css/fonts/fontawesome-webfont.eot?v=4.5.0');
  src: url('../css/fonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'),
  url('../css/fonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'),
  url('../css/fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'),
  url('../css/fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'),
  url('../css/fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mainFont: 'droid_serifregular';
@titFont: 'droid_serifregular';
@secFont: 'droid_serifregular';
@iconFont: 'kcicons';