.icon {
    font-family: @iconFont;
    font-style: normal!important;
}

/* sizes */
.icon-xs {
    font-size: 0.5em!important;
}

.icon-x1 {
    font-size: 0.8em!important;
}

.icon-x2 {
    font-size: 2em!important;
}

.icon-x3 {
    font-size: 4em!important;
}

/* icons */
.icon-user:after {
    content: 'a';
}

.icon-phone:after {
    content: 'b';
}

.icon-th:after {
    content: 'c';
}

.icon-mail:after {
    content: 'd';
}

.icon-chevron-down:after {
    content: 'e';
}

.icon-chevron-right:after {
    content: 'f';
}

.icon-camera:after {
    content: 'g';
}

.icon-heart:after {
    content: 'h';
}

.icon-arrow-left:after {
    content: 'i';
}
.icon-arrow-right:after {
    content: 'j';
}

.icon-info:after {
    content: 'k';
}

.icon-basket:after {
    content: 'm';
}

.icon-exit-topright:after {
    content: 'p';
}

.icon-edit-pencil:after {
    content:'r';
}
.icon-add:after {
    content: 'q';
}
.icon-search:after {
    content: 's';
}
.icon-favorite-heart:after {
    content: 'u';
}

.icon-unfavorite-heart:after {
    content: 't';
}

.icon-trash:after {
    content: 'w';
}

.icon-homepage:after {
    content: 'x';
}
