/* LIST-VERTICAL */ 
.list-vertical {
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    li.active a {
        color: #403c3d;
    }
    li {
        i, a {
            display: inline-block;
            vertical-align: middle;
        }
        a {

            width: 100%;
            padding: 5px;
            color: #403c3d;
            font-size: 14px;
            &:hover {
                color: #beb0a7;
            }
            &:active {
                color: #403c3d;
            }
            &:focus {
                color: #403c3d;
            }
        }
        ul {
            margin: 0;

            border-left: 2px solid #FBC095;
            padding-left: 15px;
            margin-left: 5px;
            li {
                a {
                    color: @button-horizontal-sub-color;
                }
            }
        }
    }
}
/* END LIST-VERTICAL */ 