/* LIST-VERTICAL */
.list {
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    li {
        &:before {
            display: none !important;
        }
    }
    .list-toggle .list-toggle-text{
        display: inline-block;
        vertical-align: middle;
        color: #da7d8f;
        font-weight: normal;
        padding-left: 0px;
        padding-right: 5px;
        font-size: 14px;
        .icon {
            display: inline-block;
            vertical-align: middle;
            font-size: 0.5em!important;
        }
        &:hover {
            color: #beb0a7;
        }
        &:active {
            color: #da7d8f;
        }
        &:focus {
            color: #da7d8f;
        }
    }
}

.list-vertical {
    li.active > a {
        color: #403c3d;
    }
    li {
        a {
            display: inline-block;
            vertical-align: middle;
            width: 100%;
            padding: 5px;
            color: #403c3d;
            font-size: 14px;
            &:hover {
                color: #beb0a7;
            }
            &:active {
                color: #403c3d;
            }
            &:focus {
                color: #403c3d;
            }
        }
        ul {
            margin: 0;
            border-left: 2px solid #403c3d;
            padding-left: 15px;
            margin-left: 5px;
            li {
                a {
                    color: #403c3d;
                    &:hover {
                        color: #beb0a7;
                    }
                    &:active {
                        color: #beb0a7;
                    }
                    &:focus {
                        color: #beb0a7;
                    }
                }
            }
        }
    }
}
/* END LIST-VERTICAL */

.list-decimal {
    list-style-type: decimal;
}