// mobiles + tablets portrait
@media only screen and (max-width: @md) {

    .navbar {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1000;
        background-color: #ffffff;
        line-height: normal;
        height: 33px;
        .container {
            overflow: visible;
        }
        .navbar-hamburger {
            position: relative;
            display: block;
            cursor: pointer;
            float: left;
            padding: 3px 7px 7px 7px;
            background-color: #beb0a7;
            background-image: none;
            border: 1px solid transparent;
            border-color: transparent;
            z-index: 0;
        }
        .navbar-hamburger .icon-bar {
            display: block;
            margin-top: 4px;
            width: 22px;
            height: 3px;
            border-radius: 0px;
            background-color: #fff;
        }
        .collapse {
            position: fixed;
            display: none;
            //background: #fff;
            width: 100%;
            overflow-y: scroll;
            top: 0px;
            left: 0;
            bottom: 0;
            z-index: 4;
            .collapse-container {
                background-color: #f7f6f4;
                height: 100%;
                position: absolute;
                top: 0;
                right: 38px;
                bottom: 0;
                left: 0;
            }
            .navbar-hamburger {
                position: fixed;
                right: 0;
                z-index: 5;
                width: 38px;
            }
        }
        .topbar {
            background-color: #ffffff;
            .topbar-menu-left {
                display: none;
                li {
                    padding: 0 5px;
                    margin: 10px 0;
                }
            }
            .topbar-menu-right {
                position: absolute;
                padding-right: 10px;
                height: 100%;
                top: 0;
                right: 0;
                > ul {
                    > li {
                        display: inline-block;
                        vertical-align: middle;
                        border: 1px solid transparent;
                        a {
                            display: block;
                            height: 100%;
                            color: #403c3d;
                            padding: 1px 5px;
                            height: 25px;
                            font-size: 12px;
                            height: 100%;
                            border: none;
                            margin: 0;
                            &:hover {
                                color: #beb0a7;
                            }
                            &:active {
                                color: #beb0a7;
                            }
                            &:focus {
                                color: #beb0a7;
                            }
                            > span {
                                display: none;
                            }
                            i {
                                display: inline-block;
                                vertical-align: middle;
                                font-size: 16px;
                            }
                            .icon-basket {
                                font-size: 18px;
                                margin-top: 4px;
                            }
                            .icon-chevron-down {
                                display:none;
                            }
                            .icon-phone {
                                margin-top: 3px;
                            }
                            .icon-homepage {
                                font-size: 20px;
                                padding-top: 5px;
                            }
                        }
                    }
                  .xs-xsm-sm-hide {
                      display: none;
                  }
                }

            }
            .dropdown {
                position: relative;
                &:hover {
                    z-index: 999;
                    > ul {
                        visibility: visible;
                        opacity: 1;
                    }
                    > a {
                    }
                }
                > a {
                    position: relative;
                    display: block;
                    background-color: transparent;
                    z-index: 3;
                }
                > ul {
                    position: fixed;
                    visibility: hidden;
                    width: 100%;
                    opacity: 1;
                    right: 0;
                    left: 0;
                    margin-top: 6px;
                    background-color: #fff;
                    border-bottom: 1px solid #d5ccc6;
                    border-top: 1px solid #d5ccc6;
                    > li {
                        display: block;
                        position: relative;
                        &:hover {
                            background-color: #6e7277;
                            a {
                                color: #fff;
                            }
                        }
                        > a {
                            display: block;
                            padding: 5px 10px;
                            text-align: left;
                            color: #6e7277;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        .middlebar {
            //background-color: #fff;
            height: 33px;
            .middlebar-menu-left, ul.middlebar-menu-right {
                background-color: #f7f6f4;
                padding-top: 17px;
                a {
                    display: block;
                    padding: 9px 0px 9px 10px;
                    font-size: 12px !important;
                    color: #403c3d;
                    background: url(http://www.stijlvolletrouwkaarten.nl/img/home-2016/arrow_right.png) no-repeat right 14px center;
                    &:hover {

                        color: #beb0a7;
                    }
                }
                li {
                    border-bottom: 1px solid #d5ccc7;
                    margin: 0px 9px;
                }

                li ul li a {
                    background: none;
                }
                .dropdown-content li {
                    border: none;
                }
                .icon-chevron-down {
                    display: none;
                }
                .mobile-search {
                    border: none;
                }
                span {
                    text-transform: uppercase;
                }
            }

            .navbar-search {
                display: none;
            }
            .navbar-search-field {
                position: fixed;
                display: none !important;
                background-color: @navbar-bg-color;
                top: 50px;
                border: 0px solid black;
                width: 100%;
                z-index: 89;
                overflow: hidden;
                padding: 5px;
                .search-button-field {
                    float: right;
                    display: block;
                    border: none;
                    height: 30px;
                    width: auto;
                    padding: 0 10px;
                    cursor: pointer;
                    background-color: #fff;
                    border-radius: 0 4px 4px 0;
                }
                .search-input-field {
                    overflow: hidden;
                    input[type="text"] {
                        display: block;
                        border: none;
                        width: 100%;
                        height: 30px;
                        padding: 0 10px;
                        border-radius: 4px 0 0 4px;
                    }

                }
            }
            .navbar-search-field-mobile {
                border: 1px solid #d5ccc7;
                border-radius: 2px;
                margin-bottom: 6px;
                .search-button-field-mobile {
                    float: right;
                    display: block;
                    border: none;
                    height: 35px;
                    width: auto;
                    padding: 3px 10px 0px 10px;
                    cursor: pointer;
                    background-color: #fff;
                    //border-radius: 0 4px 4px 0;
                    color: #d5ccc7;
                }
                .search-input-field-mobile {
                    overflow: hidden;
                    input[type="text"] {
                        display: block;
                        border: none;
                        width: 100%;
                        height: 35px;
                        padding: 0 10px;
                        //border-radius: 4px 0 0 4px;
                    }
                }
            }
        }
        .logo {
            background-color: #ffffff;
            text-align: center;
            margin: 0px;
            clear: left;
            padding: 9px 4px 0px 0px;
        }
        ul.middlebar-menu-right {
            li {
                a {
                    font-size: 12px;
                }
            }
        }
    }
}


/* Medium Devices, Desktops */
@media only screen and (min-width: @md) {

    /* margin top visualcon */
    .navbar {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 99;
        line-height: normal;
        background-color: #ffffff;
        .topbar {
            height: 33px;
        }
        .middlebar {
            height: 42px;
            border-bottom: 3px solid @middlebar-list-hover-bg-color;
        }
        .container {
            overflow: visible;
        }
        .navbar-hamburger {
            display: none;
        }
        .collapse {
            left: auto !important;
            display: block !important;
        }
        .logo {
            background-color: #ffffff;
            text-align: center;
            margin: 20px 0px 30px 0px;
        }
        .topbar {
            background: #ffffff;
            position: relative;
            z-index: 9999;
            padding: 0px;
            .topbar-menu-left {
                line-height: 29px;
                position: absolute;
                a {
                    display: inline-block;
                    vertical-align: middle;
                    padding: 0 15px 0 0;
                    height: 100%;
                    font-size: 12px;
                    color: #403c3d;
                    &:hover {
                        color: #beb0a7;
                    }
                    &:active {
                        color: #beb0a7;
                    }
                    &:focus {
                        color: #beb0a7;
                    }
                }

            }
            .topbar-menu-right {
                position: absolute;
                //padding-right: 17px;
                height: 100%;
                right: 0;
                > ul {
                    > li.dropdown {
                        > a {
                            &:hover {
                            }
                        }
                    }
                    > li {
                        position: relative;
                        display: inline-block;
                        vertical-align: middle;
                        > a {
                            &:first-child {
                                padding-left: 0;
                            }
                            display: block;
                            font-size: 12px;
                            padding: 0 2px;
                            margin: 0;
                            height: 100%;
                            color: #403c3d;
                            border: 0;
                            line-height: 31px;
                            &:hover {
                                color: #beb0a7;
                            }
                            &:active {
                                color: #beb0a7;
                            }
                            &:focus {
                                color: #beb0a7;
                            }
                        }

                        span {
                            text-transform: uppercase;
                        }

                        i {
                            display: inline-block;
                            vertical-align: middle;
                            padding-right: 5px;
                        }
                        .icon-chevron-down {
                            padding-left: 0;
                            padding-right: 0;
                        }

                        .icon-basket {
                            color: #da7d8f;
                            margin-top: -2px;
                        }
                        .icon-exit-topright, .icon-user, .icon-exit-topright, .icon-homepage {
                          display: none;
                        }
                        .icon-phone {
                            padding-right: 0px;
                        }
                    }
                    li.logout {
                        display: none;
                    }

                }

            .h-social {
                a {
                    padding: 0 0 0 6px;
                    display: inline-block;
                    vertical-align: middle;
                    height: 30px !important;

                    &:first-child {
                        padding: 0!important;
                    }
                }

                .sb-icon {
                    font-size: 0;
                    display: inline-block;
                    vertical-align: middle;
                    font-style: normal;
                    padding: 0 !important;

                    &:before {
                        content: "e";
                        font-family: 'simplefly';
                        font-size: 14px;
                        display: inline-block;
                    }
                    &.sb-icon-fb:before {
                        content: "j";
                    }
                    &.sb-icon-pn:before {
                        content: "n";
                    }
                    &.sb-icon-tw:before {
                        content: "o";
                    }
                }
            }

            }
            .dropdown {
                &:hover {
                    z-index: 999;
                    > ul {
                        visibility: visible;
                        opacity: 1;
                    }
                }
                > a {
                    position: relative;
                    display: block;
                    z-index: 33;
                }
                > ul {
                    position: absolute;
                    visibility: hidden;
                    opacity: 1;
                    width: 155px;
                    background-color: #efebe8;
                    background: url(http://www.stijlvolletrouwkaarten.nl/img/home-2016/arrow_up.png) center top no-repeat #efebe8;
                    margin-top: -6px;
                    padding-top: 15px;
                    margin-left: -50px;
                    > li {
                        display: block;
                        position: relative;
                        > a {
                            display: block;
                            padding: 6px 15px;
                            text-align: left;
                            color: #403c3d;
                            font-size: 13px;
                            -webkit-transition: background-color .2s ease-in-out;
                            -moz-transition: background-color .2s ease-in-out;
                            transition: background-color .2s ease-in-out;
                        }
                        &:hover {
                            background-color: #ad9b8f;
                            > a {
                                color: #f7f6f4;
                            }
                        }
                    }
                }
                ul.prijzen {
                    margin-left: -25px;
                }
                ul.help {
                    margin-left: -56px;
                }
            }
        }
        .middlebar {
            background-color: #ffffff;
            border-top: 1px solid #e2dad7;
            border-bottom: 1px solid #e2dad7;
            .dropdown {
                position: relative;
                //border: 1px solid transparent;

                &:hover {
                    //border: 1px solid #efebe8;
                    //border-bottom-color: transparent;

                    > a {
                        background-color: #efebe8;
                        //border-bottom: 1px solid #fff;
                        position: relative;
                        z-index: 100;
                        &:hover {
                            color: #403c3d;
                            background-color: #efebe8;
                        }
                        &:active {
                            color: #403c3d;
                            background-color: #efebe8;
                        }
                        &:focus {
                            color: #403c3d;
                            background-color: #efebe8;
                        }
                    }

                    ul {
                        display: block;
                    }
                }

                ul {
                    background-color: #efebe8;
                    display: none;
                    position: absolute;
                    padding: 5px 0;
                    z-index: 10;
                    width: 176px;
                    border-top: 1px solid #e2dad7;
                    //border: 1px solid #f4eded;
                    //right: -1px;
                    //margin-top: 1px;

                    li {
                        //width: 50%;
                        //float: left;

                        &:nth-child(2n+1) {
                            clear: both;
                        }
                    }

                    a {
                        padding: 7px 0px 7px 20px;
                        font-size: 13px;
                        color: #403c3d;
                        display: block;

                        &:hover, &:focus, &:active {
                            background-color: #ad9b8f;
                        }
                    }
                }
            }
            .middlebar-menu {
                font-size: 16px;
            }
            ul.middlebar-menu-left {
                position: absolute;
                height: 100%;
                padding-left: 10px;
                min-width: 200px;
                li {
                    display: inline-block;
                    vertical-align: middle;
                    height: 75px;
                    font-size: 12px;
                    border: none;
                    a {
                        display: block;
                        height: 100%;
                        color: @topbar-right-link-color;
                        &:hover {
                            color: @topbar-right-link-hover-color;
                        }
                        &:active {
                            color: @topbar-right-link-active-color;
                        }
                        &:focus {
                            color: @topbar-right-link-focus-color;
                        }
                    }
                }

            }
            ul.middlebar-menu-right {
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                //padding-right: 10px;
                display: table;
                width: 100%;
                //justify-content: space-between;
                //text-align: justify;
                > li {
                    position: relative;
                    display: table-cell;
                    vertical-align: middle;
                    margin-right: -4px;
                    height: 100%;
                    > a {
                        position: relative;
                        display: inline-block;
                        vertical-align: middle;
                        height: 100%;
                        line-height: 39px;
                        color: #403c3d;
                        //background-color: #ffffff;
                        overflow: hidden;
                        font-size: 14px;
                        //padding: 8px 0px;
                        //font-size: 12px;
                        //border: 1px solid transparent;

                        &:hover {
                            color: #beb0a7;
                        }
                        &:active {
                            color: #beb0a7;
                        }
                        &:focus {
                            color: #beb0a7;
                        }
                        > span {
                        text-transform: uppercase;
                        padding: 0px 20px 0px 20px;
                        }
                    }
                    .more-cards {
                        padding: 0px 0px 0px 20px;
                    }

                    i {
                        display: inline-block;
                        vertical-align: middle;
                        padding: 0 5px;
                    }
                    &.navbar-search {
                        .open-navbar-search {
                            padding: 0px 0;
                        }
                    }
                }
                .mobile-search {
                    display: none;
                }
            }
            .navbar-search-field {
                position: absolute;
                //background-color: #fff;
                top: 0;
                right: 8px;
                width: 300px;
                z-index: 89;
                overflow: hidden;
                padding: 4px 0px 0px 0px;
                form {
                    border: 1px solid #faf4f4;
                    border-radius: 4px;
                }
                .search-button-field {
                    float: right;
                    display: block;
                    height: 30px;
                    border: none;
                    width: auto;
                    cursor: pointer;
                    border-radius: 0 4px 4px 0;
                    background: #ad9b8f url(/img/ico-close-search.png) no-repeat center;
                    padding: 0 17px;

                    .icon-search {
                        display: none;
                    }
                }
                .search-input-field {
                    overflow: hidden;
                    input[type="text"] {
                        display: block;
                        border: none;
                        width: 100%;
                        height: 30px;
                        padding: 0 10px;
                        border-radius: 4px 0 0 4px;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: @lg) {
    .navbar .middlebar ul.middlebar-menu-right > li > a {
        padding: 0px 0px;
        font-size: 16px;
    }
}

.navbar-fixed {
    position: fixed;
}



a.logo {
    position: absolute;
    display: block;
    color: @logo-link-color;
    line-height: 70px;
    font-size: 48px;
    font-family: @secFont;
    img {
        position: relative;
    }
    &:hover {
        color: @logo-link-hover-color;
    }
    &:active {
        color: @logo-link-active-color;
    }
    &:focus {
        color: @logo-link-focus-color;
    }
}