/********************************************
/* H TAGS */
/********************************************/
@h1-margin: 10px 10px 20px 30px;
@h1-padding: 10px 10px 20px 30px;


/********************************************
/* NAVBAR */
/********************************************/
@navbar-height: 125px;
@navbar-topbar-height: 32px;
@navbar-middlebar-height: 75px;
@navbar-topbar-padding: 0px;
@navbar-topbar-menu-left-padding: 0px 5px 0px 5px;
@navbar-topbar-menu-left-margin: 10px 0px 10px 0px;