.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border-spacing: 0;
    border-collapse: collapse;
    background-color: @table-bg-color;
    >thead>tr>th {
        vertical-align: bottom;
        //border-bottom: 2px solid #ddd;
        background-color: @table-thead-bg-color;
        color: inherit;
    }
    >thead>tr>th, tbody>tr>th, >tfoot>tr>th, >thead>tr>td, >tbody>tr>td, >tfoot>tr>td {
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: top;
        //border-top: 1px solid #ddd;
    }
}

.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
    border: 1px solid @table-border-color;
}

.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}

.table-unstyled {
    width: 100%;
    margin-bottom: 20px;
    border: none;
    >thead>tr>th {
        text-align: left;
        vertical-align: bottom;
        border-bottom: none;
        background-color: inherit;
        color: inherit;
    }
    >thead>tr>th, tbody>tr>th, >tfoot>tr>th, >thead>tr>td, >tbody>tr>td, >tfoot>tr>td {
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: none;
    }
}

@media screen and (max-width: @sm){
    .table-responsive {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid @table-border-color;
    }
}