.thumbnail-people {
    position: relative;
    //border: 1px solid @thumbnail-people-border-color;
    margin-bottom: 11px;
    text-align: left;
    overflow: hidden;
    //border-radius: 10px;
    &:hover {
        .thumbnail-people-img {
            //opacity: 0.5;
        }
        .thumbnail-people-label {
            opacity: 1;
        }
    }
    a {
        display: block;
        color: #403c3d;
        &:hover {
            color: #beb0a7;
        }
    }
    .thumbnail-people-img {
        position: relative;
        background-color: #ffffff;
        box-shadow: 0px 2px 1px #d5d5d5;
        border-left: 1px solid #f5f5f5;
        border-right: 1px solid #f5f5f5;
        .img {
            position: relative;
            &:hover:after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: 4px;
                width: auto;
                height: auto;
                border: 1px solid #fff;
                z-index: 1;
            }
        }
        img {
            width: 100%;
        }
        p {
            padding: 8px 0px;
            text-align: center;
            margin-bottom: 12px;
        }
    }
    .thumbnail-people-label {
        width: 100%;
        margin-top: 5px;
        padding: 5px 12px;
        background-color: transparent;
        font-style: italic;
        //opacity: 0.8;
        h3 {
            margin-top: 0;
            margin-bottom: 0;
            color: #f59a4b;
            font-size: 18px;
        }
        p {
            margin-top: 0;
            margin-bottom: 0px;
            color: inherit;
            font-size: 14px;
        }
    }
}

@media only screen and (min-width: @md) {
    .thumbnail-people-label {
        font-size: 16px;
    }
}

@media only screen and (max-width: @md) {
    .thumbnail-people-label {
        font-size: 13px;
    }
}