.thumbnail-scroller {
    position: relative;
    width: 100%;
    //background: @thumbnail-scroller-bg-image;
    background-size: 100%;
    background-color: #ffffff;
    white-space: nowrap;
    margin-bottom: 20px;
    padding-top: 20px;
    .thumbnail-scroller-left {
        left: 0;
    }
    .thumbnail-scroller-right {
        right: 0;
    }
    .thumbnail-scroller-left, .thumbnail-scroller-right {
        position: absolute;
        top: 0;
        height: 100%;
        z-index: 20;
        > a {
            display: table;
            height: 100%;
            padding: 0 15px;
            i {
                display: table-cell;
                vertical-align: middle;
            }
        }
    }
    i {
        display: none;
    }
    a {
        display: inline-block;
        vertical-align: middle;
    }
    @media only screen and (max-width: @xsm) {
        .thumbnail-scroller {

        }
        .img-responsive {
            max-width: 100%;
        }
        .thumbnail-scroller-middle {
            width: 61%;
            margin: 0 auto;
        }
    }
    @media only screen and (min-width: @xsm) {
        .img-responsive {
            max-width: 100%;
        }
        .thumbnail-scroller-middle {
            width: 90%;
            margin: 0 auto;
        }
    }
}