.thumbnail-slider {
    position: relative;
    padding: 20px 5px 5px;
    border-radius: 10px;
    background-color: #f7f6f5;
    border: 2px solid #d8d0ca;
    margin-bottom: 25px;
    margin-top: 25px;
    text-align: left;
    width: 100%;
    .thumbnail-slider-top {
        position: absolute;
        left: 0;
        width: 100%;
        top: -15px;
        z-index: 3;
    }
    .thumbnail-slider-left {
        left: -3px;

        .icon-arrow-left:after {
            content: "<";
            font-family: @secFont !important;
            font-size: 45px;
            color: #403c3d;
        }
    }
    .thumbnail-slider-right {
        right: 3px;

        .icon-arrow-right:after {
            content: ">";
            font-family: @secFont !important;
            font-size: 45px;
            color: #403c3d;
        }
    }
    .thumbnail-slider-left, .thumbnail-slider-right {
        position: absolute;
        display: block;
        top: 0;
        height: 100%;
        z-index: 100;
        > a {
            display: block;
            height: calc(100% - 30px);
            padding: 0;
            margin-top: 0;
            color: #403c3d;
            position: relative;
            text-align: center;
            width: 30px;
            i {
                display: none;
            }
            &:after {
                content: "";
                width: 13px;
                height: 22px;
                position: absolute;
                top: 50%;
                margin-top: -11px;
                display: block;
                left: 50%;
                margin-left: -6px;
            }
        }
    }
    .thumbnail-slider-left {
        > a:after {
            background: url(/img/next-prev.png) no-repeat 0 0;
        }
    }
    .thumbnail-slider-right {
        > a:after {
            background: url(/img/next-prev.png) no-repeat -16px 0;
        }
    }
    .thumbnail-slider-middle {
        img {
            position: relative;
            left: 0px;
            right: 0px
        }
    }
    .thumbnail-slider-bottom {
        position: relative;
        z-index: 33;
        text-align: center;

        a {
            font-size: 16px;
            color: #da7d8f;
        }
    }
}