.thumbnail-card {
    position: relative;
    background-color: #fff;
    border: 1px solid transparent;
    padding: 5px;
    margin-bottom: 25px;
    text-align: left;
    overflow: hidden;
    &:hover {
        .thumbnail-card-img {
            opacity: 0.5;
        }
        .thumbnail-card-label {
            opacity: 1;
        }
    }
    a {
        display: block;
        color: #403c3d;
        &:hover {
            color: #beb0a7;
        }
    }
    .add_fav_design {
        color: #da7d8f;
        &:hover {
            color: #beb0a7;
        }
    }
    .thumbnail-card-label {
        width: 100%;
        padding: 5px;
        margin: 0;
        background-color: transparent;
        opacity: 0.8;
        a {
            display: inline-block;
            vertical-align: middle;
            &:hover {
                transform: scale(1.1);
            }
            i {
                display: inline-block;
                vertical-align: middle;
            }
        }
    }

    .icon-trash {
        font-size: 20px !important;
    }
}