@media only screen and (min-width: @xsm) {
    .thumbnail {
        position: relative;
        padding: 10px 10px 0 10px;
        background-color: #fff;
        box-shadow: 0 2px 1px #d5d5d5;
        margin-bottom: 30px;
        text-align: left;
        cursor: pointer;
        &:hover {
            img {
                opacity: 0.8;
            }
            .thumbnail-footer p {
                color: #beb0a7;
            }
        }
        img {
            width: 100%;
        }

        .thumbnail-footer {
            width: 100%;
            margin-top: 5px;
            padding: 12px 0 12px 0;
            background-color: #ffffff;
            font-size: 15px;
            h3 {
                margin: 0 auto;
                color: #403c3d;
            }
            p {
                color: inherit;
                margin: 0;
            }
        }
    }
}

@media only screen and (min-width: @md) {
    .thumbnail {
        position: relative;
        padding: 10px 10px 0 10px;
        background-color: #fff;
        box-shadow: 0 2px 1px #d5d5d5;
        margin-bottom: 30px;
        text-align: left;
        cursor: pointer;
        &:hover {
            img {
                opacity: 0.8;
            }
            .thumbnail-footer p {
                color: #beb0a7;
            }
        }
        img {
            width: 100%;
        }

        .thumbnail-footer {
            width: 100%;
            margin-top: 5px;
            padding: 12px 0 12px 0;
            background-color: #ffffff;
            font-size: 18px;
            h3 {
                margin: 0 auto;
                color: #403c3d;
            }
            p {
                color: inherit;
                margin: 0;
            }
        }
    }
}

@media only screen and (max-width: @xsm) {
    .thumbnail {
        position: relative;
        padding: 10px 10px 0 10px;
        background-color: #fff;
        box-shadow: 0 2px 1px #d5d5d5;
        margin-bottom: 15px;
        text-align: left;
        cursor: pointer;
        &:hover {
            img {
                opacity: 0.8;
            }
            .thumbnail-footer p {
                color: #beb0a7;
            }
        }
        img {
            width: 100%;
        }
        .thumbnail-footer {
            width: 100%;
            margin-top: 5px;
            height: 36px;
            background-color: #ffffff;
            display: table;
            font-size: 13px;
            line-height: 14px;
            h3 {
                margin: 0 auto;
                color: #403c3d;
            }
            p {
                color: inherit;
                margin: 0px;
                vertical-align: middle;
                padding: 0 10px 0 10px;
                display: table-cell;
                line-height: 14px;
            }
        }
    }
}



.thumbnail-transparent {
    background-color: transparent!important;
    border: none!important;
    box-shadow: none!important;
    .thumbnail-footer {
        background-color: transparent!important;
    }
}

.thumbnail-fluid {
    padding: 0!important;
    .thumbnail-footer {
        margin-top: 0;
        background-color: #ffffff;
        color: #403c3d;
        h3 {
            color: #403c3d;
        }
        p {
            color: #403c3d;
        }
    }
    .thumbnail-img {
        background-color: @thumbnail-fluid-img-bg-color;
        border: none;
    }
}

.thumbnail-button {
    padding: 0!important;
    border-radius: 0;
    border: 0 solid @thumbnail-button-border-color;
    .thumbnail-button-button {
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: transparent;
        background-image: url('http://hipdesign.nl/img/bg-button/01.png');
        background-repeat: no-repeat;
        background-position: right bottom;
        color: #fff;
        padding: 15px 20px 0 20px;
        height: 45px;
    }
}