@media screen and (min-width: @sm) {
    #visual-content {
        margin-top: 42px;
    }
    .visual {
        padding: 86px 0 0 0;
        text-align: center;
        //min-height: 285px;
        min-height: 346px;
        //background: #ffffff url(/img/visual_mobile.png) top center no-repeat;
        background: #ffffff url(/img/visual_mobile2.png) top center no-repeat;
        position: relative;
        display: block;
        overflow: hidden;

        h1 {
            font-size: 26px;
            margin-top: 0;
            padding-bottom: 0 !important;
            font-style: italic;
            text-transform: none;
        }

        p {
            line-height: 24px;
            font-size: 16px;
            margin-top: 16px;
            color: #fff;
            margin-bottom: 9px;
        }

        .wrap-button {
            font-size: 30px;
            font-family: @secFont;
            color: #dcb0b4;
            text-align: center;
            margin-top: 25px;

            .button {
                margin-left: 15px;
                margin-right: 15px;
                font-size: 20px;
                padding: 0 30px;
                line-height: 1.28;
            }
        }
    }
}

@media screen and (min-width: @md) {
    #visual-content {
        margin-top: 215px;
    }
    .visual {
        padding: 52px 0 0 0;
        text-align: center;
        min-height: 345px;
        //background: #ffffff url(/img/visual.png) bottom center no-repeat;
        background: #ffffff url(http://www.stijlvolletrouwkaarten.nl/img/home-2016/banner/banner1-stijlvolle-trouwkaarten.png) bottom center no-repeat;
        position: relative;
        display: block;
        overflow: hidden;

        h1 {
            font-size: 29px;
            margin-top: 0;
            padding-bottom: 0 !important;
            font-style: italic;
            text-transform: none;
        }

        p {
            line-height: 24px;
            font-size: 18px;
            margin-top: 12px;
            color: #fff;
            margin-bottom: 34px;
        }

        .wrap-button {
            font-size: 30px;
            font-family: @secFont;
            color: #dcb0b4;
            text-align: center;
            margin-top: 25px;

            .button {
                margin-left: 15px;
                margin-right: 15px;
                font-size: 20px;
                padding: 0 30px;
                line-height: 1.28;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    #visual-content {
        //margin-top: 103px;
        margin-top: 42px;
    }
    .visual {
        //padding: 25px 0px 0px 0px;
        padding: 86px 0 0 0;
        text-align: center;
        //min-height: 285px;
        min-height: 346px;
        //background: #ffffff url(/img/visual_mobile.png) top center no-repeat;
        background: #ffffff url(/img/visual_mobile2.png) top center no-repeat;
        position: relative;
        display: block;
        overflow: hidden;

        h1 {
            font-size: 20px;
            margin-top: 0;
            padding-bottom: 0 !important;
            font-style: italic;
            text-transform: none;
        }

        p {
            line-height: 24px;
            font-size: 14px;
            margin-top: 16px;
            color: #fff;
            margin-bottom: 9px;
        }

        .wrap-button {
            font-size: 30px;
            font-family: @secFont;
            color: #dcb0b4;
            text-align: center;
            margin-top: 25px;

            .button {
                margin-left: 15px;
                margin-right: 15px;
                font-size: 20px;
                padding: 0 30px;
                line-height: 1.28;
            }
        }
    }
}

@media screen and (min-width: @md) {
    .visual {
        text-align: left;

        .md-offset-3.md-9 {
            max-width: 760px;
        }

        .wrap-button {
            font-size: 40px;

            .button {
                font-size: 30px;
            }
        }
    }
}