<footer>
    <div class="footer-header">
        <div class="container">
            <div class="cols">
                <div class="footer-header-payment xs-12 xsm-12 sm-6 md-6">Veilig betalen
                    <br />
                    <img class="id" src="/media/ideallogosmaller.jpg" /> <img class="mc" src="/media/mastercardlogosmaller.jpg" /> <img class="vs" src="/media/visalogosmaller.jpg" /> <img class="bc" src="/media/mrcashlogosmaller.jpg" /></div>
                <div class="footer-header-delivery md-6 sm-6 xs-12 xsm-12">Bezorging door
                    <br />
                    <img class="pn" src="/media/postnllogo.png" /></div>
            </div>
            <!--container-->
        </div>
        <!--footer-header-->
    </div>
    <div class="footer-body">
        <div class="container">
            <div class="cols">
                <div class="footer-body-col xs-12 xsm-12 sm-6 md-3">
                    <h3>Trouwkaarten</h3>
                    <ul>
                        <li>
                            <a href="/gedichtjes_trouwkaart">GEDICHTEN</a>
                        </li>
                        <li>
                            <a href="/voorbeeld-teksten">VOORBEELDTEKSTEN</a>
                        </li>
                        <li>
                            <a href="/regels_etiquette_trouwkaarten_uitnodigingen">ETIQUETTE</a>
                        </li>
                        <li>
                            <a href="/postzegel_trouwkaart">HOEVEEL POSTZEGELS</a>
                        </li>
                        <li>
                            <a href="/tips-nieuwsbrief">ENVELOPPEN SCHRIJVEN</a>
                        </li>
                        <li>
                            <a href="/voorkom-spelfouten-trouwkaarten">VOORKOM SPELFOUTEN</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-body-col xs-12 xsm-12 sm-6 md-3">
                    <h3>Vragen? Wij helpen graag</h3>
                    <p>Bel ons:
                        <br /> 085 - 743 07 52</p>
                    <p>Of mail ons
                        <br /> info@stijlvolletrouwkaarten.nl
                    </p>
                    <div class="footer-body-social">
                        <h3>Volg ons:</h3>
                        <span class="fb">
                            <a href="https://www.facebook.com/stijlvolletrouwkaarten/" target="_blank">&nbsp;</a>
                        </span>
                        <span class="pt">
                            <a href="https://nl.pinterest.com/trouwkaarten/" target="_blank">&nbsp;</a>
                        </span>
                        <span class="ig">
                            <a href="https://instagram.com/stijlvolletrouwkaarten" target="_blank">&nbsp;</a>
                        </span>
                    </div>
                </div>
                <div class="footer-body-col xs-12 xsm-12 sm-6 md-3">
                    <div class="footer-body-customer-experience">
                        <h3>Klantwaardering
                            <br /> Stijlvolle trouwkaarten
                        </h3>
                        <img alt="Rating Stijlvolle trouwkaarten" src="/img/four-star-rating.png" />
                        <p>9,3 van 559 stemmen.</p>
                        <p class="footer-body-customer-experience-feedback">&quot;Erg vriendelijke en snelle levering. Goede kwaliteit!&quot;
                            <br />
                            <a href="https://www.feedbackcompany.com/nl-nl/reviews/stijlvolle-trouwkaarten-nl/" target="_blank">via the Feedback Company</a>
                        </p>
                    </div>
                </div>
                <div class="footer-body-col xs-12 xsm-12 sm-6 md-3">
                    <h3>Informatie &amp; service</h3>
                    <ul>
                        <li>
                            <a href="/veel-gestelde-vragen">VEELGESTELDE VRAGEN</a>
                        </li>
                        <li>
                            <a href="http://stijlvolletrouwkaarten.nl/wedspiration">BLOG</a>
                        </li>
                        <li>
                            <a href="/tips-and-tricks">TIPS &amp; TRICKS</a>
                        </li>
                        <li>
                            <a href="/privacy">PRIVACY</a>
                        </li>
                        <li>
                            <a href="/algemene_voorwaarden">Voorwaarden</a>
                        </li>
                        <li>
                            <span> &copy; Stijlvolle trouwkaarten.nl 2017</span>
                        </li>
                    </ul>
                </div>
                <!--cols-->
            </div>
            <!--container-->
        </div>
        <!--footer-body-->
    </div>
</footer>
</div-->
<script src="/common/components-js/vendor/cycle.js"></script>
<script src="/common/components-js/vendor/jquery.cycle2.carousel.min.js"></script>
<script src="/common/components-js/vendor/caro.js"></script>
<script src="/common/components-js/navbar.js"></script>
<script src="/common/components-js/custom.js"></script>

<script src="/css/js/components/custom.js"></script>




<!-- Google-code voor remarketingtag -->
<!--------------------------------------------------
Remarketingtags mogen niet worden gekoppeld aan gegevens waarmee iemand persoonlijk kan worden geïdentificeerd of op pagina's worden geplaatst die binnen gevoelige categorieën vallen. Meer informatie en instructies voor het instellen van de tag zijn te vinden op: http://google.com/ads/remarketingsetup
--------------------------------------------------->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1063470982;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1063470982/?value=0&amp;guid=ON&amp;script=0" />
    </div>
</noscript>