<ul id="fnav" style="margin-bottom: 10px;">
    <li>
        <a href="/gedichtjes_trouwkaart">GEDICHTEN</a>
    </li>
    <li>
        <a href="/voorbeeld-teksten">VOORBEELDTEKSTEN</a>
    </li>
    <li>
        <a href="/regels_etiquette_trouwkaarten_uitnodigingen">ETIQUETTE</a>
    </li>
    <li>
        <a href="/postzegel_trouwkaart">HOEVEEL POSTZEGELS</a>
    </li>
    <li>
        <a href="/tips-nieuwsbrief">ENVELOPPEN SCHRIJVEN</a>
    </li>
    <li>
        <a href="/voorkom-spelfouten-trouwkaarten">VOORKOM SPELFOUTEN</a>
    </li>
</ul>
<ul id="fnav">
    <li>
        <a href="/veel-gestelde-vragen">VEELGESTELDE VRAGEN</a>
    </li>
    <li>
        <a href="http://stijlvolletrouwkaarten.nl/wedspiration">BLOG</a>
    </li>
    <li>
        <a href="/tips-and-tricks">TIPS &amp; TRICKS</a>
    </li>
    <li>
        <a href="/privacy">PRIVACY</a>
    </li>
</ul>
<div class="copyright">
    <span>
        <a href="/algemene_voorwaarden">Voorwaarden</a>
    </span>
    <span class="footer-pipe"> |</span>
    <span> &copy; Stijlvolle trouwkaarten.nl 2017</span>
</div>
<p class="rich-snippets">
    <span class="revTitle">Stijlvolle trouwkaarten</span>
    <span class="revCon"><img alt="Rating Stijlvolle trouwkaarten" src="/img/four-star-rating.png" />
        <br /> klantwaardering: 9,3 van 559 stemmen.</span>
</p>


<script src="/common/components-js/vendor/cyclejs"></script>
<script src="/common/components-js/vendor/caro.js"></script>
<script src="/common/components-js/navbar.js"></script>
<script src="/common/components-js/custom.js"></script>-->
<script src="http://www.stijlvolletrouwkaarten.nl/css/js/components/custom-template.js"></script>


<!-- <script src="/css/js/vendor/jquery.cycle2.min.js"></script>
<script src="/css/js/vendor/jquery.cycle2.carousel.min.js"></script>
 --><!-- Element components -->
<!-- <script src="/css/js/components/navbar.js"></script>
<script src="/css/js/components/carousel.js"></script>
<script src="/css/js/components/accordion.js"></script>
<script src="/css/js/components/thumbnail-slider.js"></script>
<script src="/css/js/components/thumbnail-scroller.js"></script>
<script src="/css/js/components/list.js"></script>
<!-- <script src="/css/js/components/custom.js"></script>





<!-- Google-code voor remarketingtag -->
<!--------------------------------------------------
Remarketingtags mogen niet worden gekoppeld aan gegevens waarmee iemand persoonlijk kan worden geïdentificeerd of op pagina's worden geplaatst die binnen gevoelige categorieën vallen. Meer informatie en instructies voor het instellen van de tag zijn te vinden op: http://google.com/ads/remarketingsetup
--------------------------------------------------->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1063470982;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1063470982/?value=0&amp;guid=ON&amp;script=0" />
    </div>
</noscript>