<link href="/css/custom-template.css" rel="stylesheet" />
<!--<div class="navbar navbar-style-1 navbar-style-1a">-->
<div class="navbar navbar-default-a">
    <div class="topbar">
        <div class="container">
            <button class="navbar-hamburger js-open-middlebar-menu-right-mob" type="button">
                <span class="icon-bar">&nbsp;</span>
                <span class="icon-bar">&nbsp;</span>
                <span class="icon-bar">&nbsp;</span>
            </button>
            <a class="logo" href="/"><img alt=" " class="logosmall" src="/img/stijlvolle-trouwkaarten-logo.svg" /></a>
            <div class="topbar-menu-left">
                <a href="/prijzen" title="Gratis verzending">Alle pakketten GRATIS VERZENDING</a>
            </div>
            <div class="topbar-menu-right">
                <ul>
                    <li class="phone">
                        <a class="hphone" href="tel:0857430766" title="085-743 0766">
                            <i class="icon icon-phone">&nbsp;</i>
                            <span class="xs-hide xsm-hide sm-hide">085-743 0766</span>
                        </a>
                    </li>
                    <li class="contact">
                        <a href="http://stijlvolletrouwkaarten.nl/contact">CONTACT</a>
                    </li>
                    <li class="prices">
                        <a href="http://stijlvolletrouwkaarten.nl/prijzen">PRIJZEN</a>
                    </li>
                    <li class="info dropdown js-dropdown info">
                        <a class="help js-dropdown-hover" href="javascript:void(0);" title="Hulp">
                            <i class="icon icon-info md-hide-ib lg-hide-ib">&nbsp;</i>
                            <span class="xs-hide xsm-hide sm-hide">INFO</span>
                        </a>
                        <ul class="dropdown-content js-dropdown-content">
                            <li>
                                <a href="/proefdruk">Proefdruk</a>
                            </li>
                            <li>
                                <a href="/prijzen">Prijzen</a>
                            </li>
                            <li>
                                <a href="/bezorging">Levertijd en bezorging</a>
                            </li>
                            <li>
                                <a href="/formaten">Formaten</a>
                            </li>
                            <li>
                                <a href="/papiersoorten">Papiersoorten</a>
                            </li>
                            <li>
                                <a href="/enveloppen-info">Enveloppen</a>
                            </li>
                            <li>
                                <a href="/direct-verzenden">Direct versturen</a>
                            </li>
                            <li>
                                <a href="/hoe_werkt_het">Hoe werkt het</a>
                            </li>
                            <li>
                                <a href="/betalen">Betaling</a>
                            </li>
                            <li>
                                <a href="/klantwaardering">Reviews</a>
                            </li>
                            <li>
                                <a href="/veel-gestelde-vragen">FAQ</a>
                            </li>
                            <li>
                                <a href="/algemene_voorwaarden">Alg. voorwaarden</a>
                            </li>
                        </ul>
                    </li>
                    <li class="blog">
                        <a href="http://stijlvolletrouwkaarten.nl/wedspiration">BLOG</a>
                    </li>
                    <li class="favourites">
                        <a class="js-favorites-dynamic" href="javascrip:void()">&nbsp;</a>
                    </li>
                    <li class="account dropdown js-dropdown" id="navbar-logout">
                        <a class="js-dropdown-hover account" href="javascript:void(0);" title="Account">
                            <i class="icon icon-user md-hide-ib lg-hide-ib">&nbsp;</i>
                            <span>ACCOUNT</span>
                        </a>
                        <ul class="dropdown-content js-dropdown-content">
                            <li>
                                <a href="/account_address">Persoonsgegevens</a>
                            </li>
                            <li>
                                <a href="/account_password">Wachtwoord wijzigen</a>
                            </li>
                            <li>
                                <a href="/account_nieuwsbrief">Nieuwsbrief instellingen</a>
                            </li>
                            <li>
                                <a href="/account_orders">Bestellingen</a>
                            </li>
                            <li>
                                <a href="/eigen_collectie">Eigen collectie</a>
                            </li>
                            <li>
                                <a href="/account_adresboek">Adresboek</a>
                            </li>
                            <li>
                                <a href="/logout">Uitloggen</a>
                            </li>
                        </ul>
                    </li>
                    <li class="login" id="navbar-login">
                        <a href="/login" title="Inloggen">
                            <i class="icon icon-user">&nbsp;</i>
                            <span>INLOGGEN</span>
                        </a>
                    </li>
                    <li class="basket">
                        <a class="basket" href="/basket_n" title="Winkelmandje">
                            <i class="icon icon-basket">&nbsp;</i>
                            <span id="navbar-basket"> </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="topbar-basket-mob js-open-topbar-basket-menu-mob">
                <i class="icon icon-basket">&nbsp;</i>
            </div>
            <div class="topbar-basket-menu-mob js-topbar-basket-menu-mob">
                <p class="basket-items-count">&nbsp;</p>
                <ul>
                    <li class="mob-basket">
                        <a href="/basket_n">Winkelmand</a>
                    </li>
                    <li class="mob-account">
                        <a href="/account">Account</a>
                    </li>
                    <li class="mob-collection">
                        <a href="/eigen_collectie">Eigen collectie</a>
                    </li>
                    <li class="mob-contact">
                        <a href="/contact">Contact</a>
                    </li>
                    <li class="mob-login">
                        <a href="/login">Inloggen</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="middlebar">
        <div class="container">
            <div class="collapse">
                <a class="logo" href="/home" title="Kaartjes"><img alt="" src="/media/logo.png" style="width: 180px; height: 63px;" /></a>
                <!-- middlebar-menu-left is needed for navbar-style-1 to fill the scroll-menu on mobile -->
                <ul class="middlebar-menu-right js-middlebar-menu-right">
                    <li>
                        <a href="/trouwkaarten">Trouwkaarten</a>
                    </li>
                    <li>
                        <a href="/trouwkaarten/trouwkaart-ontwerpen">Zelf ontwerpen</a>
                    </li>
                    <li>
                        <a href="/save-the-date-kaarten">Save the date kaarten</a>
                    </li>
                    <li>
                        <a href="/trouwhuisstijl">Trouwhuisstijl</a>
                    </li>
                    <li class="dropdown js-dropdown">
                        <a class="js-dropdown-hover" href="javascript:void(0);">Meer kaarten</a>
                        <ul class="dropdown-content js-dropdown-content ">
                            <li>
                                <a href="/bedankkaarten">Bedankkaarten</a>
                            </li>
                            <li>
                                <a href="/verlovingskaarten">Verlovingskaarten</a>
                            </li>
                            <li>
                                <a href="/rsvp">Rsvp kaartje</a>
                            </li>
                            <li>
                                <a href="/brief_bij_trouwkaart">Extra kaartje</a>
                            </li>
                            <li>
                                <a href="/dagprogramma">Dagprogramma</a>
                            </li>
                            <li>
                                <a href="/menukaarten">Menukaarten</a>
                            </li>
                            <li>
                                <a href="/naamkaartje">Naamkaartjes</a>
                            </li>
                            <li>
                                <a href="/gastenboek-bruiloft">Gastenboekkaartjes</a>
                            </li>
                            <li>
                                <a href="/kaart-labels">Labeltjes</a>
                            </li>
                            <li>
                                <a href="/trouwhuisstijl">Trouwhuisstijl</a>
                            </li>
                            <li>
                                <a href="/jubileumkaarten">Jubileumkaarten</a>
                            </li>
                        </ul>
                    </li>
                    <li class="xs-hide-ib xsm-hide-ib sm-hide-ib">
                        <a class="js-favorites-dynamic" href="javascrip:void()">&nbsp;</a>
                    </li>
                </ul>
            </div>
            <div class="open-navbar-search js-open-navbar-search">
                <i class="icon icon-search">&nbsp;</i>
            </div>
            <div class="navbar-search-field js-navbar-search-field js-middlebar-menu-right">
                <form _lpchecked="1" action="/zoeken" id="headersearch" style="text-align:right;">
                    <meta content="https://shop75.kaart-o-matic.nl/zoeken?qry={qry}" />
                    <button class="search-button-field">
                        <i class="icon icon-search">&nbsp;</i>
                    </button>
                    <div class="search-input-field">
                        <input name="qry" placeholder="Je zoekterm + enter" type="text" />
                    </div>
                </form>
            </div>
            <div class="menu-mob-middlebar-left js-open-middlebar-menu-right-mob">
                <i class="icon icon-hamburger">&nbsp;</i>menu</div>
        </div>
    </div>
</div>