<div class="visual js-visual-fullwidth-ontop">
    <div class="container">
        <div class="cols visual-content">
            <div class="md-12 text-center">
                <h1>Trouwkaarten: stijlvolle en klassieke ontwerpen</h1>
                <p>Bestel een GRATIS proefdruk met de code STIJLVOL</p>
                <a class="button button-lg button-primary button-marriage" href="/trouwkaarten">Trouwkaarten&nbsp;
                    <i class="icon icon-arrow-right">&nbsp;</i>
                </a>
                <a class="button button-lg button-primary" href="/trouwkaarten/trouwkaart-ontwerpen">Zelf maken
                    <i class="icon icon-arrow-right">&nbsp;</i>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="js-pagecontent-fullwidth">
    <div class="container">
        <h2 style="text-align: center">Huwelijksuitnodigingen voor jullie grote dag</h2>
        <p style="text-align: center">Vind de kaart waar je naar zoekt! Denk ook aan bijpassende menukaarten, naamkaartjes en bedankkaartjes.
            <br /> Beoordeel je ontwerp vooraf door een &eacute;chte proefdruk te bestellen!</p>
        <div class="cols cols-multi">
            <div class="xs-6 xsm-6 sm-4 md-4 lg-4">
                <div class="thumbnail thumbnail-fluid" onclick="location.href = '/populaire-trouwkaarten';"><img alt="populaire-trouwkaarten" class="img-responsive img-center" src="/media/populairetrouwkaarten.jpg" />
                    <div class="thumbnail-footer text-center">
                        <p>Populaire trouwkaarten</p>
                    </div>
                </div>
            </div>
            <div class="xs-6 xsm-6 sm-4 md-4 lg-4">
                <div class="thumbnail thumbnail-fluid" onclick="location.href = '/save-the-date-kaarten';"><img alt="save the date kaarten" class="img-responsive img-center" src="/media/savethedate.jpg " />
                    <div class="thumbnail-footer text-center">
                        <p>Save the Date</p>
                    </div>
                </div>
            </div>
            <div class="xs-6 xsm-6 sm-4 md-4 lg-4">
                <div class="thumbnail thumbnail-fluid" onclick="location.href = '/langwerpige-trouwkaarten';"><img alt="smalle trouwkaarten panorama trouwkaarten" class="img-responsive img-center" src="/media/smalletrouwkaarten.jpg" />
                    <div class="thumbnail-footer text-center">
                        <p>Langwerpige&nbsp;en panorama trouwkaarten</p>
                    </div>
                </div>
            </div>
            <div class="xs-6 xsm-6 sm-4 md-4 lg-4">
                <div class="thumbnail thumbnail-fluid" onclick="location.href = '/trouwkaarten/hippe-trendy-trouwkaart';"><img alt="trendy huwelijksuitnodigingen" class="img-responsive img-center" src="/media/bijzonderetrouwkaarten.jpg" />
                    <div class="thumbnail-footer text-center">
                        <p>Klassieke en trendy collectie</p>
                    </div>
                </div>
            </div>
            <div class="xs-6 xsm-6 sm-4 md-4 lg-4">
                <div class="thumbnail thumbnail-fluid" onclick="location.href = '/trouwkaarten/trouwkaart_ontwerpen';"><img alt="trouwkaart zelf maken" class="img-responsive img-center" src="/media/zelfontwerpen.jpg" />
                    <div class="thumbnail-footer text-center">
                        <p>Zelf een kaart ontwerpen</p>
                    </div>
                </div>
            </div>
            <div class="xs-6 xsm-6 sm-4 md-4 lg-4">
                <div class="thumbnail thumbnail-fluid" onclick="location.href = '/trouwhuisstijl';"><img alt="trouwhuisstijl bruiloft" class="img-responsive img-center" src="/media/trouwhuisstijl.jpg" />
                    <div class="thumbnail-footer text-center">
                        <p>Trouwhuisstijl</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="background-default">
        <div class="container">
            <h2 style="text-align: center;">Trouwkaarten maken | service en extra&rsquo;s</h2>
            <p style="text-align: center">&nbsp;</p>
            <div class="cols cols-multi">
                <div class="xs-6 xsm-6 sm-3 md-3 lg-3">
                    <div class="thumbnail thumbnail-fluid" onclick="location.href = '/prijzen';"><img alt="prijzen trouwkaarten" class="img-responsive img-center" src="/media/prijzentrouwkaarten.jpg" />
                        <div class="thumbnail-footer text-center">
                            <p>Prijzen</p>
                        </div>
                    </div>
                </div>
                <div class="xs-6 xsm-6 sm-3 md-3 lg-3">
                    <div class="thumbnail thumbnail-fluid" onclick="location.href = '/formaten';"><img alt="formaten stijlvolle trouwkaarten" class="img-responsive img-center" src="/media/formatenhuwelijksuitnodiging.jpg" />
                        <div class="thumbnail-footer text-center">
                            <p>Formaten</p>
                        </div>
                    </div>
                </div>
                <div class="xs-6 xsm-6 sm-3 md-3 lg-3">
                    <div class="thumbnail thumbnail-fluid" onclick="location.href = '/verzendkosten';"><img alt="verzendkosten stijlvolle trouwkaarten" class="img-responsive img-center" src="/media/verzendkostenstijlvolletrouwkaarten.jpg" />
                        <div class="thumbnail-footer text-center">
                            <p>Geen verzendkosten</p>
                        </div>
                    </div>
                </div>
                <div class="xs-6 xsm-6 sm-3 md-3 lg-3">
                    <div class="thumbnail thumbnail-fluid" onclick="location.href = '/proefdruk';"><img alt="proefdruk stijlvolle trouwkaarten" class="img-responsive img-center" src="/media/proefdruktrouwkaart.jpg" />
                        <div class="thumbnail-footer text-center">
                            <p>Proefdruk &amp; proefsetje</p>
                        </div>
                    </div>
                </div>
                <div class="xs-6 xsm-6 sm-3 md-3 lg-3">
                    <div class="thumbnail thumbnail-fluid" onclick="location.href = '/bezorging';"><img alt="levertijd stijlvolle trouwkaarten" class="img-responsive img-center" src="/media/levertijdtrouwkaarten.jpg" />
                        <div class="thumbnail-footer text-center">
                            <p>Levertijd</p>
                        </div>
                    </div>
                </div>
                <div class="xs-6 xsm-6 sm-3 md-3 lg-3">
                    <div class="thumbnail thumbnail-fluid" onclick="location.href = '/papiersoorten';"><img alt="papiersoorten stijlvolle trouwkaarten" class="img-responsive img-center" src="/media/papiersoortentrouwkaarten.jpg" />
                        <div class="thumbnail-footer text-center">
                            <p>Papiersoorten</p>
                        </div>
                    </div>
                </div>
                <div class="xs-6 xsm-6 sm-3 md-3 lg-3">
                    <div class="thumbnail thumbnail-fluid" onclick="location.href = '/enveloppen-info';"><img alt="enveloppen stijlvolle trouwkaarten" class="img-responsive img-center" src="/media/enveloppentrouwkaarten.jpg" />
                        <div class="thumbnail-footer text-center">
                            <p>Enveloppen</p>
                        </div>
                    </div>
                </div>
                <div class="xs-6 xsm-6 sm-3 md-3 lg-3">
                    <div class="thumbnail thumbnail-fluid" onclick="location.href = '/klantwaardering';"><img alt="klantwaardering stijlvolle trouwkaarten" class="img-responsive img-center" src="/media/klantwaarderingstijlvolletrouwkaarten.jpg" />
                        <div class="thumbnail-footer text-center">
                            <p>Klantwaardering</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h2 style="text-align: center;">De nieuwste trouwkaarten en Save the Date kaartjes</h2>
        <div class="thumbnail-scroller">
            <div class="js-add-tag-scroller">&nbsp;</div>
        </div>
        <div class="background-default">
            <div class="container">
                <div class="md-12">
                    <p class="text-center">Bekijk de hele&nbsp;
                        <a href="http://stijlvolletrouwkaarten.nl/trouwkaarten">inspirerende collectie</a> huwelijksuitnodigingen en personaliseer de trouwkaart naar jullie eigen wensen.
                        <br /> &nbsp;
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <h2 style="text-align: center;">Bruiloft idee&euml;n</h2>
            <p style="text-align: center">&nbsp;</p>
            <div class="cols cols-multi">
                <div class="xs-6 xsm-6 sm-3 md-3 lg-3">
                    <div class="thumbnail thumbnail-fluid" onclick="location.href = '/voorbeeld-teksten';"><img alt="tekst trouwkaart" class="img-responsive img-center" src="/media/teksttrouwkaart.jpg" />
                        <div class="thumbnail-footer text-center">
                            <p>Teksten</p>
                        </div>
                    </div>
                </div>
                <div class="xs-6 xsm-6 sm-3 md-3 lg-3">
                    <div class="thumbnail thumbnail-fluid" onclick="location.href = '/loveshoot-fotograaf-trouwen';"><img alt="loveshoot-fotograaf" class="img-responsive img-center" src="/media/loveshoot.jpg" />
                        <div class="thumbnail-footer text-center">
                            <p>Loveshoot</p>
                        </div>
                    </div>
                </div>
                <div class="xs-6 xsm-6 sm-3 md-3 lg-3">
                    <div class="thumbnail thumbnail-fluid" onclick="location.href = '/leuke-kaarten-bruiloft';"><img alt="bijzondere kaarten bruiloft" class="img-responsive img-center" src="/media/leukekaartenbruiloft.jpg" />
                        <div class="thumbnail-footer text-center">
                            <p>Leuke kaarten</p>
                        </div>
                    </div>
                </div>
                <div class="xs-6 xsm-6 sm-3 md-3 lg-3">
                    <div class="thumbnail thumbnail-fluid" onclick="location.href = '/gastenboek-bruiloft/';"><img alt="gastenboek bruiloft" class="img-responsive img-center" src="/media/gastenboekkaartje.jpg" />
                        <div class="thumbnail-footer text-center">
                            <p>Origineel gastenboek</p>
                        </div>
                    </div>
                </div>
                <div class="xs-6 xsm-6 sm-3 md-3 lg-3">
                    <div class="thumbnail thumbnail-fluid" onclick="location.href = '/tips-and-tricks';"><img alt="tips trouwkaarten" class="img-responsive img-center" src="/media/tipstrickstrouwkaart.jpg" />
                        <div class="thumbnail-footer text-center">
                            <p>Tips &amp; Tricks</p>
                        </div>
                    </div>
                </div>
                <div class="xs-6 xsm-6 sm-3 md-3 lg-3">
                    <div class="thumbnail thumbnail-fluid" onclick="location.href = '/free-printables';"><img alt="free printables" class="img-responsive img-center" src="/media/freeprintables.jpg" />
                        <div class="thumbnail-footer text-center">
                            <p>Freeprintables</p>
                        </div>
                    </div>
                </div>
                <div class="xs-6 xsm-6 sm-3 md-3 lg-3">
                    <div class="thumbnail thumbnail-fluid" onclick="location.href = '/wanneer-verstuur-je-de-trouwkaarten';"><img alt="wanneer verstuur je trouwkaarten" class="img-responsive img-center" src="/media/wanneerversturentrouwkaart.jpg" />
                        <div class="thumbnail-footer text-center">
                            <p>Wanneer versturen</p>
                        </div>
                    </div>
                </div>
                <div class="xs-6 xsm-6 sm-3 md-3 lg-3">
                    <div class="thumbnail thumbnail-fluid" onclick="location.href = '/voorkom-spelfouten-trouwkaarten';"><img alt="spelfouten trouwkaart" class="img-responsive img-center" src="/media/spelfoutentrouwkaart.jpg" />
                        <div class="thumbnail-footer text-center">
                            <p>Voorkom spelfouten</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container over-ons">
            <h2 style="text-align: center;">&nbsp;</h2>
            <h2 style="text-align: center;">Over ons</h2>
            <div class="cols cols-multi">
                <div class="xs-6 xsm-6 sm-15 md-15 lg-15">
                    <div class="thumbnail-people">
                        <div class="thumbnail-people-img">
                            <div class="img">
                                <a href="/over_ons"><img class="img-responsive img-center" src="/media/joannestijlvolletrouwkaarten.jpg" /></a>
                            </div>
                            <p>
                                <a href="/over_ons">Jo-Anne</a>
                            </p>
                        </div>
                        <div class="thumbnail-people-label text-center xs-hide xsm-hide">Eigenaar &amp; ontwerper - met liefde kaarten maken en de website managen</div>
                    </div>
                </div>
                <div class="xs-6 xsm-6 sm-15 md-15 lg-15">
                    <div class="thumbnail-people">
                        <div class="thumbnail-people-img">
                            <div class="img">
                                <a href="/over_ons"><img class="img-responsive img-center" src="/media/larastijlvolletrouwkaarten.jpg" /></a>
                            </div>
                            <p>
                                <a href="/over_ons">Lara</a>
                            </p>
                        </div>
                        <div class="thumbnail-people-label text-center xs-hide xsm-hide">Stagiaire - ik mag leren en meewerken aan deze geweldige trouwkaartenshop</div>
                    </div>
                </div>
                <div class="xs-6 xsm-6 sm-15 md-15 lg-15">
                    <div class="thumbnail-people">
                        <div class="thumbnail-people-img">
                            <div class="img">
                                <a href="/over_ons"><img class="img-responsive img-center" src="/media/gabriellastijlvolletrouwkaarten.jpg" /></a>
                            </div>
                            <p>
                                <a href="/over_ons">Gabri&euml;lla</a>
                            </p>
                        </div>
                        <div class="thumbnail-people-label text-center xs-hide xsm-hide">Marketing - de website op rolletjes laten verlopen is mijn doel</div>
                    </div>
                </div>
                <div class="xs-6 xsm-6 sm-15 md-15 lg-15">
                    <div class="thumbnail-people">
                        <div class="thumbnail-people-img">
                            <div class="img">
                                <a href="/over_ons"><img class="img-responsive img-center" src="/media/pieterstijlvolletrouwkaarten.jpg" /></a>
                            </div>
                            <p>
                                <a href="/over_ons">Pieter</a>
                            </p>
                        </div>
                        <div class="thumbnail-people-label text-center xs-hide xsm-hide">Klantenservice - als je mailt of belt, dan help ik je graag</div>
                    </div>
                </div>
                <div class="xs-6 xsm-6 sm-15 md-15 lg-15">
                    <div class="thumbnail-people">
                        <div class="thumbnail-people-img">
                            <div class="img">
                                <a href="/over_ons"><img class="img-responsive img-center" src="/media/patriciastijlvolletrouwkaarten.jpg" /></a>
                            </div>
                            <p>
                                <a href="/over_ons">Patricia</a>
                            </p>
                        </div>
                        <div class="thumbnail-people-label text-center xs-hide xsm-hide">Marketing - ondersteuning van alle activiteiten</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>