<p>Save the Date kaarten stuur je 4&nbsp;tot 12 maanden voor de bruiloft naar jullie gasten. Bestel een gratis &eacute;chte proefdruk met kortingscode <em>stijlvol</em>.</p>
<div class="button-content text-center">
    <a class="button button-lg button-primary" href="/trouwkaarten/trouwkaart-ontwerpen">Jullie Save the Date kaart zelf ontwerpen?
        <i class="icon icon-arrow-right"> </i>
    </a>&nbsp;&nbsp;
    <a href="http://stijlvolletrouwkaarten.nl/trouwkaart-laten-ontwerpen">Liever samen met ons ontwerpen?</a>
</div>
<div class="cols cols-multi">
    <div class="xs-6 xsm-6 sm-4 md-4 lg-4">
        <div class="thumbnail thumbnail-fluid" onclick="location.href = '/save-the-date-kaarten/klassieke-save-the-date';"><img alt="klassieke save the date kaarten" class="img-responsive img-center" src="/media/savethedateklassiek.png" />
            <div class="thumbnail-footer text-center">
                <p>Klassiek</p>
            </div>
        </div>
    </div>
    <div class="xs-6 xsm-6 sm-4 md-4 lg-4">
        <div class="thumbnail thumbnail-fluid" onclick="location.href = '/save-the-date-kaarten/romantische-save-the-date';"><img alt="romantische save the date kaarten" class="img-responsive img-center" src="/media/savethedateromantisch.png" />
            <div class="thumbnail-footer text-center">
                <p>Romantisch</p>
            </div>
        </div>
    </div>
    <div class="xs-6 xsm-6 sm-4 md-4 lg-4">
        <div class="thumbnail thumbnail-fluid" onclick="location.href = '/save-the-date-kaarten/typografie-save-the-date-kaart';"><img alt="save-the-date-typografie" class="img-responsive img-center" src="/media/savethedatetypografie.png" />
            <div class="thumbnail-footer text-center">
                <p>Typografie</p>
            </div>
        </div>
    </div>
    <div class="xs-6 xsm-6 sm-4 md-4 lg-4">
        <div class="thumbnail thumbnail-fluid" onclick="location.href = '/save-the-date-kaarten/hippe-trendy-save-the-date';"><img alt="hip en trendy save the date" class="img-responsive img-center" src="/media/savethedatetrendy.png" />
            <div class="thumbnail-footer text-center">
                <p>Hip &amp; Trendy</p>
            </div>
        </div>
    </div>
    <div class="xs-6 xsm-6 sm-4 md-4 lg-4">
        <div class="thumbnail thumbnail-fluid" onclick="location.href = '   /save-the-date-kaarten/moderne-save-the-date';"><img alt="moderne save the date" class="img-responsive img-center" src="/media/savethedatemodern2.png" />
            <div class="thumbnail-footer text-center">
                <p>Modern</p>
            </div>
        </div>
    </div>
    <div class="xs-6 xsm-6 sm-4 md-4 lg-4">
        <div class="thumbnail thumbnail-fluid" onclick="location.href = '/trouwkaarten/trouwkaart_ontwerpen';"><img alt="trouwkaart zelf maken" class="img-responsive img-center" src="/media/SavetheDatezelfmaken.png" />
            <div class="thumbnail-footer text-center">
                <p>Zelf ontwerpen</p>
            </div>
        </div>
    </div>
    <div class="thumbnail-footer text-center">
        <p>&nbsp;</p>
    </div>
    <div class="background-h2">
        <h2 style="text-align: center;">Gehele Save the Date collectie</h2>
    </div>
    <div style="clear: left; text-align: center">Gebruik de filters om een persoonlijke selectie te maken. De selectievelden zijn gemakkelijk uit of aan te vinken</div>
</div>