<p>Van bijna alle ontwerpen kun je de teksten, het lettertype en de achtergrond- of letterkleur aanpassen. Bestel een gratis &eacute;chte proefdruk met kortingscode <em>stijlvol</em>.</p>
<div class="button-content text-center">
    <a class="button button-lg button-primary" href="/trouwkaarten/trouwkaart-ontwerpen">Jullie trouwkaart zelf ontwerpen?
        <i class="icon icon-arrow-right"> </i>
    </a>&nbsp;&nbsp;
    <a href="/trouwkaart-laten-ontwerpen">Liever samen met ons ontwerpen?</a>
</div>
<div class="cols cols-multi">
    <div class="xs-6 xsm-6 sm-4 md-4 lg-4">
        <div class="thumbnail thumbnail-fluid" onclick="location.href = '/alle-trouwkaarten';">
            <a href="/alle-trouwkaarten"><img alt="alle trouwkaarten" class="img-responsive img-center" src="/media/alletrouwkaarten2.jpg" /></a>
            <div class="thumbnail-footer text-center">
                <p>Alle Trouwkaarten</p>
            </div>
        </div>
    </div>
    <div class="xs-6 xsm-6 sm-4 md-4 lg-4">
        <div class="thumbnail thumbnail-fluid" onclick="location.href = '/trouwkaart-met-foto';">
            <a href="/trouwkaart-met-foto"><img alt="trouwkaart met foto" class="img-responsive img-center" src="/media/trouwkaartfoto1.jpg" /></a>
            <div class="thumbnail-footer text-center">
                <p>Met Foto</p>
            </div>
        </div>
    </div>
    <div class="xs-6 xsm-6 sm-4 md-4 lg-4">
        <div class="thumbnail thumbnail-fluid" onclick="location.href = '/trouwkaarten/trouwkaart_ontwerpen';">
            <a href="/trouwkaarten/trouwkaart-ontwerpen"><img alt="trouwkaart zelf maken" class="img-responsive img-center" src="/media/trouwkaartzelfontwerpen.jpg" /></a>
            <div class="thumbnail-footer text-center">
                <p>Zelf ontwerpen</p>
            </div>
        </div>
    </div>
    <div class="xs-6 xsm-6 sm-4 md-4 lg-4">
        <div class="thumbnail thumbnail-fluid" onclick="location.href = '/trouwkaarten/klassieke-trouwkaarten';">
            <a href="/trouwkaarten/klassieke-trouwkaarten"><img alt="trouwkaart klassiek" class="img-responsive img-center" src="/media/klassieketrouwkaarten2.jpg" /></a>
            <div class="thumbnail-footer text-center">
                <p>Klassiek</p>
            </div>
        </div>
    </div>
    <div class="xs-6 xsm-6 sm-4 md-4 lg-4">
        <div class="thumbnail thumbnail-fluid" onclick="location.href = '/trouwkaarten/hippe-trendy-trouwkaart';">
            <a href="/trouwkaarten/hippe-trendy-trouwkaart"><img alt="hip en trendy trouwkaarten" class="img-responsive img-center" src="/media/trendytrouwkaarten.jpg" /></a>
            <div class="thumbnail-footer text-center">
                <p>Hip &amp; Trendy</p>
            </div>
        </div>
    </div>
    <div class="xs-6 xsm-6 sm-4 md-4 lg-4">
        <div class="thumbnail thumbnail-fluid" onclick="location.href = '/trouwkaarten/moderne-trouwkaart';">
            <a href="/trouwkaarten/moderne-trouwkaart"><img alt="moderne trouwkaart" class="img-responsive img-center" src="/media/modernetrouwkaarten.jpg" /></a>
            <div class="thumbnail-footer text-center">
                <p>Modern</p>
            </div>
        </div>
    </div>
    <div class="background-h2">
        <h2 style="text-align: center;">Trouwkaart collectie</h2>
    </div>
    <div style="clear: left; text-align: center">Gebruik de filters om een persoonlijke selectie te maken. De selectievelden zijn gemakkelijk uit of aan te vinken</div>
</div>