<script>
if (location.protocol != 'https:')
{
 location.href = 'https:' + window.location.href.substring(window.location.protocol.length);
}
</script>
<meta name="google-site-verification" content="BVgZ7CatVu7AiZ6tI1tOZkAB9CzNq7drbq6gUr8yMd8" />
<meta name="viewport" content="initial-scale=1.0, width=device-width">
<link rel="stylesheet" type="text/css" href="/css/less.min.css"/>
<link rel="stylesheet" type="text/css" href="/css/custom.css"/>
<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
<meta name="google-site-verification" content="BVgZ7CatVu7AiZ6tI1tOZkAB9CzNq7drbq6gUr8yMd8" />
<meta name="google-site-verification" content="1MUwQQCBQD1gVllEuIwMVrJDHX8wyYwLiJ44WPUD-Ck" />

<script src="https://use.typekit.net/kwq8hrf.js"></script>
<script>try{Typekit.load({ async: false });}catch(e){}</script>