<link href="/css/custom-new-font.css" rel="stylesheet" />
<div class="navbar">
    <div class="topbar">
        <div class="container">
            <button class="navbar-hamburger" type="button">
                <span class="icon-bar">&nbsp;</span>
                <span class="icon-bar">&nbsp;</span>
                <span class="icon-bar">&nbsp;</span>
            </button>
            <div class="topbar-menu-left">
                <a href="/prijzen" title="Gratis verzending">Alle pakketten GRATIS VERZENDING</a>
            </div>
            <div class="topbar-menu-right">
                <ul>
                    <li>
                        <a class="hphone" href="tel:0857430766" title="085-743 0766">
                            <i class="icon icon-phone">&nbsp;</i>
                            <span class="xs-xsm-sm-hide">085-743 0766</span>
                        </a>
                    </li>
                    <li class="xs-xsm-sm-hide">
                        <a href="http://stijlvolletrouwkaarten.nl/contact">CONTACT</a>
                    </li>
                    <li class="xs-xsm-sm-hide">
                        <a href="http://stijlvolletrouwkaarten.nl/prijzen">PRIJZEN</a>
                    </li>
                    <li class="dropdown">
                        <a class="help" href="#" title="INFO">
                            <i class="icon icon-info md-hide lg-hide" style="font-size: 18px;">&nbsp;</i>
                            <span class="xs-xsm-sm-hide">Info</span>
                            <i class="icon icon-chevron-down icon-xs">&nbsp; </i>
                        </a>
                        <ul class="dropdown-content prijzen">
                            <li>
                                <a href="/proefdruk">Proefdruk</a>
                            </li>
                            <li>
                                <a href="/prijzen">Prijzen</a>
                            </li>
                            <li>
                                <a href="/bezorging">Levertijd en bezorging</a>
                            </li>
                            <li>
                                <a href="/formaten">Formaten</a>
                            </li>
                            <li>
                                <a href="/papiersoorten">Papiersoorten</a>
                            </li>
                            <li>
                                <a href="/enveloppen-info">Enveloppen</a>
                            </li>
                            <li>
                                <a href="/direct-verzenden">Direct versturen</a>
                            </li>
                            <li>
                                <a href="/hoe_werkt_het">Hoe werkt het</a>
                            </li>
                            <li>
                                <a href="/betalen">Betaling</a>
                            </li>
                            <li>
                                <a href="/klantwaardering">Reviews</a>
                            </li>
                            <li>
                                <a href="/veel-gestelde-vragen">FAQ</a>
                            </li>
                            <li>
                                <a href="/algemene_voorwaarden">Alg. voorwaarden</a>
                            </li>
                        </ul>
                    </li>
                    <li class="xs-xsm-sm-hide">
                        <a href="http://stijlvolletrouwkaarten.nl/wedspiration">BLOG</a>
                    </li>
                    <li class="dropdown" id="navbar-logout">
                        <a class="account" href="/account" title="Account">
                            <i class="icon icon-user">&nbsp;</i>
                            <span>Account</span>
                            <i class="icon icon-chevron-down icon-xs">&nbsp;</i>
                        </a>
                        <ul>
                            <li>
                                <a href="/account_address">Persoonsgegevens</a>
                            </li>
                            <li>
                                <a href="/account_password">Wachtwoord wijzigen</a>
                            </li>
                            <li>
                                <a href="/account_orders">Bestellingen</a>
                            </li>
                            <li>
                                <a href="/eigen_collectie">Eigen collectie</a>
                            </li>
                            <li>
                                <a href="/account_adresboek">Adresboek</a>
                            </li>
                            <li style="border-top: 1px dashed #e0e0e0;">
                                <a href="/logout">Uitloggen</a>
                            </li>
                        </ul>
                    </li>
                    <li id="navbar-login">
                        <a class="inloggen" href="/login" title="Login">
                            <i class="icon icon-user">&nbsp;</i>
                            <span>Login</span>
                        </a>
                    </li>
                    <!--<li class="logout">
                                                        <a class="basket" href="/logout" title="Logout">
                                                        <i class="icon icon-exit-topright"></i>
                                                        <span>Logout</span></a>
                                                    </li>-->
                    <li>
                        <a href="/basket_n" title="Winkelmandje">
                            <i class="icon icon-basket">&nbsp;</i>
                            <span id="navbar-basket">0 items</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="logo xs-hide xsm-hide sm-hide">
        <a href="/" title="Stijlvolle trouwkaarten"><img alt="Stijlvolle trouwkaarten" src="/img/stijlvolle-trouwkaarten-XXL.png" style="max-width: 200px; margin-bottom: 20px;" /> </a>
    </div>
    <div class="middlebar">
        <div class="container">
            <div class="collapse">
                <div class="collapse-container">
                    <button class="navbar-hamburger" type="button">
                        <span class="icon-bar">&nbsp;</span>
                        <span class="icon-bar">&nbsp;</span>
                        <span class="icon-bar">&nbsp;</span>
                    </button>
                    <ul class="middlebar-menu-right">
                        <li>
                            <a href="/trouwkaarten">
                                <span style="padding: 0px 20px 0px 0px;">Trouwkaarten</span>
                            </a>
                        </li>
                        <li>
                            <a href="/trouwkaarten/trouwkaart-ontwerpen">
                                <span>Zelf ontwerpen</span>
                            </a>
                        </li>
                        <li>
                            <a href="/save-the-date-kaarten">
                                <span>Save the date kaarten</span>
                            </a>
                        </li>
                        <li>
                            <a href="/trouwhuisstijl">
                                <span>Trouwhuisstijl</span>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="javascript:void(0);">
                                <span class="more-cards">Meer kaarten</span>
                                <i class="icon icon-chevron-down icon-xs" style="padding: 0px 20px 0px 0px;"> &nbsp;</i>
                            </a>
                            <ul class="transition-ease dropdown-content">
                                <li>
                                    <span>
                                        <a href="/bedankkaarten">Bedankkaarten</a>
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <a href="/verlovingskaarten">Verlovingskaarten</a>
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <a href="/rsvp">Rsvp kaartje</a>
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <a href="/brief_bij_trouwkaart">Extra kaartje</a>
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <a href="/dagprogramma">Dagprogramma</a>
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <a href="/menukaarten">Menukaarten</a>
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <a href="/naamkaartje">Naamkaartjes</a>
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <a href="/gastenboek-bruiloft">Gastenboekkaartjes</a>
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <a href="/kaart-labels">Labeltjes</a>
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <a href="/trouwhuisstijl">Trouwhuisstijl</a>
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <a href="/jubileumkaarten">Jubileumkaarten</a>
                                    </span>
                                </li>
                            </ul>
                        </li>
                        <li class="navbar-search">
                            <a class="open-navbar-search" href="javascript:void(0)">
                                <i class="icon icon-search">&nbsp;</i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="navbar-search-field">
                <button class="search-button-field" name="search" type="button" value="Go">
                    <i class="icon icon-search">&nbsp;</i>
                </button>
                <div class="search-input-field">
                    <form action="/zoeken" class="qry_form" method="GET">
                        <input class="qry" name="qry" placeholder="Zoeken" type="text" />
                        <!--<input type="submit" style="display:none"/>-->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>