<p>
  <img alt="sfeerbeeld" src="/img/sfeerbeeld.png" />
</p>
<div id="actie"><img alt="actie" src="/img/actie.png" /></div>
<h1>Een kaartje maken was nog nooit zo leuk</h1>
<table id="submenu" align="left" border="0" cellpadding="1" cellspacing="1" style="width: 100%;">
  <tbody>
    <tr style="text-align: left;">
      <th><img alt="1" src="/img/blw_1.png" class="textmiddle" />&nbsp;Kaart uitkiezen</th>
      <th><img alt="2" src="/img/blw_2.png" class="textmiddle" />&nbsp;Bewerken</th>
      <th><img alt="3" src="/img/blw_3.png" class="textmiddle" />&nbsp;Adresseren</th>
      <th><img alt="4" src="/img/blw_4.png" class="textmiddle" />&nbsp;Betalen en versturen</th>
    </tr>
    <tr>
      <td><img alt="kaart uitkiezen" src="/img/kiezen.png" /></td>
      <td><img alt="bewerken" src="/img/bewerken.png" /></td>
      <td><img alt="adresseren" src="/img/adresseren.png" /></td>
      <td><img alt="betalen en versturen" src="/img/betalen.png" /></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td style="background: url('/img/btn_kaart_maken.png') 0px 0px no-repeat; height: 30px; border: none; padding: 0;"><a class="textmiddle" style="position: relative; padding: 0 10px; top:-1px; *top:0; color: white;" href="">Kaartje maken</a></td>
    </tr>
  </tbody>
</table>
<p>
  &nbsp;</p>
