#infodiv {
    font-size: 14px;
}
#infodiv table{
    position:relative;
    top:-3px;
    font-size: 12px;
    border: 0;
}

#infodiv table td {
    padding: 6px 3px;
    border: 0;
}

#infodiv label {
    font-weight: 300;
}

#grid_checkbox_label,
#preview_label {
    font-size: 14px;
}

#editor_top_border {
    margin-top: -61px;
}

#accordion {
	margin: 0;
	width: 315px;
}

a#edit_card {
	color: none;
}

.edit_div, .edittable {
	color: #403c3d;
}

#imagelist .pages, #patternlist .pages, #clipartlist .pages {
    width: 111px;
    font-family: 'droid_serifregular';
}


#accordion .ui-accordion-header a {
    color: #fff;
    font-weight: normal;
    padding-left: 10px;
    font-size: 14px;
    font-style: normal;
    text-transform:uppercase;
    text-decoration:none!important;
    line-height:31px;
}

#accordion .ui-accordion-header.ui-state-active a {
    color:#fff
}

#accordion .ui-accordion-content a.prev, #accordion .ui-accordion-content a.next {
    font-family: 'droid_serifregular';
    display: inline-block;
    font-size: 12px;
    width: 78px;
	text-decoration:none!important
}

#accordion .ui-accordion-content a.prev {
    text-align:left;
}

#accordion .ui-accordion-content a.next {
    text-align:right;
}

#accordion .inactive {
    color: #403c3d;
}

#imagelist .head, #patternlist .head, #clipartlist .head {
    color: #403c3d;
}

.combo > input {
    background-image: url("/img/red_arrow_down.png");
}

#send_date_picker .ui-state-active {
    background: url("/img/calendar-selected.png") no-repeat scroll 7px 0 transparent;
}

#photolist img, #clipartlist img {
    margin:2px 5px 0 0;
    border:#d3d3d3 1px solid;
}

#imagelist img {
    background-color:#f1f3f2;
    width:30%;
    max-height:85px;
    margin:5px 1.5%;
    border:0;
    border-right:1px solid #f1f3f2;
    border-left:1px solid #f1f3f2;
}

#patternlist img {
    background-color:#fff;
    width:85px;
    max-height:85px;
    margin:2px 0px 0 6px;
    border:0;
    border-right:4px solid #fff;
    border-left:3px solid #fff;
}

#patternlist .content {
    width:312px;
    padding-left:3px;
}

#imageaddform {
    background:#fff;
    width:320px;
    height:350px;
    margin-top:-5px;
    margin-left:-1px;
}

#imageaddform #imageaddformclose {
    vertical-align: top;
}

#bt-color, #bt-pattern {
    margin-bottom: -10px;
    overflow: hidden;
}

#bt-color .description, #bt-pattern  .description {
    float: left;
    margin-top: 3px;
    width: 86px;
}

#bt-color .description .arrow_allign {
    display: none;
}

#patternlist {
    padding-top: 10px;
}

.edit_div img.arrow_allign, #texttable img.centeredImage {
    display: none;
}

#texttable.edittable td {
    padding: 4px 2px;
}

#txt_align{
    height:32px;
    margin-top:5px;
}

#txt_align_v{
    margin-bottom:0;
}
#txt_arrange {
    margin:4px 0 2px;
}

#placeholder {
    position:relative;
    top:3px;
    height:auto !important
}

#photo_turn_left {
	margin-right: 3px;
}

#imgtransparency, #textsize {
    background-color: #dedbd4;
    border: medium none;
    float: right;
    height: 6px;
    margin-left: 0;
    width: 147px;
    border-radius: 3px;
}

#texttransparency {
    background-color: #dedbd4;
    border: medium none;
    float: right;
    height: 6px;
    margin-left: 0;
    width: 147px;
    border-radius: 3px;
}

#imgtransparency a, #texttransparency a, #textsize a {
    background: url("/img/scroll-ico.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border: medium none;
    display: block;
    height: 7px;
    width: 16px;
	top:-6px;
	margin-left:0
}

#position_photo_tofront .ui-button-text, #position_txt_tofront .ui-button-text {
    background: url("/img/to_front.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}

#position_photo_toback .ui-button-text, #position_txt_toback .ui-button-text {
    background: url("/img/to_back.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}

#position_photo_tofront .ui-button-text img, #position_photo_toback .ui-button-text img, #position_txt_toback .ui-button-text img, #position_txt_tofront .ui-button-text img {
    /*visibility: hidden;*/
}

#accordion .ui-accordion-content textarea#txt_edit_add {
	background:#f7f6f5;
    height: 75px !important;
    padding:5px 9px;
    margin:9px 0 5px 1px;
	color:#403c3d;
	font-size:12px;
}

#photo_arrange #position_photo_tofront, #photo_arrange #position_photo_toback, #txt_arrange #position_txt_tofront, #txt_arrange #position_txt_toback {
    border: 0 !important;
    box-shadow: none;
}

#body_edit #save_design, #body_edit #save_user_design {
    height:35px!important;
    border:0;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none
}

#body_edit #save_design, #body_edit #save_user_design, .edit_big_button {
    background:#8ac0cf;
    height:33px;
    line-height:33px;
    padding:0 17px;
    color:#fff;
    font-size:17px;
    border-bottom:2px solid #759ba6;
    border-radius:0;
    -moz-border-radius:0;
    -webkit-border-radius:0
}

#body_edit #save_design:hover, #body_edit #save_user_design:hover, .edit_big_button:hover {
    background-color:#74adbd!important;
    text-decoration:none
}

#imagelist, #patternlist, #clipartlist {
    height:125px
}

#imagelist, #clipartlist {
    margin-top:7px
}

#chooseside {
    width: auto;
    margin: 0;
    position: absolute;
    font-size: 0;
    left: 212px;
    bottom: 5px;
}

#chooseside.double_square,#chooseside.double_landscape {
    bottom: 8px;
}

#chooseside.double_portrait {
    bottom: -9px;
}

#chooseside.double_square {
    left: 230px;
}

#chooseside.double_square #s3label,#chooseside.double_square #s1label {
    margin-right: 20px;
}

#chooseside.double_square #s4label,#chooseside.double_square #s2label {
    margin-right: 0;
}

#chooseside input {
    width: auto;
    height: auto;
}

#chooseside label.selected .side_selected {
    background: url(/img/star.svg) top left no-repeat;
    -webkit-filter: grayscale(100%) brightness(826%) brightness(80%);
    filter: grayscale(100%) brightness(826%) brightness(80%);
    left: 0;
    top: 7px;
    transform: rotate(15deg);
}

#step_forward, #order_card {
    cursor: pointer;
    padding: 12px 24px;
    font-size: 16px;
    line-height: 1.3333333;
    border-radius: 2px;
    background-color: #beb0a7;
    color: #ffffff;
}

#step_forward:hover, #order_card:hover {
    color: #ffffff;
    background-color: #ad9b8f;
}

#step_forward:after,#order_card:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 3px;
    width: auto;
    height: auto;
    border: 1px solid #fff;
    border-radius: 2px;
}

#ui-id-2 td {
    vertical-align: top;
}

.ui-slider-horizontal .ui-slider-handle {
    background-color: #da7d8f !important;
    top: -6px;
    border-radius: 50%;
    width: 17px;
    height: 17px;
}

#save_user_design_delete_current,
#save_design_overwrite_current {
    vertical-align: middle;
}

#save_design_form select {
    height: 31px;
    border: 1px solid #dedbd4;
    box-shadow: none;
    color: #403c3d;
}

#accordion #save_design_form br {
    display: none;
}

#add_tags,
#delete_design {
    display: block;
    color: #da7d8f;
    margin: 5px 0;
}

#add_tags:hover,
#delete_design:hover {
    color: #beb0a7;
}

#tag label {
    font-size: 12px;
    font-weight: 400;
}

#tag b {
    font-size: 12px;
}

#close_tag_dialog {
    font-family: "droid_serifregular";
    padding: 12px 24px;
    font-size: 16px;
    line-height: 1.3333333;
    border-radius: 2px;
    background-color: #beb0a7;
    color: #ffffff;
    cursor: pointer;
}

#close_tag_dialog:hover {
        color: #ffffff;
        background-color: #ad9b8f;
}

#photolist, #imagelist .content, #patternlist .content, #clipartlist .content {
    width: auto;
}

.sp-button-container {
    padding-top: 95px!important;
}

#body_edit #clipartlist .content img,
#body_edit #imagelist .content img,
#body_edit #patternlist img {
    max-width: 85px;
    max-height: 85px;
    width: auto !important;
    height: auto !important;
}