@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Varela+Round);
/* Define Size */
@font-face {
  font-family: 'Lilly';
  src: url('fonts/Lilly.eot');
  src: url('fonts/Lilly.eot') format('embedded-opentype'), url('fonts/Lilly.woff2') format('woff2'), url('fonts/Lilly.woff') format('woff'), url('fonts/Lilly.ttf') format('truetype'), url('fonts/Lilly.svg#Lilly') format('svg');
}
@font-face {
  font-family: "kcicons";
  src: url("../css/fonts/kcicons.eot");
  src: url("../css/fonts/kcicons.eot?#iefix") format("embedded-opentype"), url("../css/fonts/kcicons.woff") format("woff"), url("../css/fonts/kcicons.ttf") format("truetype"), url("../css/fonts/kcicons.svg#untitled-font-1") format("svg");
  font-weight: normal !important;
  font-style: normal;
}
@font-face {
  font-family: 'kg_love_somebodyregular';
  src: url('/css/fonts/KGLoveSomebody-webfont.eot');
  src: url('/css/fonts/KGLoveSomebody-webfont.eot?#iefix') format('embedded-opentype'), url('/css/fonts/KGLoveSomebody-webfont.woff2') format('woff2'), url('/css/fonts/KGLoveSomebody-webfont.woff') format('woff'), url('/css/fonts/KGLoveSomebody-webfont.ttf') format('truetype'), url('/css/fonts/KGLoveSomebody-webfont.svg#kg_love_somebodyregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'brain_flower_euro';
  src: url('/css/fonts/BrainFlower.ttf');
  src: url('/css/fonts/BrainFlower.eot');
  src: url('/css/fonts/BrainFlower.eot?#iefix') format('embedded-opentype'), url('/css/fonts/BrainFlower.woff') format('woff'), url('/css/fonts/BrainFlower.ttf') format('truetype'), url('/css/fonts/BrainFlower.svg#BrainFlowerregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gothic';
  src: url('/css/fonts/GOTHIC.ttf');
  src: url('/css/fonts/GOTHIC.eot');
  src: url('/css/fonts/GOTHIC.eot?#iefix') format('embedded-opentype'), url('/css/fonts/GOTHIC.woff') format('woff'), url('/css/fonts/GOTHIC.ttf') format('truetype'), url('/css/fonts/GOTHIC.svg#GOTHICregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Components */
@media only screen and (max-width: 320px) {
  .content-wrapper {
    top: 5px;
    padding: 10px;
  }
  .xsm-hide,
  .xsm-hide,
  .md-hide,
  .lg-hide {
    display: block;
  }
  .xs-hide {
    display: none;
  }
}
@media only screen and (max-width: 480px) and (min-width: 320px) {
  .content-wrapper {
    top: 5px;
    padding: 10px;
  }
  .xs-hide,
  .sm-hide,
  .md-hide,
  .lg-hide {
    display: block;
  }
  .xsm-hide {
    display: none;
  }
}
@media only screen and (max-width: 768px) and (min-width: 480px) {
  .content-wrapper {
    top: 5px;
    padding: 10px;
  }
  .xs-hide,
  .xsm-hide,
  .md-hide,
  .lg-hide {
    display: block;
  }
  .sm-hide {
    display: none;
  }
}
@media only screen and (max-width: 992px) and (min-width: 768px) {
  .content-wrapper {
    top: 5px;
    padding: 10px;
  }
  .xs-hide,
  .xsm-hide,
  .sm-hide,
  .lg-hide {
    display: block;
  }
  .md-hide {
    display: none;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 1200px) and (min-width: 992px) {
  .content-wrapper {
    top: 25px;
    padding: 0;
  }
  .xs-hide,
  .xsm-hide,
  .sm-hide,
  .md-hide {
    display: block;
  }
  .lg-hide {
    display: none;
  }
}
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .content-wrapper {
    top: 25px;
    padding: 0;
  }
  .container {
    width: 1200px;
  }
}
@media (min-width: 768px) {
  .dl-horizontal dd {
    margin-left: 140px;
  }
  .dl-horizontal dt {
    float: left;
    width: 140px;
    overflow: hidden;
    clear: left;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.hide {
  display: none;
}
#headermenu {
  display: none!important;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  outline: none;
}
i {
  display: inline-block;
}
body {
  color: #6e7277;
  font-size: 16px;
  line-height: 27px;
  font-family: 'gothic';
  padding: 0;
  margin: 0;
}
header,
section,
footer,
aside,
nav,
main,
article,
figure {
  display: block;
}
.transition-ease {
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:focus,
*:hover,
*:active,
*:visited {
  outline: none!important;
}
pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.navbar:after .container:after,
.cols:after,
topbar:after,
middlebar:after,
.topbar-left:after,
.topbar-right:after,
topbar-menu:after {
  clear: both;
}
ol,
ul {
  margin-top: 0;
  margin-bottom: 10px;
}
ul {
  padding: 0;
}
dl {
  margin-top: 0;
  margin-bottom: 20px;
}
dd,
dt {
  line-height: 1.42857143;
}
p {
  margin-top: 0;
  margin-bottom: 10px;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}
.navbar:after,
.navbar:before,
.container:after,
.container:before,
.cols:after,
.cols:before,
.form-horizontal .input-group:after,
.form-horizontal .input-group:before {
  display: table;
  content: " ";
}
input,
textarea,
keygen,
select {
  border-radius: 4px;
  border: 1px solid #dcb0b4;
}
ul {
  list-style: none;
}
a {
  color: #dcb0b4;
  outline: none;
  text-decoration: none;
}
a:hover {
  color: #faf4f4;
}
a:active {
  color: #82823c;
}
a:focus {
  color: #82823c;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'brain_flower_euro';
  font-weight: normal;
  color: #45adba;
  margin-bottom: 15px;
}
h1 {
  font-size: 36px;
  color: #82823c;
  margin-top: 23px;
  margin-bottom: 11.5px;
}
h2 {
  font-size: 32px;
  color: #82823c;
}
h3 {
  font-size: 30px;
  color: #82823c;
}
h4 {
  font-size: 28px;
  color: #82823c;
}
h5 {
  font-size: 28px;
  color: #82823c;
}
h6 {
  font-size: 28px;
  color: #82823c;
}
.container {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  clear: both;
  height: 100%;
}
img {
  vertical-align: middle;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-center {
  display: block;
  margin: 0 auto;
}
.img-circle {
  border-radius: 50%!important;
}
.text-left {
  text-align: left!important;
}
.text-center {
  text-align: center!important;
}
.text-right {
  text-align: right!important;
}
.text-default {
  color: #cccccc;
}
.text-primary {
  color: #dcb0b4;
}
.text-success {
  color: #15b740;
}
.text-warning {
  color: #f6c61e;
}
.text-danger {
  color: #fa9485;
}
.text-info {
  color: #82823c;
}
.text-xs {
  font-size: 0.6em!important;
}
.text-xsm {
  font-size: 0.8em!important;
}
.text-sm {
  font-size: 1.0em!important;
}
.text-md {
  font-size: 1.2em!important;
}
.text-lg {
  font-size: 1.4em!important;
}
.lowercase {
  text-transform: lowercase;
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.lilac {
  color: #dcb0b4;
}
#filter_menu h3 {
  font-size: 20px;
  font-family: 'gothic';
}
.custom-checkbox {
  position: relative;
  display: inline-block;
}
.custom-checkbox > .box {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid #ccc;
  background-color: #eee;
  border-radius: 0px;
}
.custom-checkbox > .box > .tick {
  position: absolute;
  left: 0px;
  top: 2px;
  width: 14px;
  height: 6px;
  border-bottom: 2px solid #333;
  border-left: 2px solid #333;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  display: none;
}
.custom-checkbox > input {
  position: absolute;
  outline: none;
  left: 0;
  top: 0;
  padding: 0;
  width: 16px;
  height: 16px;
  border: none;
  margin: 0;
  opacity: 0;
  z-index: 1;
}
.custom-checkbox > input:active + .box {
  border-color: #aaa;
  background-color: #ddd;
}
.custom-checkbox > input:checked + .box > .tick {
  display: block;
}
/********************************************
/* THEME COLORS */
/********************************************/
/********************************************
/* H TAGS */
/********************************************/
/********************************************
/* TEXT */
/********************************************/
/********************************************
/* INPUT CHECKBOX */
/********************************************/
/********************************************
/* LINK */
/********************************************/
/********************************************
/* LOGO */
/********************************************/
/********************************************
/* NAVBAR */
/********************************************/
/* search color */
/* navbar li colors*/
/* link colors */
/* Dropdown */
/* navbar li colors*/
/* link colors */
/* Border color */
/********************************************
/* BUTTON-BLOCK */
/********************************************/
/********************************************
/* CARDBLOCK */
/********************************************/
/********************************************
/* BUTTON-BLOCK-IMG */
/********************************************/
/********************************************
/* LIST-HORIZONTAL */
/********************************************/
/********************************************
/* BREADCRUMB */
/********************************************/
/********************************************
/* THUMBNAILS */
/********************************************/
/********************************************
/* BUTTON */
/********************************************/
/********************************************
/* FIELD */
/********************************************/
/********************************************
/* ACCORDION */
/********************************************/
/********************************************
/* BOX */
/********************************************/
/********************************************
/* CAROUSEL */
/********************************************/
/********************************************
/* LIST-VERTICAL */
/********************************************/
/********************************************
/* PILLS */
/********************************************/
/********************************************
/* TABLE */
/********************************************/
/********************************************
/* THUMBNAIL-CARD */
/********************************************/
/********************************************
/* THUMBNAIL-PEOPLE */
/********************************************/
/********************************************
/* THUMBNAIL-SLIDER */
/********************************************/
/********************************************
/* THUMBNAIL-SCROLLER */
/********************************************/
/********************************************
/* VISUAL */
/********************************************/
/********************************************
/* ADDRESS-LIST */
/********************************************/
.icon {
  font-family: 'kcicons';
  font-style: normal!important;
}
/* sizes */
.icon-xs {
  font-size: 0.5em!important;
}
.icon-x1 {
  font-size: 0.8em!important;
}
.icon-x2 {
  font-size: 2em!important;
}
.icon-x3 {
  font-size: 4em!important;
}
/* icons */
.icon-user:after {
  content: 'a';
}
.icon-phone:after {
  content: 'b';
}
.icon-th:after {
  content: 'c';
}
.icon-mail:after {
  content: 'd';
}
.icon-chevron-down:after {
  content: 'e';
}
.icon-chevron-right:after {
  content: 'f';
}
.icon-camera:after {
  content: 'g';
}
.icon-heart:after {
  content: 'h';
}
.icon-arrow-left:after {
  content: 'i';
}
.icon-arrow-right:after {
  content: 'j';
}
.icon-info:after {
  content: 'k';
}
.icon-basket:after {
  content: 'm';
}
.icon-exit-topright:after {
  content: 'p';
}
.icon-edit-pencil:after {
  content: 'r';
}
.icon-add:after {
  content: 'q';
}
.icon-search:after {
  content: 's';
}
.icon-favorite-heart:after {
  content: 'u';
}
.icon-unfavorite-heart:after {
  content: 't';
}
.icon-trash:after {
  content: 'w';
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.cols {
  margin-right: -15px;
  margin-left: -15px;
}
.cols:after {
  clear: both;
}
.lg-1,
.lg-10,
.lg-11,
.lg-12,
.lg-2,
.lg-3,
.lg-4,
.lg-5,
.lg-6,
.lg-7,
.lg-8,
.lg-9,
.lg-15,
.xs-1,
.xs-10,
.xs-11,
.xs-12,
.xs-2,
.xs-3,
.xs-4,
.xs-5,
.xs-6,
.xs-7,
.xs-8,
.xs-9,
.xs-15,
.xsm-1,
.xsm-10,
.xsm-11,
.xsm-12,
.xsm-2,
.xsm-3,
.xsm-4,
.xsm-5,
.xsm-6,
.xsm-7,
.xsm-8,
.xsm-9,
.xsm-15,
.sm-1,
.sm-10,
.sm-11,
.sm-12,
.sm-2,
.sm-3,
.sm-4,
.sm-5,
.sm-6,
.sm-7,
.sm-8,
.sm-9,
.sm-15,
.md-1,
.md-10,
.md-11,
.md-12,
.md-2,
.md-3,
.md-4,
.md-5,
.md-6,
.md-7,
.md-8,
.md-9,
.md-15 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
/* clear the first in row for any block that has the class "cols-multi" */
.cols-multi .xs-6:nth-child(2n + 3) {
  clear: left;
}
.cols-multi .xs-4:nth-child(3n + 4) {
  clear: left;
}
.cols-multi .xs-3:nth-child(4n + 5) {
  clear: left;
}
.cols-multi .xs-2:nth-child(6n + 7) {
  clear: left;
}
.cols-multi .xs-1:nth-child(12n + 13) {
  clear: left;
}
@media only screen and (min-width: 320px) {
  .xs-1,
  .xs-10,
  .xs-11,
  .xs-12,
  .xs-2,
  .xs-3,
  .xs-4,
  .xs-5,
  .xs-6,
  .xs-7,
  .xs-8,
  .xs-9,
  .xs-15 {
    float: left;
  }
  .xs-offset-0 {
    margin-left: 0;
  }
  .xs-offset-1 {
    margin-left: 8.33333333%;
  }
  .xs-offset-2 {
    margin-left: 16.66666667%;
  }
  .xs-offset-3 {
    margin-left: 25%;
  }
  .xs-offset-4 {
    margin-left: 33.33333333%;
  }
  .xs-offset-5 {
    margin-left: 41.66666667%;
  }
  .xs-offset-6 {
    margin-left: 50%;
  }
  .xs-offset-7 {
    margin-left: 58.33333333%;
  }
  .xs-offset-8 {
    margin-left: 66.66666667%;
  }
  .xs-offset-9 {
    margin-left: 75%;
  }
  .xs-offset-10 {
    margin-left: 83.33333333%;
  }
  .xs-offset-11 {
    margin-left: 91.66666667%;
  }
  .xs-offset-12 {
    margin-left: 100%;
  }
  .xs-offset-15 {
    margin-left: 20%;
  }
  .xs-1 {
    width: 8.33333333%;
  }
  .xs-2 {
    width: 16.66666667%;
  }
  .xs-3 {
    width: 25%;
  }
  .xs-4 {
    width: 33.33333333%;
  }
  .xs-5 {
    width: 41.66666667%;
  }
  .xs-6 {
    width: 50%;
  }
  .xs-7 {
    width: 58.33333333%;
  }
  .xs-8 {
    width: 66.66666667%;
  }
  .xs-9 {
    width: 75%;
  }
  .xs-10 {
    width: 83.33333333%;
  }
  .xs-11 {
    width: 91.66666667%;
  }
  .xs-12 {
    width: 100%;
  }
  .xs-15 {
    width: 20%;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  .xsm-1,
  .xsm-10,
  .xsm-11,
  .xsm-12,
  .xsm-2,
  .xsm-3,
  .xsm-4,
  .xsm-5,
  .xsm-6,
  .xsm-7,
  .xsm-8,
  .xsm-9,
  .xsm-15 {
    float: left;
  }
  .xsm-offset-0 {
    margin-left: 0;
  }
  .xsm-offset-1 {
    margin-left: 8.33333333%;
  }
  .xsm-offset-2 {
    margin-left: 16.66666667%;
  }
  .xsm-offset-3 {
    margin-left: 25%;
  }
  .xsm-offset-4 {
    margin-left: 33.33333333%;
  }
  .xsm-offset-5 {
    margin-left: 41.66666667%;
  }
  .xsm-offset-6 {
    margin-left: 50%;
  }
  .xsm-offset-7 {
    margin-left: 58.33333333%;
  }
  .xsm-offset-8 {
    margin-left: 66.66666667%;
  }
  .xsm-offset-9 {
    margin-left: 75%;
  }
  .xsm-offset-10 {
    margin-left: 83.33333333%;
  }
  .xsm-offset-11 {
    margin-left: 91.66666667%;
  }
  .xsm-offset-12 {
    margin-left: 100%;
  }
  .xsm-offset-15 {
    margin-left: 20%;
  }
  .xsm-1 {
    width: 8.33333333%;
  }
  .xsm-2 {
    width: 16.66666667%;
  }
  .xsm-3 {
    width: 25%;
  }
  .xsm-4 {
    width: 33.33333333%;
  }
  .xsm-5 {
    width: 41.66666667%;
  }
  .xsm-6 {
    width: 50%;
  }
  .xsm-7 {
    width: 58.33333333%;
  }
  .xsm-8 {
    width: 66.66666667%;
  }
  .xsm-9 {
    width: 75%;
  }
  .xsm-10 {
    width: 83.33333333%;
  }
  .xsm-11 {
    width: 91.66666667%;
  }
  .xsm-12 {
    width: 100%;
  }
  .xsm-15 {
    width: 20%;
  }
  /* reset previous grid */
  .cols-multi .xs-6:nth-child(2n + 3) {
    clear: none;
  }
  .cols-multi .xs-4:nth-child(3n + 4) {
    clear: none;
  }
  .cols-multi .xs-3:nth-child(4n + 5) {
    clear: none;
  }
  .cols-multi .xs-2:nth-child(6n + 7) {
    clear: none;
  }
  .cols-multi .xs-1:nth-child(12n + 13) {
    clear: none;
  }
  /* clear first in row for small columns */
  .cols-multi .xsm-6:nth-child(2n + 3) {
    clear: left;
  }
  .cols-multi .xsm-4:nth-child(3n + 4) {
    clear: left;
  }
  .cols-multi .xsm-3:nth-child(4n + 5) {
    clear: left;
  }
  .cols-multi .xsm-2:nth-child(6n + 7) {
    clear: left;
  }
  .cols-multi .xsm-1:nth-child(12n + 13) {
    clear: left;
  }
}
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .sm-1,
  .sm-10,
  .sm-11,
  .sm-12,
  .sm-2,
  .sm-3,
  .sm-4,
  .sm-5,
  .sm-6,
  .sm-7,
  .sm-8,
  .sm-9,
  .sm-15 {
    float: left;
  }
  .cols .sm-6:nth-child(2n + 3) {
    clear: both;
  }
  .sm-offset-0 {
    margin-left: 0;
  }
  .sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .sm-offset-3 {
    margin-left: 25%;
  }
  .sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .sm-offset-6 {
    margin-left: 50%;
  }
  .sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .sm-offset-9 {
    margin-left: 75%;
  }
  .sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .sm-offset-12 {
    margin-left: 100%;
  }
  .sm-offset-15 {
    margin-left: 20%;
  }
  .sm-1 {
    width: 8.33333333%;
  }
  .sm-2 {
    width: 16.66666667%;
  }
  .sm-3 {
    width: 25%;
  }
  .sm-4 {
    width: 33.33333333%;
  }
  .sm-5 {
    width: 41.66666667%;
  }
  .sm-6 {
    width: 50%;
  }
  .sm-7 {
    width: 58.33333333%;
  }
  .sm-8 {
    width: 66.66666667%;
  }
  .sm-9 {
    width: 75%;
  }
  .sm-10 {
    width: 83.33333333%;
  }
  .sm-11 {
    width: 91.66666667%;
  }
  .sm-12 {
    width: 100%;
  }
  .sm-15 {
    width: 20%;
  }
  /* reset previous grid */
  .cols-multi .xsm-6:nth-child(2n + 3) {
    clear: none;
  }
  .cols-multi .xsm-4:nth-child(3n + 4) {
    clear: none;
  }
  .cols-multi .xsm-3:nth-child(4n + 5) {
    clear: none;
  }
  .cols-multi .xsm-2:nth-child(6n + 7) {
    clear: none;
  }
  .cols-multi .xsm-1:nth-child(12n + 13) {
    clear: none;
  }
  /* clear first in row for small columns */
  .cols-multi .sm-6:nth-child(2n + 3) {
    clear: left;
  }
  .cols-multi .sm-4:nth-child(3n + 4) {
    clear: left;
  }
  .cols-multi .sm-3:nth-child(4n + 5) {
    clear: left;
  }
  .cols-multi .sm-2:nth-child(6n + 7) {
    clear: left;
  }
  .cols-multi .sm-1:nth-child(12n + 13) {
    clear: left;
  }
}
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .md-1,
  .md-10,
  .md-11,
  .md-12,
  .md-2,
  .md-3,
  .md-4,
  .md-5,
  .md-6,
  .md-7,
  .md-8,
  .md-9,
  .md-15 {
    float: left;
  }
  .md-offset-0 {
    margin-left: 0;
  }
  .md-offset-1 {
    margin-left: 8.33333333%;
  }
  .md-offset-2 {
    margin-left: 16.66666667%;
  }
  .md-offset-3 {
    margin-left: 25%;
  }
  .md-offset-4 {
    margin-left: 33.33333333%;
  }
  .md-offset-5 {
    margin-left: 41.66666667%;
  }
  .md-offset-6 {
    margin-left: 50%;
  }
  .md-offset-7 {
    margin-left: 58.33333333%;
  }
  .md-offset-8 {
    margin-left: 66.66666667%;
  }
  .md-offset-9 {
    margin-left: 75%;
  }
  .md-offset-10 {
    margin-left: 83.33333333%;
  }
  .md-offset-11 {
    margin-left: 91.66666667%;
  }
  .md-offset-12 {
    margin-left: 100%;
  }
  .md-offset-15 {
    margin-left: 20%;
  }
  .md-1 {
    width: 8.33333333%;
  }
  .md-2 {
    width: 16.66666667%;
  }
  .md-3 {
    width: 25%;
  }
  .md-4 {
    width: 33.33333333%;
  }
  .md-5 {
    width: 41.66666667%;
  }
  .md-6 {
    width: 50%;
  }
  .md-7 {
    width: 58.33333333%;
  }
  .md-8 {
    width: 66.66666667%;
  }
  .md-9 {
    width: 75%;
  }
  .md-10 {
    width: 83.33333333%;
  }
  .md-11 {
    width: 91.66666667%;
  }
  .md-12 {
    width: 100%;
  }
  .md-15 {
    width: 20%;
  }
  /* reset previous grid */
  .cols-multi .sm-6:nth-child(2n + 3) {
    clear: none;
  }
  .cols-multi .sm-4:nth-child(3n + 4) {
    clear: none;
  }
  .cols-multi .sm-3:nth-child(4n + 5) {
    clear: none;
  }
  .cols-multi .sm-2:nth-child(6n + 7) {
    clear: none;
  }
  .cols-multi .sm-1:nth-child(12n + 13) {
    clear: none;
  }
  /* clear first in row for medium columns */
  .cols-multi .md-6:nth-child(2n + 3) {
    clear: left;
  }
  .cols-multi .md-4:nth-child(3n + 4) {
    clear: left;
  }
  .cols-multi .md-3:nth-child(4n + 5) {
    clear: left;
  }
  .cols-multi .md-2:nth-child(6n + 7) {
    clear: left;
  }
  .cols-multi .md-1:nth-child(12n + 13) {
    clear: left;
  }
}
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .lg-1,
  .lg-10,
  .lg-11,
  .lg-12,
  .lg-2,
  .lg-3,
  .lg-4,
  .lg-5,
  .lg-6,
  .lg-7,
  .lg-8,
  .lg-9,
  .lg-15 {
    float: left;
  }
  .lg-offset-0 {
    margin-left: 0;
  }
  .lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .lg-offset-3 {
    margin-left: 25%;
  }
  .lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .lg-offset-6 {
    margin-left: 50%;
  }
  .lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .lg-offset-9 {
    margin-left: 75%;
  }
  .lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .lg-offset-12 {
    margin-left: 100%;
  }
  .lg-offset-15 {
    margin-left: 20%;
  }
  .lg-1 {
    width: 8.33333333%;
  }
  .lg-2 {
    width: 16.66666667%;
  }
  .lg-3 {
    width: 25%;
  }
  .lg-4 {
    width: 33.33333333%;
  }
  .lg-5 {
    width: 41.66666667%;
  }
  .lg-6 {
    width: 50%;
  }
  .lg-7 {
    width: 58.33333333%;
  }
  .lg-8 {
    width: 66.66666667%;
  }
  .lg-9 {
    width: 75%;
  }
  .lg-10 {
    width: 83.33333333%;
  }
  .lg-11 {
    width: 91.66666667%;
  }
  .lg-12 {
    width: 100%;
  }
  .lg-15 {
    width: 20%;
  }
  /* reset previous grid */
  .cols-multi .md-6:nth-child(2n + 3) {
    clear: none;
  }
  .cols-multi .md-4:nth-child(3n + 4) {
    clear: none;
  }
  .cols-multi .md-3:nth-child(4n + 5) {
    clear: none;
  }
  .cols-multi .md-2:nth-child(6n + 7) {
    clear: none;
  }
  .cols-multi .md-1:nth-child(12n + 13) {
    clear: none;
  }
  /* clear first in row for large columns */
  .cols-multi .lg-6:nth-child(2n + 3) {
    clear: left;
  }
  .cols-multi .lg-4:nth-child(3n + 4) {
    clear: left;
  }
  .cols-multi .lg-3:nth-child(4n + 5) {
    clear: left;
  }
  .cols-multi .lg-2:nth-child(6n + 7) {
    clear: left;
  }
  .cols-multi .lg-1:nth-child(12n + 13) {
    clear: left;
  }
}
@media only screen and (max-width: 992px) {
  #visual-content {
    margin-top: 90px;
  }
  .navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: #dcb0b4;
  }
  .navbar .container {
    overflow: visible;
  }
  .navbar .navbar-hamburger {
    position: relative;
    display: block;
    cursor: pointer;
    float: left;
    height: 50px;
    padding: 9px 15px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-color: transparent;
    z-index: 5;
  }
  .navbar .navbar-hamburger .icon-bar {
    display: block;
    margin-top: 4px;
    width: 28px;
    height: 5px;
    border-radius: 1px;
    background-color: #fff;
  }
  .navbar .collapse {
    position: fixed;
    display: none;
    background: #ffffff;
    width: 100%;
    overflow-y: scroll;
    top: 90px;
    left: 0;
    bottom: 0;
  }
  .navbar .topbar {
    background-color: #dcb0b4;
  }
  .navbar .topbar .topbar-menu-left {
    display: none;
  }
  .navbar .topbar .topbar-menu-left li {
    padding: 0 5px;
    margin: 10px 0;
  }
  .navbar .topbar .topbar-menu-right {
    position: absolute;
    padding-right: 10px;
    height: 100%;
    top: 0;
    right: 0;
  }
  .navbar .topbar .topbar-menu-right > ul > li {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid transparent;
  }
  .navbar .topbar .topbar-menu-right > ul > li a {
    display: block;
    color: #ffffff;
    padding: 10px 5px;
    height: 25px;
    font-size: 12px;
    height: 100%;
    border: none;
    margin: 0;
  }
  .navbar .topbar .topbar-menu-right > ul > li a:hover {
    color: #faf4f4;
  }
  .navbar .topbar .topbar-menu-right > ul > li a:active {
    color: #ffffff;
  }
  .navbar .topbar .topbar-menu-right > ul > li a:focus {
    color: #ffffff;
  }
  .navbar .topbar .topbar-menu-right > ul > li a > span {
    display: none;
  }
  .navbar .topbar .topbar-menu-right > ul > li a i {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
  }
  .navbar .topbar .dropdown {
    position: relative;
  }
  .navbar .topbar .dropdown:hover {
    z-index: 999;
  }
  .navbar .topbar .dropdown:hover > ul {
    visibility: visible;
    opacity: 1;
  }
  .navbar .topbar .dropdown > a {
    position: relative;
    display: block;
    background-color: transparent;
    z-index: 33;
  }
  .navbar .topbar .dropdown > ul {
    position: fixed;
    visibility: hidden;
    width: 100%;
    opacity: 1;
    right: 0;
    left: 0;
    margin-top: -1px;
    background-color: #fff;
    border-bottom: 1px solid #E0E0E0;
    border-top: 1px solid #E0E0E0;
  }
  .navbar .topbar .dropdown > ul > li {
    display: block;
    position: relative;
  }
  .navbar .topbar .dropdown > ul > li:hover {
    background-color: #6e7277;
  }
  .navbar .topbar .dropdown > ul > li:hover a {
    color: #fff;
  }
  .navbar .topbar .dropdown > ul > li > a {
    display: block;
    padding: 5px 10px;
    text-align: left;
    color: #6e7277;
    font-size: 14px;
  }
  .navbar .middlebar {
    background-color: #dcb0b4;
    height: 50px;
  }
  .navbar .middlebar .middlebar-menu-left a,
  .navbar .middlebar ul.middlebar-menu-right a {
    display: block;
    padding: 10px;
    font-size: 16px !important;
  }
  .navbar .middlebar .middlebar-menu-left a:hover,
  .navbar .middlebar ul.middlebar-menu-right a:hover {
    background-color: #dcb0b4;
    color: #fff;
  }
  .navbar .middlebar .navbar-search {
    display: none;
  }
  .navbar .middlebar .navbar-search-field {
    position: fixed;
    display: block !important;
    background-color: #dcb0b4;
    top: 50px;
    border: 0px solid black;
    width: 100%;
    z-index: 89;
    overflow: hidden;
    padding: 5px;
  }
  .navbar .middlebar .navbar-search-field .search-button-field {
    float: right;
    display: block;
    border: none;
    height: 30px;
    width: auto;
    padding: 0 10px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 0 4px 4px 0;
  }
  .navbar .middlebar .navbar-search-field .search-input-field {
    overflow: hidden;
  }
  .navbar .middlebar .navbar-search-field .search-input-field input[type="text"] {
    display: block;
    border: none;
    width: 100%;
    height: 30px;
    padding: 0 10px;
    border-radius: 4px 0 0 4px;
  }
  .navbar .logo {
    position: relative;
    padding: 5px;
    font-size: 40px;
  }
  .navbar ul.middlebar-menu-right li a {
    font-size: 12px;
  }
}
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  #visual-content {
    margin-top: 210px;
  }
  /* margin top visualcon */
  .navbar {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: #dcb0b4;
  }
  .navbar .topbar {
    height: 32px;
  }
  .navbar .middlebar {
    height: 70px;
  }
  .navbar .container {
    overflow: visible;
  }
  .navbar .navbar-hamburger {
    display: none;
  }
  .navbar .collapse {
    left: auto !important;
    display: block !important;
  }
  .navbar .topbar {
    background: #dcb0b4;
    position: relative;
    z-index: 9999;
    padding: 0px;
  }
  .navbar .topbar .topbar-menu-left {
    position: absolute;
  }
  .navbar .topbar .topbar-menu-left a {
    display: inline-block;
    vertical-align: middle;
    padding: 0 15px;
    height: 100%;
    font-size: 13px;
    color: #ffffff;
  }
  .navbar .topbar .topbar-menu-left a:hover {
    color: #faf4f4;
  }
  .navbar .topbar .topbar-menu-left a:active {
    color: #ffffff;
  }
  .navbar .topbar .topbar-menu-left a:focus {
    color: #ffffff;
  }
  .navbar .topbar .topbar-menu-right {
    position: absolute;
    padding-right: 10px;
    height: 100%;
    right: 0;
  }
  .navbar .topbar .topbar-menu-right > ul > li {
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }
  .navbar .topbar .topbar-menu-right > ul > li > a {
    display: block;
    font-size: 13px;
    padding: 0 15px;
    margin: 0;
    height: 100%;
    color: #ffffff;
    border: 0;
    line-height: 31px;
  }
  .navbar .topbar .topbar-menu-right > ul > li > a:first-child {
    padding-left: 0;
  }
  .navbar .topbar .topbar-menu-right > ul > li > a:hover {
    color: #faf4f4;
  }
  .navbar .topbar .topbar-menu-right > ul > li > a:active {
    color: #ffffff;
  }
  .navbar .topbar .topbar-menu-right > ul > li > a:focus {
    color: #ffffff;
  }
  .navbar .topbar .topbar-menu-right > ul > li i {
    display: inline-block;
    vertical-align: middle;
    padding-right: 5px;
  }
  .navbar .topbar .topbar-menu-right > ul > li .icon-chevron-down {
    padding-left: 0;
    padding-right: 0;
  }
  .navbar .topbar .dropdown:hover {
    z-index: 999;
  }
  .navbar .topbar .dropdown:hover > ul {
    visibility: visible;
    opacity: 1;
  }
  .navbar .topbar .dropdown > a {
    position: relative;
    display: block;
    z-index: 33;
  }
  .navbar .topbar .dropdown > ul {
    position: absolute;
    visibility: hidden;
    opacity: 1;
    min-width: 100%;
    background-color: #dcb0b4;
  }
  .navbar .topbar .dropdown > ul > li {
    display: block;
    position: relative;
  }
  .navbar .topbar .dropdown > ul > li > a {
    display: block;
    padding: 6px 15px;
    text-align: left;
    color: #fff;
    font-size: 13px;
  }
  .navbar .topbar .dropdown > ul > li:hover {
    background-color: #fff;
  }
  .navbar .topbar .dropdown > ul > li:hover > a {
    color: #dcb0b4;
  }
  .navbar .middlebar {
    background-color: #fff;
  }
  .navbar .middlebar .dropdown {
    position: relative;
  }
  .navbar .middlebar .dropdown:hover a,
  .navbar .middlebar .dropdown:hover ul {
    border: 1px solid #faf4f4;
  }
  .navbar .middlebar .dropdown:hover a {
    border: 1px solid;
    border-bottom-color: #fff;
    z-index: 2;
  }
  .navbar .middlebar .dropdown:hover ul {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    margin-top: -1px;
  }
  .navbar .middlebar .dropdown ul {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    right: 0;
  }
  .navbar .middlebar .dropdown ul li {
    padding: 0;
    margin: 0;
    min-width: 125px;
    width: 100%;
  }
  .navbar .middlebar .dropdown ul li a {
    display: block;
    width: 100%;
    padding: 10px;
    color: #82823c;
  }
  .navbar .middlebar .dropdown ul li a:hover {
    background-color: #dcb0b4;
    color: #fff;
  }
  .navbar .middlebar .middlebar-menu {
    font-size: 16px;
  }
  .navbar .middlebar ul.middlebar-menu-left {
    position: absolute;
    height: 100%;
    padding-left: 10px;
    min-width: 200px;
  }
  .navbar .middlebar ul.middlebar-menu-left li {
    display: inline-block;
    vertical-align: middle;
    height: 75px;
    font-size: 12px;
    border: none;
  }
  .navbar .middlebar ul.middlebar-menu-left li a {
    display: block;
    height: 100%;
    color: #ffffff;
  }
  .navbar .middlebar ul.middlebar-menu-left li a:hover {
    color: #faf4f4;
  }
  .navbar .middlebar ul.middlebar-menu-left li a:active {
    color: #ffffff;
  }
  .navbar .middlebar ul.middlebar-menu-left li a:focus {
    color: #ffffff;
  }
  .navbar .middlebar ul.middlebar-menu-right {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding-right: 10px;
  }
  .navbar .middlebar ul.middlebar-menu-right > li {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: -4px;
    height: 100%;
  }
  .navbar .middlebar ul.middlebar-menu-right > li > a {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    line-height: 32px;
    color: #82823c;
    background-color: inherit;
    overflow: hidden;
    padding: 17px 14px;
    font-size: 16px;
    border: 1px solid transparent;
  }
  .navbar .middlebar ul.middlebar-menu-right > li > a:hover {
    color: #dcb0b4;
  }
  .navbar .middlebar ul.middlebar-menu-right > li > a:active {
    color: #dcb0b4;
  }
  .navbar .middlebar ul.middlebar-menu-right > li > a:focus {
    color: #dcb0b4;
  }
  .navbar .middlebar ul.middlebar-menu-right > li i {
    display: inline-block;
    vertical-align: middle;
    padding: 0 5px;
  }
  .navbar .middlebar .navbar-search-field {
    position: absolute;
    background-color: #fff;
    top: 0;
    right: 8px;
    width: 300px;
    z-index: 89;
    overflow: hidden;
    padding: 18px 0;
  }
  .navbar .middlebar .navbar-search-field form {
    border: 1px solid #faf4f4;
    border-radius: 4px;
  }
  .navbar .middlebar .navbar-search-field .search-button-field {
    float: right;
    display: block;
    height: 30px;
    border: none;
    width: auto;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
  }
  .navbar .middlebar .navbar-search-field .search-input-field {
    overflow: hidden;
  }
  .navbar .middlebar .navbar-search-field .search-input-field input[type="text"] {
    display: block;
    border: none;
    width: 100%;
    height: 30px;
    padding: 0 10px;
    border-radius: 4px 0 0 4px;
  }
}
.navbar-fixed {
  position: fixed;
}
a.logo {
  position: absolute;
  display: block;
  color: #6e7277;
  line-height: 70px;
  font-size: 48px;
  font-family: 'brain_flower_euro';
}
a.logo img {
  position: relative;
}
a.logo:hover {
  color: #6e7277;
}
a.logo:active {
  color: #6e7277;
}
a.logo:focus {
  color: #6e7277;
}
.address-list input[type="text"] {
  border-radius: 0px !important;
}
.address-list > ul {
  max-height: 250px;
  padding: 0;
  margin: 0 0 15px 0;
  overflow-y: auto;
  overflow-x: hidden;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}
.address-list > ul > li {
  border-bottom: 1px solid #cccccc;
  text-align: center;
}
.address-list > ul > li:last-child {
  border-bottom: none;
}
.address-list > ul > li a {
  display: block;
  padding: 0;
}
.address-list > ul > li > button {
  margin-bottom: 15px;
}
.field-horizontal .field-group {
  margin-right: -15px;
  margin-left: -15px;
}
.field-horizontal .field-label {
  padding-top: 7px;
  margin-bottom: 0;
  text-align: left;
}
.field-group {
  margin-bottom: 15px;
}
.field-group .field-input-group {
  margin-bottom: 0;
}
textarea.field-input {
  height: auto;
}
.field-input-group {
  position: relative;
  display: table;
  border-collapse: separate;
  margin-bottom: 15px;
  width: 100%;
}
.field-input-group .field-input-group-addon {
  display: table-cell;
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;
}
.field-input {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
.field-input-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.field-input-lg {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
select.field-input {
  background-color: #ffecdb;
}
input[type='text'].error {
  border-color: #8a6d3b;
}
input[type='text'].error:focus {
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
label.error {
  font-style: italic;
  display: block;
  font-size: 12px;
  font-weight: normal;
}
.button {
  font-family: 'gothic';
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 100px;
  overflow: hidden;
}
.button i {
  display: inline-block;
  vertical-align: middle;
}
.button-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-top: 5px;
  margin-bottom: 5px;
}
.button-group .button {
  position: relative;
  float: left;
  border-radius: 0;
}
.button-group .button:first-child {
  margin-left: 0;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.button-group .button:last-child {
  margin-left: 0;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}
.button-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.button-group-vertical > .button {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  border-radius: 0!important;
}
.button-group-justified {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
}
.button-group-justified > .button {
  display: table-cell;
  float: none;
  width: 1%;
}
.button-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
}
.button-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.button-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
.button-xlg {
  padding: 12px 18px;
  font-size: 26px;
  line-height: 1.3333333;
}
.button-link {
  display: block;
  color: #F9861C;
  border-color: transparent;
  background-color: transparent;
}
.button-link:hover,
.button-link:active,
.button-link:focus {
  border-color: transparent;
}
.button-default {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}
.button-default:hover {
  color: #555555;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.button-success {
  color: #ffffff;
  background-color: #82823c;
  border-color: #15b740;
}
.button-success:hover {
  color: #555555;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.button-warning {
  color: #ffffff;
  background-color: #f6c61e;
  border-color: #fa9485;
}
.button-warning:hover {
  color: #555555;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.button-danger {
  color: #ffffff;
  background-color: #fa9485;
  border-color: #fa9485;
}
.button-danger:hover {
  color: #555555;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.button-info {
  color: #ffffff;
  background-color: #82823c;
  border-color: #82823c;
}
.button-info:hover {
  color: #555555;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.button-primary {
  color: #ffffff;
  background-color: #dcb0b4;
  border-color: #dcb0b4;
}
.button-primary:hover {
  color: #555555;
  background-color: #e6e6e6;
  border-color: #adadad;
}
/* BUTTON BLOCKS */
.button-block {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 25px;
  height: 110px;
  background-color: transparent;
}
.button-block a.active {
  background-color: #faf4f4;
}
.button-block > a {
  display: table;
  width: 100%;
  height: 100%;
  background-color: #faf4f4;
  padding: 0 20px;
  text-align: center;
}
.button-block > a:hover {
  background-color: #e4cece;
}
.button-block > a:active {
  background-color: #faf4f4;
}
.button-block > a:focus {
  background-color: #faf4f4;
}
.button-block > a .button-block-content {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}
.button-block > a .button-block-title {
  display: block;
  font-size: 18px;
  margin-top: 0;
  color: #56611e;
  margin-bottom: 0;
}
.button-block > a .button-block-title i {
  display: inline-block;
  vertical-align: middle;
}
.button-block > a .button-block-text {
  display: block;
  font-size: 0.8em;
  color: #666668;
}
.button-block-img {
  height: 180px;
  background-color: transparent;
}
.button-block-img > a {
  background-color: transparent;
  max-height: 210px;
}
.button-block-img > a:hover {
  background-color: transparent;
  opacity: 0.9;
}
.button-block-img > a:active {
  background-color: transparent;
  opacity: 0.9;
}
.button-block-img > a:focus {
  background-color: transparent;
  opacity: 0.9;
}
.button-block-img > a img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  z-index: -99;
}
.button-block-img > a .button-block-title {
  display: block;
  color: #ffffff;
  font-size: 1.4em;
}
.button-block-img > a .button-block-text {
  display: block;
  font-size: 1.0em;
  color: #ffffff;
}
.card-block {
  position: relative;
  display: block;
  border: 1px solid #e4e8e8;
  background-color: #fdf3e9;
  margin-bottom: 25px;
  border-radius: 10px;
  cursor: pointer;
  z-index: 3;
}
.card-block img {
  height: 150px;
}
.card-block:hover > img {
  opacity: 0.8;
}
.card-block:hover .card-block-title,
.card-block:hover .card-block-footer {
  opacity: 1;
}
.card-block .card-block-title,
.card-block .card-block-footer {
  display: block;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  opacity: 0.8;
}
.card-block .card-block-title {
  color: #82823c;
  font-size: 1.2em;
  font-weight: bold;
}
.card-block .card-block-footer {
  color: #dcb0b4;
  font-size: 15px;
  margin-top: 10px;
}
/* LIST-VERTICAL */
.list {
  list-style-type: none;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
}
.list .list-toggle .list-toggle-text {
  display: inline-block;
  vertical-align: middle;
  color: #555;
  font-weight: 500;
  padding-left: 5px;
  padding-right: 5px;
}
.list .list-toggle .list-toggle-text .icon {
  display: inline-block;
  vertical-align: middle;
  font-size: 0.5em!important;
}
.list-vertical li.active > a {
  color: #dcb0b4;
}
.list-vertical li a {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  padding: 5px;
  color: #dcb0b4;
}
.list-vertical li a:hover {
  color: #dcb0b4;
}
.list-vertical li a:active {
  color: #dcb0b4;
}
.list-vertical li a:focus {
  color: #dcb0b4;
}
.list-vertical li ul {
  margin: 0;
  border-left: 2px solid #dcb0b4;
  padding-left: 15px;
  margin-left: 5px;
}
.list-vertical li ul li a {
  color: #dcb0b4;
}
.list-vertical li ul li a:hover {
  color: #dcb0b4;
}
.list-vertical li ul li a:active {
  color: #dcb0b4;
}
.list-vertical li ul li a:focus {
  color: #dcb0b4;
}
/* END LIST-VERTICAL */
.list-decimal {
  list-style-type: decimal;
}
/* BREADCRUMB */
.breadcrumb {
  padding: 8px 5px;
  margin-bottom: 20px;
  list-style: none;
  border-radius: 4px;
}
.breadcrumb li {
  display: inline-block;
  vertical-align: middle;
}
.breadcrumb li:after {
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  padding: 0 10px;
  font-family: 'kcicons';
  content: 'j';
  font-size: 0.5em;
}
.breadcrumb li:last-child:after,
.breadcrumb li:only-child :after {
  content: '';
}
.breadcrumb li a.active {
  color: #dcb0b4;
}
.breadcrumb li a {
  color: inherit;
}
.breadcrumb li a:hover {
  color: #dcb0b4;
}
.breadcrumb li a:active {
  color: #dcb0b4;
}
.breadcrumb li a:focus {
  color: #dcb0b4;
}
.accordion {
  list-style-type: none;
  padding: 0;
  border-bottom: 1px solid #dfe5e5;
  background-color: transparent;
  margin-bottom: 10px;
}
.accordion > .active {
  color: #82823c !important;
}
.accordion .show {
  display: block!important;
}
.accordion > a {
  display: block;
  vertical-align: middle;
  background-color: transparent;
  padding: 5px 5px;
  color: #82823c;
}
.accordion > a > i {
  float: right;
  font-size: 12px;
}
.accordion .accordion-body {
  display: none;
  padding: 5px;
}
.accordion .accordion-body ul {
  margin-bottom: 0;
  margin-top: 0;
}
.accordion .accordion-body ul li a {
  padding: 5px 0px 5px 5px;
}
.box {
  position: relative;
  padding: 0;
  margin-bottom: 15px;
  background-color: #ffffff;
  border-radius: 15px;
  border: 1px solid #e4e8e8;
  overflow: hidden;
}
.box .box-body {
  background-color: #ffffff;
  margin: 0;
  padding: 25px;
}
.box .box-footer {
  background-color: #ffffff;
  margin: 0;
  padding: 25px;
  border-top: 1px solid #e4e8e8;
  clear: both;
}
.box-default .box-body {
  background-color: #ffffff;
}
.box-default .box-footer {
  background-color: #ffffff;
}
.box-primary .box-body {
  background-color: #ffffff;
}
.box-primary .box-footer {
  background-color: #f2ecec;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  border-spacing: 0;
  border-collapse: collapse;
  background-color: #ffffff;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
  background-color: #fbf7f8;
  color: inherit;
}
.table > thead > tr > th,
.table tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #dddddd;
}
.table-responsive {
  min-height: .01%;
  overflow-x: auto;
}
.table-unstyled {
  width: 100%;
  margin-bottom: 20px;
  border: none;
}
.table-unstyled > thead > tr > th {
  text-align: left;
  vertical-align: bottom;
  border-bottom: none;
  background-color: inherit;
  color: inherit;
}
.table-unstyled > thead > tr > th,
.table-unstyled tbody > tr > th,
.table-unstyled > tfoot > tr > th,
.table-unstyled > thead > tr > td,
.table-unstyled > tbody > tr > td,
.table-unstyled > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: none;
}
@media screen and (max-width: 768px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #dddddd;
  }
}
.thumbnail {
  position: relative;
  padding: 10px 10px 0px 10px;
  border-radius: 10px;
  background-color: #ffffff;
  border: 1px solid #dfe5e5;
  margin-bottom: 25px;
  text-align: left;
  cursor: pointer;
}
.thumbnail:hover img {
  opacity: 0.5;
}
.thumbnail:hover .thumbnail-footer {
  opacity: 1;
}
.thumbnail img {
  width: 100%;
}
.thumbnail .thumbnail-footer {
  width: 100%;
  margin-top: 5px;
  padding: 5px;
  background-color: #ffffff;
  opacity: 0.8;
}
.thumbnail .thumbnail-footer h3 {
  margin: 0 auto;
  color: #82823c;
}
.thumbnail .thumbnail-footer p {
  color: inherit;
}
.thumbnail-transparent {
  background-color: transparent!important;
  border: none!important;
  box-shadow: none!important;
}
.thumbnail-transparent .thumbnail-footer {
  background-color: transparent!important;
}
.thumbnail-fluid {
  padding: 0!important;
}
.thumbnail-fluid .thumbnail-footer {
  margin-top: 0;
  background-color: #faf4f4;
}
.thumbnail-fluid .thumbnail-footer h3 {
  color: #82823c;
}
.thumbnail-fluid .thumbnail-footer p {
  color: inherit;
}
.thumbnail-fluid .thumbnail-img {
  background-color: #cccccc;
  border: none;
}
.thumbnail-button {
  padding: 0!important;
  border-radius: 0px;
  border: 0px solid transparent;
}
.thumbnail-button .thumbnail-button-button {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: transparent;
  background-image: url('http://hipdesign.nl/img/bg-button/01.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  color: #fff;
  padding: 15px 20px 0 20px;
  height: 45px;
}
.thumbnail-slider {
  position: relative;
  padding: 20px 5px 5px;
  border-radius: 10px;
  background-color: #fdf3e9;
  border: 1px solid #e4e8e8;
  margin-bottom: 25px;
  margin-top: 25px;
  text-align: left;
  width: 100%;
}
.thumbnail-slider .thumbnail-slider-top {
  position: absolute;
  left: 0;
  width: 100%;
  top: -15px;
  z-index: 3;
}
.thumbnail-slider .thumbnail-slider-left {
  left: 0;
}
.thumbnail-slider .thumbnail-slider-right {
  right: 0;
}
.thumbnail-slider .thumbnail-slider-left,
.thumbnail-slider .thumbnail-slider-right {
  position: absolute;
  display: block;
  top: 0;
  height: 100%;
  z-index: 2;
}
.thumbnail-slider .thumbnail-slider-left > a,
.thumbnail-slider .thumbnail-slider-right > a {
  display: table;
  height: 100%;
  padding: 0 10px;
  margin-top: -20px;
}
.thumbnail-slider .thumbnail-slider-left > a i,
.thumbnail-slider .thumbnail-slider-right > a i {
  display: table-cell;
  vertical-align: middle;
}
.thumbnail-slider .thumbnail-slider-middle img {
  position: relative;
  left: 0px;
  right: 0px;
}
.thumbnail-slider .thumbnail-slider-bottom {
  position: relative;
  z-index: 33;
}
.thumbnail-people {
  position: relative;
  background-color: transparent;
  border: 1px solid transparent;
  margin-bottom: 15px;
  text-align: left;
  overflow: hidden;
  border-radius: 10px;
}
.thumbnail-people:hover .thumbnail-people-img {
  opacity: 0.5;
}
.thumbnail-people:hover .thumbnail-people-label {
  opacity: 1;
}
.thumbnail-people a {
  display: block;
}
.thumbnail-people .thumbnail-people-img img {
  width: 100%;
}
.thumbnail-people .thumbnail-people-label {
  width: 100%;
  margin-top: 5px;
  padding: 5px 0;
  background-color: transparent;
  opacity: 0.8;
}
.thumbnail-people .thumbnail-people-label h3 {
  margin-top: 0;
  margin-bottom: 0;
  color: #f59a4b;
  font-size: 18px;
}
.thumbnail-people .thumbnail-people-label p {
  margin-top: 0;
  margin-bottom: 0px;
  color: inherit;
  font-size: 14px;
}
.thumbnail-card {
  position: relative;
  background-color: #ffffff;
  border: 1px solid transparent;
  padding: 5px;
  margin-bottom: 25px;
  text-align: left;
  overflow: hidden;
}
.thumbnail-card:hover .thumbnail-card-img {
  opacity: 0.5;
}
.thumbnail-card:hover .thumbnail-card-label {
  opacity: 1;
}
.thumbnail-card a {
  display: block;
}
.thumbnail-card .thumbnail-card-label {
  width: 100%;
  padding: 5px;
  margin: 0;
  background-color: transparent;
  opacity: 0.8;
}
.thumbnail-card .thumbnail-card-label a {
  display: inline-block;
  vertical-align: middle;
}
.thumbnail-card .thumbnail-card-label a:hover {
  transform: scale(1.1);
}
.thumbnail-card .thumbnail-card-label a i {
  display: inline-block;
  vertical-align: middle;
}
.thumbnail-scroller {
  position: relative;
  width: 100%;
  background: url(https://hippe-geboortekaartjes.nl/img/prevLine.png) no-repeat top center;
  background-size: 100%;
  background-color: transparent;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 10px;
  padding-top: 20px;
}
.thumbnail-scroller .thumbnail-scroller-left {
  left: 0;
}
.thumbnail-scroller .thumbnail-scroller-right {
  right: 0;
}
.thumbnail-scroller .thumbnail-scroller-left,
.thumbnail-scroller .thumbnail-scroller-right {
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 20;
}
.thumbnail-scroller .thumbnail-scroller-left > a,
.thumbnail-scroller .thumbnail-scroller-right > a {
  display: table;
  height: 100%;
  padding: 0 10px;
}
.thumbnail-scroller .thumbnail-scroller-left > a i,
.thumbnail-scroller .thumbnail-scroller-right > a i {
  display: table-cell;
  vertical-align: middle;
}
.thumbnail-scroller a {
  display: inline-block;
  vertical-align: middle;
}
.carousel {
  position: relative;
  border: 1px solid transparent;
  margin-bottom: 15px;
  overflow: hidden;
  background-color: transparent;
}
.carousel:hover .carousel-left,
.carousel:hover .carousel-right {
  visibility: visible;
  opacity: 1;
}
.carousel .carousel-middle > img {
  width: 100%;
}
.carousel .carousel-left {
  left: 0;
}
.carousel .carousel-right {
  right: 0;
}
.carousel .carousel-left,
.carousel .carousel-right {
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 220;
}
.carousel .carousel-left > a,
.carousel .carousel-right > a {
  display: table;
  height: 100%;
  padding: 0 10px;
}
.carousel .carousel-left > a i,
.carousel .carousel-right > a i {
  display: table-cell;
  vertical-align: middle;
}
.carousel a {
  display: inline-block;
  vertical-align: middle;
}
ul.pills {
  padding-left: 0;
  margin-bottom: 10px;
  list-style: none;
  overflow: hidden;
  margin-bottom: 5px;
  border-bottom: 1px solid #cccccc;
  background-color: transparent;
}
ul.pills > li {
  position: relative;
  display: block;
  float: left;
  margin-bottom: -1px;
  margin-right: 5px;
  border: 1px solid #cccccc;
  z-index: 1;
}
ul.pills > li > a {
  position: relative;
  display: block;
  padding: 5px 10px;
  color: #dcb0b4;
  background-color: #ffffff;
}
ul.pills > li > a:hover {
  background-color: #faf4f4;
  color: inherit;
}
ul.pills > li > a:active {
  background-color: #faf4f4;
  color: inherit;
}
ul.pills > li > a:focus {
  background-color: #faf4f4;
  color: inherit;
}
.visual {
  position: relative;
  display: block;
  border-bottom: 1px solid #cccccc;
  background: url(https://hippe-geboortekaartjes.nl/img/bg-visual.png) repeat 0 0;
  background-color: transparent;
  overflow: hidden;
  min-height: 50px;
}
.visual visual-content {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 480px) {
  .visual {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .visual .visual-content-left,
  .visual .visual-content-right {
    display: none;
  }
  .visual .visual-content-left img,
  .visual .visual-content-right img {
    margin-top: 0;
  }
}
@media screen and (min-width: 992px) {
  .visual .visual-content-left,
  .visual .visual-content-right {
    display: block;
  }
  .visual .visual-content-left img,
  .visual .visual-content-right img {
    margin-top: 100%;
  }
}
.visual-background-1 {
  background: url(https://hippe-geboortekaartjes.nl/img/bg-visual.png) repeat 0 0;
}
.visual-background-2 {
  min-height: 400px;
  background: url(https://hippe-geboortekaartjes.nl/img/zmbanner.jpg) top center;
}
.order-flow {
  border-bottom: solid 1px #ccc;
  padding: 10px 0;
  font-size: 11px;
}
.order-flow a {
  display: block;
}
.order-flow .order-flow-details {
  display: inline-block;
  vertical-align: middle;
}
.order-flow .order-flow-image {
  max-height: 100px;
}
.order-flow .order-flow-details-body {
  padding: 15px;
  background-color: #fcfcfc;
  line-height: 15px;
}
.order-flow .order-flow-details-body .order-flow-details-status {
  border-bottom: 1px dashed #ccc;
  padding: 10px 0;
}
.order-flow .order-flow-details-body strong {
  display: block;
  margin-top: 10px;
}
@media (min-width: 320px) {
  .order-flow .order-flow-info strong {
    float: right;
  }
}
@media (min-width: 992px) {
  .order-flow-info strong {
    float: none !important;
  }
  .order-flow .md-1 {
    width: 14.285714285714285714285714285714%;
  }
}
