@charset "UTF-8";
@font-face {
    font-family: 'droid_serifregular';
    src: url('/css/fonts/DroidSerif-Regular-webfont.eot');
    src: url('/css/fonts/DroidSerif-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('/css/fonts/DroidSerif-Regular-webfont.woff') format('woff'),
    url('/css/fonts/DroidSerif-Regular-webfont.ttf') format('truetype'),
    url('/css/fonts/DroidSerif-Regular-webfont.svg#droid_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'droid_serifitalic';
    src: url('/css/fonts/DroidSerif-Italic-webfont.eot');
    src: url('/css/fonts/DroidSerif-Italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('/css/fonts/DroidSerif-Italic-webfont.woff') format('woff'),
    url('/css/fonts/DroidSerif-Italic-webfont.ttf') format('truetype'),
    url('/css/fonts/DroidSerif-Italic-webfont.svg#droid_serifitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'droid_serifbold';
    src: url('/css/fonts/DroidSerif-Bold-webfont.eot');
    src: url('/css/fonts/DroidSerif-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('/css/fonts/DroidSerif-Bold-webfont.woff') format('woff'),
    url('/css/fonts/DroidSerif-Bold-webfont.ttf') format('truetype'),
    url('/css/fonts/DroidSerif-Bold-webfont.svg#droid_serifbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'droid_serifbold_italic';
    src: url('/css/fonts/DroidSerif-BoldItalic-webfont.eot');
    src: url('/css/fonts/DroidSerif-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('/css/fonts/DroidSerif-BoldItalic-webfont.woff') format('woff'),
    url('/css/fonts/DroidSerif-BoldItalic-webfont.ttf') format('truetype'),
    url('/css/fonts/DroidSerif-BoldItalic-webfont.svg#droid_serifbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "kcicons";
    src: url("../css/fonts/kcicons.eot");
    src: url("../css/fonts/kcicons.eot?#iefix") format("embedded-opentype"),
    url("../css/fonts/kcicons.woff") format("woff"),
    url("../css/fonts/kcicons.ttf") format("truetype"),
    url("../css/fonts/kcicons.svg#untitled-font-1") format("svg");
    font-weight: normal !important;
    font-style: normal;
}
#logo {
    float: none;
}
#header #logo {
    float: left;
}
body {
    color: #403c3d;
    font-size: 13px;
    font-family: 'droid_serifregular';
}
h3,
h2 {
    color: #403c3d;
}
.CenterColumn {
    width: 221px !important;
}
a {
    color: #da7e8e;
    outline: none;
    text-decoration: none;
}
a:hover {
    color: #beb07a;
    text-decoration: none;
}
#headermenu {
    display: none;
}
#wrapper {
    background: #fff;
    margin: 0 auto;
    padding: 0 40px;
    width: 960px;
}
#mid {
    background: none;
    clear: both;
    padding-top: 57px;
    padding-bottom: 20px;
}
.fnav-block {
    display: none;
}
#fnav {
    text-align: center;
    margin: 0;
    padding: 8px 0 0 0;
}
#fnav li {
    display: inline;
    padding: 0 13px;
}
#fnav li a {
    color: #403c3d;
    font-size: 12px;
    text-transform: uppercase;
}
#fnav li a:hover {
    color: #da7e8f;
    text-decoration: none;
}
#body_home #mid {
    padding: 0 !important;
}
#footer {
    padding: 30px 63px 36px 63px;
}
.copyright {
    text-align: center;
    font-size: 12px;
    color: #a19d9d;
    margin: 0;
    padding: 33px 0 0 0;
}
.copyright a {
    color: #a19d9d;
}
#header {
    position: relative;
    padding-top: 0px;
    height: auto;
    background: url(/img/logo_small.png) no-repeat;
}
#home {
    background: url(/img/logo.png) no-repeat 0 0;
    width: 337px;
    height: 51px;
    position: absolute;
    top: 59px;
    left: 0;
    z-index: 100;
}
#header #logo {
    position: absolute;
    left: 0;
    top: 59px;
    margin: 0;
    width: 337px;
    height: 51px;
}
#wrapper #home {
    display: none;
}
#header #home {
    display: none;
}
#body_edit #home {
    display: none !important;
}
#body_eigen_collectie #header #home {
    display: none !important;
}
#menu {
    background: url(/img/bg-menu.png) no-repeat 0 0;
    height: 41px;
    padding: 0;
    position: relative;
}
.search-wrap {
    position: absolute;
    right: 10px;
    top: 4px;
    height: 33px;
    z-index: 300;
}
.search-wrap .sForm {
    position: absolute;
    right: 27px;
    top: 0;
    height: 33px;
    width: 200px;
    display: none;
    background: #fff;
}
.search-wrap .sForm input {
    background: #fff;
    width: 100%;
    box-sizing: border-box;
    border: none;
    height: 33px;
    padding: 0 6px;
}
.search-wrap .sForm input:active,
.search-wrap .sForm input:focus {
    border: none !important;
    outline: none;
}
.search-wrap .zoek {
    display: inline-block;
    height: 33px;
    width: 33px;
    background: url(/img/search_button.png) no-repeat right center / 15px 15px;
}
.search-wrap .zoek.activeS {
    background-image: url(/img/search_button_close.png);
}
.search-wrap .zoek:hover {
    text-decoration: none;
}
.megamenu {
    list-style: none;
    margin: 0;
    padding: 0 0 0 35px;
}
.megamenu li {
    float: left;
    font-size: 14px;
    font-family: 'droid_serifregular';
    position: relative;
}
.megamenu li a {
    color: #fff;
    text-transform: uppercase;
    display: block;
    height: 41px;
    padding: 0 16px;
    line-height: 41px;
    float: left;
    position: relative;
    z-index: 160;
}
.sf-with-ul {
    padding-right: 20px !important;
}
.sf-with-ul:after {
    background: url(/img/icons.png) no-repeat right 3px;
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -6px;
}
.sf-sub-indicator {
    display: none;
}
.megamenu li img {
    float: left;
}
.megamenu li a.active,
.megamenu li.sfHover a,
.megamenu li a:hover {
    background: url(/img/bg-menu-o.png) repeat-x 0 0;
    color: #fff !important;
    text-decoration: none;
}
.megamenu li ul {
    background: #de8b99;
    position: absolute;
    left: 0;
    top: 41px;
    list-style: none;
    z-index: 1200;
    padding: 0;
    margin: 0;
    width: 213px;
    display: none;
}
.megamenu li ul li {
    float: none;
}
.megamenu li ul li a {
    background: none !important;
    float: none;
    line-height: 30px;
    height: 30px;
    padding: 0 14px 0 14px;
    text-transform: none;
    min-width: 142px;
}
.megamenu li ul li a:hover {
    background: #c77d89 !important;
}
.h-contact {
    position: absolute;
    right: 10px;
    top: 61px;
}
.h-contact p {
    font-family: 'droid_serifregular';
    margin: 0;
    float: left;
    font-size: 14px;
    padding-right: 20px;
}
.h-contact p span {
    font-weight: bold;
}
.h-contact ul {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
}
.h-contact ul li {
    float: left;
    padding-left: 8px;
}
.h-contact ul li a {
    background-image: url(/img/icons.png);
    background-repeat: no-repeat;
    display: block;
    width: 24px;
    height: 24px;
    text-indent: -9999em;
}
.h-contact ul li.twitter a {
    background-position: 0 0;
}
.h-contact ul li.twitter a:hover {
    background-position: -57px 0;
}
.h-contact ul li.facebook a {
    background-position: 0 -41px;
}
.h-contact ul li.facebook a:hover {
    background-position: -56px -41px;
}
.h-contact ul li.pinterest a {
    background-position: 0 -82px;
}
.h-contact ul li.pinterest a:hover {
    background-position: -56px -82px;
}
#footer .banner {
    margin: 0 auto;
    width: 849px;
}
#footer .banner a {
    background: url(/img/banner-winactie.png) no-repeat 0 0;
    display: block;
    width: 849px;
    height: 199px;
    text-indent: -9999em;
}
#footer .banner a:hover {
    background-position: 0 -209px;
}
#footer .banner a:active {
    background-position: 0 -418px;
}
#footer-inner {
    overflow: hidden;
    padding: 13px 0 0 0;
}
.thuiswinkel {
    font-size: 0;
    padding-bottom: 20px;
}
#footer-inner ul {
    float: left;
    list-style: none;
    padding: 14px 0 0 0;
    margin: 0;
    width: 670px;
}
#footer-inner ul li {
    float: left;
    width: 156px;
    padding-right: 10px;
    padding-bottom: 6px;
}
.facebook-like {
    float: left;
}
.rich-snippets {
    font-family: 'droid_serifregular';
    color: #b3b1b1;
    font-size: 16px;
    float: left;
    padding-left: 166px;
    margin: 0;
}
.rich-snippets img {
    padding: 0 5px;
}
.f-block {
    padding-top: 10px;
}
#body_home #categories {
    display: none;
}
#body_home #pagecontent {
    margin: 0 auto;
    float: none !important;
    width: 960px;
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-bottom: -20px !important;
}
#slides {
    margin: 0 auto;
    margin-bottom: 20px;
    overflow: hidden;
}
.slide-title {
    font-family: 'droid_serifregular' !important;
    font-size: 20px !important;
    color: #403c3d !important;
    text-align: center;
    margin: 0 !important;
    padding: 16px 0 20px !important;
    text-transform: inherit !important;
}
.slide-title span {
    color: #da7e8e !important;
}
#slides ul {
    margin: 0;
}
.bxslider li {
    height: 367px !important;
    z-index: 999;
}
.bxslider li a {
    display: block;
}
.bxslider li a img {
    width: 100%;
}
.bx-wrapper {
    position: relative;
    height: 367px;
}
.bx-pager {
    position: absolute;
    right: 26px;
    bottom: 26px;
}
.bx-pager-item {
    float: left;
}
.bx-pager-item .bx-pager-link {
    background-image: url(/img/icons.png);
    background-repeat: no-repeat;
    background-position: -57px -129px;
    display: block;
    text-indent: -9999em;
    width: 13px;
    height: 13px;
    margin-left: 10px;
}
.bx-pager-item .active {
    background-position: 0 -129px;
}
.bx-next,
.bx-prev {
    background-image: url(/img/icons.png);
    background-repeat: no-repeat;
    display: block;
    text-indent: -999em;
    width: 28px;
    height: 66px;
    position: absolute;
    margin-top: -33px;
    top: 50%;
}
.bx-prev {
    background-position: 0 -934px;
    float: left;
    left: 0;
}
.bx-next {
    right: 0;
    background-position: -472px -934px;
    float: right;
}
.tophead {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 37px;
    background: url(/img/bg-tophead.gif) repeat-x 0 0;
    z-index: 9999;
}
.topheadinner {
    margin: 0 auto;
    width: 960px;
    position: relative;
    height: 34px;
    padding-top: 3px;
}
.topheadinner #navExtra,
.topheadinner #navHulp,
.topheadinner #navInfo {
    float: right;
    position: relative;
    padding-right: 5px;
}
.topheadinner #navExtra:after,
.topheadinner #navHulp:after,
.topheadinner #navInfo:after {
    background: url(/img/icons.png) no-repeat right -11px;
    content: "";
    width: 10px;
    height: 10px;
    top: 50%;
    margin-top: -5px;
    position: absolute;
    right: 0;
}
.topheadinner a {
    font-family: 'droid_serifregular';
    background: none;
    font-size: 13px;
    display: block;
    color: #403c3d;
    line-height: 28px;
    height: 34px;
    text-align: center;
    text-transform: uppercase;
    float: right !important;
    width: auto !important;
    padding: 0 7px;
}
.topheadinner #navExtra ul li a,
.topheadinner #navHulp ul li a,
.topheadinner #navInfo ul li a {
    float: none !important;
    text-align: left;
}
.topheadinner ul.nav-content {
    border-bottom: 1px solid #a6aaa7;
    background: url(/img/bg-dropdown.png) no-repeat 0 0;
    list-style: none;
    padding: 25px 0 16px 0;
    margin: 0;
    position: absolute;
    left: 0;
    top: 23px;
    width: 135px;
    display: none;
}
.topheadinner #navHulp ul.nav-content {
    left: -36px;
}
.topheadinner #navExtra ul.nav-content {
    left: -26px;
}
.topheadinner ul.nav-content li a {
    line-height: 22px;
    height: auto !important;
    padding: 0 10px 0 15px;
    text-transform: none;
}
#headerbasket {
    background: #fff;
    padding-left: 0px;
    padding-right: 0px;
    text-align: right;
}
#basket_text {
    display: inline !important;
    text-align: center;
    width: auto!important;
    padding: 0;
}
#nav-contact {
    text-align: left !important;
}
#headerhelp {
    background: none !important;
    text-align: left !important;
}
#headeraccount {
    background: none;
    text-align: left !important;
}
#headerlogout,
#headerlogin {
    text-align: left;
}
.save-date {
    font-family: 'droid_serifregular';
    position: absolute;
    left: 0;
    top: 8px;
    color: #fff;
    font-size: 12px;
    margin: 0;
}
#account {
    background: none;
}
#nav-info {
    text-align: left !important;
}
#nav-home {
    background: none;
    text-align: left !important;
}
#basket_count {
    display: inline !important;
    color: #403c3d !important;
    padding: 0 5px;
}
.leadtext {
    position: absolute;
    right: 0;
    top: -45px;
    font-family: "droid_serifregular";
    margin: 0;
    padding: 0;
}
.leadtext span {
    color: #da7e8f;
}
#body_home .leadtext {
    display: none;
}
#crumbs {
    position: absolute;
    left: -240px;
    top: -45px;
    color: #6b2d52;
    font-size: 12px;
}
#crumbs a {
    color: #da7e8f;
    font-size: 12px;
}
#crumbs span {
    padding: 0 2px;
}
#categories {
    width: 180px;
    margin: 0;
    padding: 0;
}
#pagecontent {
	font-family: 'droid_serifregular';
    position: relative;
    float: right;
    width: 720px;
    margin: 0;
    padding-right: 0;
    font-size: 16px;
    line-height: 21px;
    color: #403c3d;
    padding-left: 0;
}
#pagecontent h1 {
    color: #da7e8e;
    font-size: 20px;
    font-family: 'droid_serifregular';
    padding: 0 0 7px 0;
    margin: 0 0 17px 0;
    text-transform: uppercase;
}
#pagecontent h1.title_pro {
    padding: 0 250px 7px 0
}
.previousPage {
    float: right;
    margin: -43px 0 0;
    text-transform: uppercase;
    background: url("/img/btn_prev.png") no-repeat scroll 0 center;
    padding-left: 15px;
    cursor: pointer;
    font-family: "droid_serifregular"
}
#pagecontent h2 {
    color: #da7e8f;
    font-size: 16px;
    font-family: 'droid_serifregular';
}
#pagecontent h4,
#pagecontent h5,
#pagecontent h6,
#pagecontent h3 {
    color: #da7e8f;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'droid_serifregular';
}
#design {
    background: url(/img/bg-design.png) no-repeat center bottom;
    height: 355px !important;
}
#knav {
    background: none;
    margin: 0 !important;
}
#next_page {
    background-image: url(/img/arrow_right.png) !important;
}
#next_page:hover {
    background-image: url(/img/arrow_right.png) !important;
}
#prev_page {
    background-image: url(/img/arrow_left.png) !important;
}
#prev_page:hover {
    background-image: url(/img/arrow_left.png) !important;
}
#card_previews_horizontal {
    height: 210px !important;
    padding-top: 14px;
    font-size: 0;
    width: 720px;
}
#card_previews_horizontal #inner {
    margin-left: -40px;
}
#card_previews_horizontal a {
    width: 180px !important;
}
#prev_page,
#next_page {
    height: 210px !important;
}
#binnen_preview,
#voor_preview {
    text-align: left !important;
    padding-left: 86px;
}
#binnen_preview {
    padding-left: 0;
}
#choose_preview:visited,
#choose_preview:link {
    background: url(/img/bg-button-arrow.png) no-repeat right 0 !important;
    line-height: 39px;
    width: 148px;
    padding: 0 28px 0 15px;
    color: #fff !important;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'droid_serifregular';
    height: 39px;
    right: 15px !important;
    bottom: 41px !important;
}
#choose_preview:hover {
    background: url(/img/bg-button-arrow-o.png) no-repeat right 0 !important;
    text-decoration: none;
}
#choose_preview:active {
    background: url(/img/bg-button-arrow-a.png) no-repeat right 0 !important;
    text-decoration: none;
}
#design {
    margin-top: 13px !important;
}
#design .description {
    background: #f6f4f2;
    color: #403c3d;
    font-size: 14x;
    padding: 11px 16px 65px 16px;
    width: 190px !important;
    right: 0 !important;
    top: 13px !important;
    height: 234px;
}
.contactfrm input[type="submit"],
.button {
    background: #beb0a7!important;
    line-height: 46px;
    width: auto;
    padding: 0 15px 0 15px;
    color: #fff !important;
    font-size: 14px;
    font-family: 'droid_serifregular';
    height: 45px !important;
    text-align: center;
}
.contactfrm input[type="submit"]:hover,
.button:active,
.button:hover {
    background-color: #ad9b8f !important;
    text-decoration: none;
}
/*.button:active {
	-moz-box-shadow: -2px -2px 0 #bf6c82;
	-webkit-box-shadow: -2px -2px 0 #bf6c82;
	box-shadow: -2px -2px 0 #bf6c82;
}*/

#body_login #pagecontent input[type="password"],
#body_login #pagecontent input[type="text"] {
    border-left: 1px solid #b4b4b4;
    border-bottom: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
    border-top: 1px solid #b4b4b4;
    padding: 8px 5px;
    color: #262626;
    font-size: 14px;
    -moz-box-shadow: inset 1px 2px 0 0 #d9d9d9;
    -webkit-box-shadow: inset 1px 2px 0 0 #d9d9d9;
    box-shadow: inset 1px 2px 0 0 #d9d9d9;
    width: 177px;
}
#body_login #pagecontent #registreer input[type="password"],
#body_login #pagecontent #registreer input[type="text"] {
    width: 155px;
}
#body_login #pagecontent input[type="submit"],
.cate_more {
    background: url(/img/bg-button-arrow.png) no-repeat right 0 !important;
    height: 39px !important;
    padding-right: 32px !important;
    line-height: 39px !important;
}
#body_login #pagecontent input[type="submit"]:hover {
    background: url(/img/bg-button-arrow-o.png) no-repeat right 0 !important;
}
#pw_recovery,
#registreer,
#login {
    border: none;
    background: #f6f4f2;
    width: 354px;
    padding: 0;
    margin: 0;
    height: auto;
    font-size: 14px;
    padding-bottom: 20px;
    padding-top: 17px;
    position: relative;
}
#body_login #pagecontent {
    padding-top: 25px;
}
#login {
    margin-bottom: 54px;
}
#registreer {
    float: right;
}
#pw_recovery {
    clear: inherit !important;
    float: left !important;
}
#body_login .align_bottom {
    position: inherit !important;
}
#body_login #registreer .align_bottom,
#body_login #login .align_bottom {
    margin-top: 8px;
}
#body_login #pw_recovery .align_bottom {
    margin-top: 12px;
}
#body_login #pagecontent h2 {
    margin: 0;
    height: 41px;
    color: #da7e8f !important;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'droid_serifregular';
    line-height: 41px;
    position: absolute;
    left: 0;
    top: -38px;
}
#body_login #pagecontent form {
    margin: 0 20px 0 20px;
}
#body_login #pagecontent form table {
    border-collapse: collapse;
    border-spacing: 0;
    border: none;
    width: 100%;
}
#body_login #pagecontent form table td {
    padding: 4px 0;
}
#body_login #pagecontent form table td.label {
    width: 140px;
    font-size: 13px;
}
#body_login #pagecontent form table td.field {
    text-align: right;
}
#body_login #pagecontent #registreer form table td.buttons {
    display: none;
}
#body_login .errormsg {
    margin: 0;
}
#pw_recovery p {
    margin: 0;
    font-size: 13px;
    padding: 0 20px 10px;
}
input#nieuwsbrief {
    margin-top: 11px;
}
#login_nieuwbrief {
    font-size: 12px;
    margin-top: 6px;
    width: 285px !important;
}
.paginator {
    clear: both;
    overflow: hidden;
    border-bottom: 1px solid #d8d0ca;
    border-top: 1px solid #d8d0ca;
    margin-top: 18px;
    margin-bottom: 12px;
    padding: 10px 0;
    position: relative;
}
.paginator a {
    display: block;
    float: left;
    width: 26px;
    height: 26px;
    color: #da7d8f;
    font-size: 12px;
    text-align: center;
    line-height: 26px;
    margin: 0 6px 0 0;
}
.paginator a:hover {
    background: #beb07a;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
    text-decoration: none;
}
.paginator a.paginatorinactive {
    background: #beb07a;
    color: #fff;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
}
.paginator .vorigeactive,
.paginator .volgendeinactive,
.paginator .vorigeactive,
.paginator .volgendeactive,
.paginator .vorigeinactive {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    background: #d28fa3;
    color: #fff;
    width: 110px;
    height: 26px;
    position: absolute;
    top: 10px;
}
.paginator .vorigeactive:hover,
.paginator .volgendeinactive:hover,
.paginator .vorigeactive:hover,
.paginator .volgendeactive:hover,
.paginator .vorigeinactive:hover {
    background-color: #c97d93;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    text-decoration: none;
}
.paginator .vorigeactive:active,
.paginator .volgendeinactive:active,
.paginator .vorigeactive:active,
.paginator .volgendeactive:active,
.paginator .vorigeinactive:active {
    background-color: #c97d93;
    -moz-box-shadow: inset 2px 2px #a94d65;
    -webkit-box-shadow: inset 2px 2px #a94d65;
    box-shadow: inset 2px 2px #a94d65;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.paginator .volgendeinactive,
.paginator .volgendeactive {
    right: 0;
}
.paginator .vorigeactive,
.paginator .vorigeinactive {
    right: 120px;
}
.paginator span {
    font-family: 'droid_serifregular';
    font-size: 12px;
    float: right;
    padding-right: 206px;
}
.paginator span select {
    font-size: 12px;
    border: 1px solid #e3e3e3;
    height: 26px;
    width: 56px;
    padding: 3px;
    vertical-align: middle;
}
#body_account .button {
    font-size: 20px !important;
    height: 32px !important;
    line-height: 32px !important;
    margin-bottom: 10px !important;
    background-position: right -439px !important;
}
#babywrapperleft {
    margin-right: 0 !important;
}
#babywrapperright {
    float: right !important;
    width: 358px !important;
}
#tab-list {
    list-style: none;
    margin: 0;
    padding: 10px 0 10px 4px;
}
#tab-list li {
    float: left;
}
#tab-list li a {
    font-family: 'droid_serifregular';
    color: #403c3d;
    display: block;
    padding: 3px 10px;
}
#tab-list li a:hover {
    color: #beb07a;
    text-decoration: none;
}
#tab-list .active a:hover,
#tab-list .active a {
    border: 1px solid #ddbec3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #ddbec3;
    -moz-box-shadow: -2px -2px 0 2px #cfaea7;
    -webkit-box-shadow: -2px -2px 0 2px #cfaea7;
    box-shadow: -2px -2px 0 2px #cfaea7;
    color: #fff;
}
#lnav {
    background: url("/img/bg-line.png") repeat-y scroll 172px top transparent;
    width: 180px;
}
#lnav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#lnav ul li a {
    color: #262626;
    font-size: 18px;
    display: block;
    padding: 0 0 0 34px;
    height: 38px;
    line-height: 34px;
    text-transform: uppercase;
    font-family: 'droid_serifregular';
}
#lnav ul li .lnav-active:hover,
#lnav ul li .lnav-active {
    background: url(/img/bg-cat-hover.png) no-repeat 0 0 !important;
    color: #fff !important;
}
#lnav ul li a:hover {
    background: url(/img/icons.png) no-repeat 16px -237px;
    color: #c17e93;
    text-decoration: none;
}
#lnav ul li ul {
    display: none;
    padding-bottom: 15px;
}
#lnav ul li ul li {
    padding: 0 0 0 47px;
    line-height: 1.5;
    font-size: 16px !important;
}
#lnav ul li ul li a {
    font-family: 'droid_serifregular' !important;
    font-size: 16px;
    text-transform: none;
    padding: 0;
    height: auto;
    line-height: normal;
}
#lnav ul li ul li a:hover {
    background: none;
    color: #c17e93;
}
#sidebar {
    float: left;
    width: 181px;
    padding-top: 40px;
}
#content {
    float: right;
    width: 720px;
    padding-top: 23px;
}
.block {
    font-size: 14px;
    text-align: center;
    background: #f6f4f2;
    padding: 14px 10px 16px;
}
#body_home .block {
    background: none;
    padding-bottom: 36px;
}
.block p {
    margin: 0;
    line-height: 1.6;
}
#sidebar .order {
    background: #fff1f6;
    padding: 4px;
    margin-bottom: 34px;
}
#sidebar .order p {
    border: 1px solid #f8dae1;
    margin: 0;
    padding: 11px 10px 13px;
    color: #da7e8e;
    text-align: center;
    font-size: 14px;
    font-family: 'droid_serifregular';
}
.cat-item h3 {
    font-family: 'droid_serifregular';
    font-size: 14px;
    color: #da7e8e;
    font-weight: normal;
    border-bottom: 1px solid #d9d8d8;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 5px;
}
.cat-item {
    padding-bottom: 26px;
}
.cat-item ul {
    list-style: none;
    margin: 0;
    padding: 11px 0 0 0;
}
.cat-item ul li {
    padding: 0 0 7px 0;
}
.cat-item ul li a {
    color: #403c3d;
    font-size: 14px;
}
.cat-item ul li a:hover {
    color: #beb0a7;
    text-decoration: none;
}
.card-list {
    list-style: none;
    padding: 0;
    margin: -20px 0 20px 0;
}
.card-list li {
    float: left;
    font-size: 0;
    padding: 0 14px 0 14px;
}
.card-list li img {
    width: 152px !important;
    height: auto !important;
}
.block-list {
    list-style: none;
    margin: 6px 0 0 0;
    padding: 0;
}
#body_home .block-list {
    padding-bottom: 23px;
    margin-top: 36px;
}
.block-list li {
    float: left;
    width: 339px;
}
#body_home .block-list li {
    width: 230px;
    padding: 0 13px 0 0 !important;
}
#body_home .block-list li:last-child {
    padding-right: 0 !important;
}
.block-list .right {
    padding-left: 42px;
}
.block-list li {
    cursor: pointer;
    padding-bottom: 24px;
}
.block-list li h2 {
    font-size: 14px !important;
    font-weight: normal;
    color: #da7e8f !important;
    font-family: 'droid_serifregular';
    text-transform: uppercase;
    margin: 0 !important;
    padding-bottom: 5px !important;
}
.block-list li .thumb {
    margin: 0;
    height: 147px;
    overflow: hidden;
}
.block-list li img {
    display: block;
    width: 339px;
}
#body_home .block-list li img {
    width: 230px;
    height: auto;
}
.block-list li p {
    margin: 0;
    padding: 0 !important;
    font-size: 13px;
    color: #403c3d;
    min-height: 42px;
}
.block-list li a {
    font-size: 13px;
}
.block-list li div {
    background: #fff1f6;
    padding: 13px 17px 15px;
}
.section h2 {
    font-family: 'droid_serifregular';
    font-size: 14px !important;
    text-transform: uppercase;
    color: #da7e8f !important;
    border-bottom: 1px solid #d9d8d8;
    padding: 10px 0 4px 0 !important;
    margin-bottom: 20px !important;
}
.section .section-inner {
    cursor: pointer;
}
.section .section-inner .thumb {
    float: left;
    margin: 0;
    height: 125px;
    overflow: hidden;
}
.section .section-inner .thumb img {
    width: 160px !important;
}
.section .section-inner div {
    float: right;
    padding-right: 20px;
    width: 494px;
}
#body_home .section .section-inner div {
    width: 735px;
}
.section .section-inner div h3 {
    font-size: 16px !important;
    font-weight: normal;
    margin: -4px 0 11px 0 !important;
    text-transform: none !important;
}
.section .section-inner div h3 a {
    color: #da7d8f;
    font-family: 'droid_serifregular';
}
.section .section-inner div p {
    margin: 0;
    font-size: 13px;
}
.blockquote {
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    background: url(/img/blockquote.png) no-repeat 10px 21px;
    padding: 14px 20px 15px 54px;
    font-size: 18px;
    font-family: 'droid_serifregular';
    color: #a19d9d;
    line-height: 25px;
    margin: 35px 0 0 0;
}
.blockquote p {
    margin: 0;
}
.blockquote span {
    display: block;
    font-family: 'droid_serifregular';
    font-size: 14px;
    padding-top: 5px;
}
#mainmenu {
    list-style: none;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #d9d8d8;
}
#mainmenu li h3 {
    border-top: 1px solid #d9d8d8;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 14px;
    font-family: 'droid_serifregular';
    background: url(/img/ico-arrow-menu.gif) no-repeat right center;
    margin: 0;
}
#mainmenu li h3 a {
    color: #d18091;
    display: block;
    line-height: 26px;
    padding: 7px 0;
}
#mainmenu li h3 a:hover {
    color: #c6616f;
    text-decoration: none;
}
#mainmenu li h3.open {
    background: url(/img/ico-arrow-menu-a.gif) no-repeat right center;
}
#mainmenu li ul {
    list-style: none;
    padding: 2px 0 2px 0;
    margin: 0;
    display: none;
}
#mainmenu li ul li {
    padding: 0 0 9px 0;
}
#mainmenu li ul li a {
    color: #403c3d;
    font-family: 'droid_serifregular';
    font-size: 14px;
}
#mainmenu li ul .active a,
#mainmenu li ul li a:hover {
    color: #da7e8e;
    text-decoration: none;
}
#body_main_category #pagecontent p {
    color: #6e6e6e;
    line-height: 23px;
    margin: 0 0 15px 0;
}
.main-img {
    display: none;
}
#main-img {
    margin-bottom: 20px;
    display: block;
}
#verzend_form a,
#card_previews a {
    display: inline-block !important;
}
.eigen_trash_icon:hover,
.eigen_trash_icon {
    margin-left: -20px;
    margin-top: 101px;
}
#verzend_form div {
    float: none !important;
}
.namecard {
    display: inline;
}
#card_previews {
    clear: both;
}
.introHuisstijl {
    float: right;
    margin: 5px 0 0 15px;
    width: 370px;
    height: 268px;
}
#card_previews img {
    width: 175px;
    height: auto !important;
}
#card_previews a:hover {
    text-decoration: none;
}
.contactfrm input[type="text"] {
    border: 1px solid #D3D3D3;
    box-shadow: 1px 1px 2px 0 #D9D9D9 inset;
    padding: 8px 10px;
    width: 394px;
}
textarea {
    border: 1px solid #D3D3D3;
    height: 92px;
    overflow: auto;
    padding: 8px 10px;
    resize: none;
}
.contactfrm textarea {
    border: 1px solid #D3D3D3;
    box-shadow: 1px 1px 2px 0 #D9D9D9 inset;
    height: 92px;
    overflow: auto;
    padding: 8px 10px;
    resize: none;
    width: 394px;
}
.contactfrm {
    padding: 30px 0 0;
}
.contactfrm ul li {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    clear: both;
    padding: 0 0 10px;
}
.contactfrm .error input[type="text"],
.contactfrm .error textarea {
    border-color: #FF0000;
}
.contactfrm .error span {
    background: url("/img/bg-error.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #FFFFFF;
    display: inline-block;
    font-size: 12px;
    height: 23px;
    line-height: 23px;
    margin-left: 3px;
    padding: 0 10px;
}
.contactfrm ul li label {
    display: block;
    float: left;
    line-height: 34px;
    padding: 0 10px 0 0;
    width: 128px;
}
.contactfrm ul {
    list-style: none !important;
    padding: 0;
    margin: 0 !important;
}
.contactfrm ul li label em {
    font-style: normal;
}
.contactfrm ul li p {
    float: left;
    margin: 0;
    padding: 0;
}
.contactfrm .submit {
    clear: both;
    margin: 0;
    padding: 0 165px 0 0 !important;
    overflow: hidden;
}
.contactfrm input[type="submit"] {
    border: none;
    cursor: pointer;
    float: right;
}
.top-content {
    margin-bottom: 20px;
}
/* carousel */

.descript {
    padding-top: 25px;
}
.carousel-holder {
    width: 100%;
    margin: 0 auto 0;
    padding-bottom: 22px;
    border-bottom: 1px solid #e2e2e2;
}
.carousel-holder img {
    display: block;
    border-style: none;
}
.carousel-holder .box {
    margin: 0;
    padding: 0;
}
.carousel {
    overflow: hidden;
    width: 100%;
}
.carousel .holder {
    overflow: hidden;
    position: relative;
    float: left;
    display: inline;
}
.carousel .holder ul {
    position: relative;
    width: 9999px;
    padding: 0 !important;
    margin: 0;
    list-style: none;
}
.carousel .holder li {
    float: left;
    width: 84px;
    padding: 0 20px;
}
.carousel .holder a {
    display: block;
    outline: none;
}
.carousel .holder .active a {} .carousel-holder .large-img {
    padding: 0 !important;
    list-style: none;
    position: relative;
}
.carousel-holder .large-img li {
    position: absolute;
    z-index: 1;
}
.carousel-holder .large-img li.active {
    z-index: 2;
}
.carousel .link-prev,
.carousel .link-next {
    float: left;
    width: 35px;
    height: 34px;
    outline: none;
    text-indent: -9999px;
    overflow: hidden;
    background: url(/img/gallery/carousel-controls.png) no-repeat 0 0;
    margin: 25px 0 0 0;
}
.carousel .link-prev:hover {} .carousel .link-next {
    float: right;
    background-position: 0 -43px;
}
.carousel .link-next:hover {} .style-2 .carousel .holder {
    width: 620px;
    margin: 0 0 0 14px;
}
.carousel-holder .style-2 {
    height: 645px;
}
.carousel-holder .style-2 .large-img {
    margin: 0 0 25px 0;
    width: 720px;
    height: 535px;
}
.carousel-holder .style-2 .large-img img {
    float: left;
}
.carousel-holder .controls {
    width: 318px;
    margin: 0 0 9px 50px;
    height: 23px;
}
.carousel-holder .controls .link-prev,
.carousel-holder .controls .link-next {
    float: left;
    width: 24px;
    height: 23px;
    text-indent: -9999px;
    overflow: hidden;
    background: url(../img/carousel-controls.jpg) no-repeat 0 -64px;
    outline: none;
}
.carousel-holder .controls .link-prev:hover {
    background-position: 0 -87px;
}
.carousel-holder .controls .link-next {
    float: right;
    background: url(../img/carousel-controls.jpg) no-repeat -24px -64px;
}
.carousel-holder .controls .link-next:hover {
    background-position: -24px -87px;
}
.carousel-holder .line {
    width: 252px;
    float: left;
    height: 23px;
    margin: 0 0 0 8px;
    display: inline;
    text-align: center;
    position: relative;
    font-size: 14px;
    color: #FFF;
}
.carousel-holder .line a {
    position: absolute;
    width: 24px;
    height: 23px;
    text-indent: -9999px;
    overflow: hidden;
    background: url(../img/carousel-controls.jpg) no-repeat -48px -64px;
    top: 0;
    left: 0;
    outline: none;
    cursor: pointer!important;
}
.carousel-holder .paused .line a,
.carousel-holder .line a:hover {
    background-position: -48px -87px;
}
#body_account_settings #pagecontent br {
    display: none;
}
#body_account_settings #pagecontent .button {
    float: none !important;
    display: block;
    margin-bottom: 10px;
    width: 190px;
    text-align: left;
}
#footer-inner {
    border-bottom: 1px solid #e2e2e2;
    border-top: 1px solid #e2e2e2;
}
#footer-inner .f-left {
    padding-top: 10px;
    padding-left: 33px;
}
#footer-inner .f-right .feedback {
    font-size: 13px;
    font-family: 'droid_serifregular';
    color: #403c3d;
    line-height: 1.4;
    padding-left: 10px;
    padding-top: 16px;
    padding-bottom: 5px;
    height: 110px !important;
    clear: both;
}
#footer-inner .f-right .feedback div p {
    float: left;
    margin: 0;
    width: 135px;
}
#footer-inner .f-right .feedback div p.image {
    margin-top: -48px;
}
#footer-inner .f-right .feedback div p.text {
    background: url(/img/feedback.png) no-repeat 0 6px;
    float: right;
    width: 631px;
    padding-left: 35px;
}
#pagecontent #footer-inner .f-right .feedback div p.text {
    width: 770px;
}
#footer-inner .f-right .feedback span {
    display: block;
    padding-top: 8px;
    color: #c5879a;
    font-size: 12px;
    font-style: normal;
}
#body_voorbeeld #home,
#body_keuze #home,
#body_bestel_details #home,
#body_basket #home,
#body_address_n #home,
#body_ok #home,
#body_enveloppen #home {
    display: none;
}
.banner-side {
    text-align: center;
    margin-top: 0;
    padding-top: 19px;
}
.banner-side img {
    width: 121px;
    height: auto;
}
/*
-----------------------------------------------------------------
Clearfix
-----------------------------------------------------------------
*/

#footer-inner .f-left .feedback,
.contactfrm ul li,
.section .section-inner,
.block-list,
.card-list,
#tab-list,
.mm-item-content,
.megamenu li,
.megamenu,
#slides ul,
#body_home .item ul,
#footer-inner,
#footer-inner ul,
.clearfix {
    zoom: 1;
}
#footer-inner .f-left .feedback:after,
.contactfrm ul li:after,
.section .section-inner:after,
.block-list:after,
.card-list:after,
.clearfix:after,
#tab-list:after,
.mm-item-content:after,
.megamenu li:after,
.megamenu:after,
#slides ul:after,
#body_home .item ul:after,
#footer-inner:after,
#footer-inner ul:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.lightbox {
    cursor: pointer;
}
#bg-lightbox {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    left: 0;
    top: 0;
    z-index: 1000;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    filter: alpha(opacity=10);
    opacity: 0.1;
}
#lightbox {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: fixed;
    width: 403px;
    height: 378px;
    left: 50%;
    top: 50%;
    margin: -189px 0 0 -229px;
    background-color: #fff;
    z-index: 1001;
    padding: 19px 28px 0 28px;
    overflow: hidden;
}
#lightbox iframe {
    height: 378px;
    width: 403px;
    border: none;
    overflow: hidden;
}
#lightbox .close {
    cursor: pointer;
    text-indent: -9999em;
    height: 10px;
    width: 10px;
    background: url(/img/close-popup.png) no-repeat 0 0;
    position: absolute;
    right: 20px;
    top: 24px;
}
/* calculator*/

#calculator .ttl {
    margin: 0;
    padding: 16px 0 4px 0;
}
#calculator .amount .ttl {
    padding: 16px 0 10px 0;
}
#calculator .result-cal input {
    border: none;
    padding: 0;
    background: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
#amount-envelop,
#amount-card {
    border: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: none;
    width: auto !important;
    padding: 0;
    height: auto;
}
#result-input {
    font-size: 18px;
    font-weight: bold;
}
#result {
    color: #000;
}
.inclusief {
    color: #616161;
    font-size: 12px;
    display: block;
    line-height: 1.1;
    margin-top: -15px;
}
.result-cal {
    margin-top: 18px;
    margin-bottom: 60px;
    background: #e0dbd4;
    width: 363px;
    padding: 12px 20px 0;
}
#calculator #message {
    display: none;
    width: 403px;
    text-align: center;
    color: #F00;
    font-size: 18px;
    font-family: Arial;
}
.page-cal {
    width: 705px !important;
    height: 115px !important;
}
.page-cal a {
    top: 62px !important;
    font-size: 20px !important;
    height: 34px !important;
    line-height: 34px !important;
}
#calculator #sliderb,
#calculator #slider {
    background: #f6f4f2;
    height: 5px;
    position: relative;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    width: 193px;
}
#calculator .ui-slider-horizontal .ui-slider-handle {
    background: #414141;
    margin: 0;
    border: 1px solid #f6f4f2;
    height: 16px;
    width: 16px;
    top: -6px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-left: -8px;
}
#calculator table {
    width: 422px;
}
.result-cal table {
    width: 379px !important;
}
.wrap-sel {
    height: 31px;
    position: relative;
}
#calculator select {
    height: 31px !important;
    line-height: 31px;
    position: relative;
    width: 190px !important;
    z-index: 10;
}
#calculator span.select {
    -moz-box-shadow: inset 1px -1px #fff;
    -webkit-box-shadow: inset 1px -1px #fff;
    box-shadow: inset 1px -1px #fff;
    background: #efefef url(/img/dd.png) no-repeat right center;
    border: 1px solid #d3d3d3;
    bottom: 0;
    cursor: default;
    float: left;
    height: 31px;
    left: 0;
    line-height: 32px;
    position: absolute;
    text-indent: 10px;
    width: 190px;
    z-index: 1;
}
#total {
    font-size: 12pt;
}
#total,
#price,
#priceb,
#pricec,
#priced,
#pricee,
#pricef,
#pricez {
    text-align: right;
    width: 60px;
}
#quoteme input {
    background: transparent;
    color: #ddd;
    font-family: Georgia;
    border: 0px solid #fff;
    margin-bottom: 20px;
}
#quoteme label {
    float: left;
    display: block;
    padding-top: 10px;
    display: block;
    color: #fff;
    font-family: Georgia;
    width: 340px;
}
#contenta {
    padding: 1px 0px 20px 0px;
    display: block;
    width: 400px;
    text-align: left;
    font-size: 12pt;
}
.pricepara {
    text-align: right;
    font-size: 14pt;
}
.pricepara #totalprice {
    padding-top: 0px;
    margin-top: 0px;
    border: 0px solid #000;
    font-size: 14pt;
    font-weight: bold;
}
#total {
    font-family: 'Georgia', arial;
    width: 100px;
    border: 0px solid #000;
    background: transparent;
    font-size: 38px;
    color: #fff;
}
#quoteme {
    width: 400px;
    display: block;
    background: #000;
    float: left;
    clear: both;
    padding: 30px 20px 10px 30px;
}
#slider,
#sliderb,
#sliderc,
#sliderd,
#slidere {
    width: 209px;
}
input#submitbtn {
    display: block;
    width: 200px;
    height: 38px;
    margin: 10px 0px 10px 0px;
    background: #ffe906;
    color: #000;
    font-size: 14pt;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
}
#amount-card,
#amount-envelop {
    border: none;
    background: none;
    width: 40px !important;
    text-align: left;
    color: #262626;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: -14px;
    top: -4px !important;
    text-align: right;
}
.ui-slider .ui-slider-range {
    border: none !important;
    background-color: #dd8a98 !important;
}
#body_home #crumbs,
#body_home-test #categories {
    display: none;
}
#body_home #pagecontent {
    width: 100%;
    float: none;
}
.visual-block p {
    margin: 0;
    padding: 0;
    float: left;
    height: 274px;
    position: relative;
    width: 470px;
}
.visual-block p a {
    position: absolute;
    right: 0;
    bottom: 20px;
    font-family: 'droid_serifregular';
    font-size: 19px;
    color: #fff;
    background: url(/img/background.png) no-repeat right top;
    height: 41px;
    line-height: 39px;
    padding: 0 35px 0 15px;
}
.visual-block p a:hover {
    background-position: right -50px;
    text-decoration: none;
}
.visual-block p.left {
    width: 489px;
}
.visual-block p.left a {
    right: 20px;
}
.cat-block {
    list-style: none;
    margin: 46px 0 20px 0;
    padding: 0;
}
.cat-block li {
    float: left;
    padding-right: 30px;
}
.cat-block li:last-child {
    padding-right: 0;
}
.cat-block li a {
    display: block;
    height: 175px;
}
.cat-block li .btn {
    font-family: 'droid_serifregular';
    text-align: center;
    background: url(/img/background.png) no-repeat right -50px;
    height: 41px;
    line-height: 41px;
    padding: 0 10px;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 17px;
}
.cat-block li .btn:hover {
    background-position: right top;
    text-decoration: none;
}
/*change 28032014*/

#body_design #categories {
    display: none
}
#body_design #pagecontent {
    width: 100%
}
#body_design #crumbs {
    left: 0
}
#categories .cate_more.button {
    float: none;
    width: auto;
    margin: 0
}
#mainmenu li:first-child h3 {
    border: 0
}
.show-tagged .cate_more,
.free-printables .thumb img {
    display: block
}
.show-tagged #mainmenu,
.cate_more {
    display: none;
}
.cate_more:hover {
    background-image: url("/img/bg-button-arrow-active.png")
}
.cate_more.button.selected {
    background-image: url("/img/bg-button-arrow-active.png")!important
}
.free-printables {
    padding: 0
}
.free-printables li {
    list-style: none;
    overflow: hidden;
    margin: 0 0 30px
}
.free-printables .thumb {
    width: 230px;
    float: left;
    margin-right: 20px
}
.free-printables .thumb span {
    display: block;
    background: url("/img/btn_gray.png") repeat-x;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-family: "droid_serifregular";
    text-transform: uppercase
}
.free-printables .thumb:hover {
    text-decoration: none;
}
#pagecontent .free-printables .caption {
    height: 180px;
    overflow: hidden;
}
#pagecontent .free-printables h3 {
    margin: -6px 0 0;
    color: #5a5a5a!important;
}
#pagecontent .free-printables p {
    margin: 0
}
#filter_cards #filter_menu {
    float: none;
}
.section {
    background: none repeat scroll 0 0 #f7f6f4;
    padding: 0 15px 10px;
    margin-top: 20px;
    line-height: 20px;
}
.section p,
.section h3,
.section h2 {
    margin-top: 0;
}
.section h2,
.section h3 {
    padding-top: 10px;
}
.section ul {
    width: auto !important;
    list-style: none;
    padding: 0;
    margin: 0;
}
.section ul li {
    background: url("/img/ico-circle.png") no-repeat scroll 0 8px rgba(0, 0, 0, 0) !important;
    padding-left: 10px !important;
}
#voor_preview img {
    height: 290px;
}
#voor_preview {
    padding-left: 40px;
}
.introbanner {
    width: 370px;
    height: 150px;
    float: right;
    margin: 5px 0 0 15px;
}
/* Slider */

a.cycle-slide {
    margin-right: 20px;
}
a.cycle-slide img {
    max-width: 160px;
    height: auto;
}
div.slideWrap {
    width: 705px;
    margin: 20px auto;
}
div.sliderBlock {
    width: 100%;
    box-sizing: border-box;
    height: 200px;
    border-radius: 35px;
    overflow: hidden;
    margin-bottom: 40px;
    position: relative;
}
#pSlide {
    width: 42px;
    height: 42px;
    cursor: pointer;
    background-image: url(/img/arrow_left.png);
    position: absolute;
    top: 50%;
    margin-top: -20px;
    left: 15px;
}
#nSlide {
    width: 42px;
    height: 42px;
    cursor: pointer;
    background-image: url(/img/arrow_right.png);
    position: absolute;
    top: 50%;
    margin-top: -20px;
    right: 15px;
}
/* Inspiratie pagina's */

div.inspiBlok {
    margin-bottom: 45px;
    width: 100%;
}
div.inspiBlok h2 {
    width: 100%;
    display: block;
    clear: both;
}
div.inspiBlok h2 em {
    float: right;
    margin-right: 25px;
    font-size: 14px;
}
div.inspiTem {
    position: relative;
    overflow: hidden;
    width: 165px;
    height: 165px;
    float: left;
    vertical-align: top;
    margin-right: 10px;
    margin-bottom: 10px;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}
div.inspiTem a {
    width: 100%;
    height: 100%;
    display: inline-block;
}
div.inspiTem img {
    min-width: 100%;
    min-height: 100%;
    max-height: 150%;
    max-width: 150%;
    height: auto;
    width: auto;
    position: absolute;
    left: 50%;
}
div.hovShow {
    background: rgb(54, 25, 25);
    background: rgba(255, 255, 255, .8);
    position: absolute;
    top: -100%;
    left: 0px;
    width: 100%;
    opacity: 0;
    height: 100%;
    z-index: 999;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}
div.inspiTem:hover .hovShow {
    opacity: 1;
    top: 0px;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
    -webkit-box-shadow: inset 0 0 10px 0 #8A8A8A;
    box-shadow: inset 0 0 10px 0 #8A8A8A;
}
div.hovShow a.vergroot {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url(/css/images/zoom.png) no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -38px;
    margin-top: -16px;
}
div.hovShow a.linknaar {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url(/css/images/linkto.png) no-repeat;
    position: absolute;
    top: 50%;
    right: 50%;
    margin-right: -38px;
    margin-top: -16px;
}
div.trouwhuisstijl a:nth-child(odd) {
    margin-right: 20px;
}
.trouwhuisstijl-nav {
    display: none;
}
.trouwhuisstijl-nav a img {
    width: 180px;
}
#body_loveshoot-fotograaf-trouwen #categories {
    display: none;
}
#body_loveshoot-fotograaf-trouwen #pagecontent {
    width: 100%;
}
#body_loveshoot-fotograaf-trouwen #crumbs {
    left: 0;
}
.foto-list {
    list-style: none;
    padding: 15px 0 0 0;
    margin: 0;
    overflow: hidden;
}
.foto-list li {
    vertical-align: top;
    width: 400px;
    margin: 0 0 40px 35px;
    float: left;
}
.foto-list li:nth-child(even) {
    margin: 0 35px 40px 0;
    float: right;
}
.foto-list li .image {
    display: block;
    font-size: 0;
    line-height: 1;
}
.foto-list li img {
    width: 100%;
    height: auto;
}
.foto-info {
    background-color: #dedbd2;
    margin-top: 6px;
    padding: 8px 0;
    min-height: 87px;
    box-sizing: border-box;
}
.foto-inner {
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    overflow: hidden;
    padding: 5px 10px;
    box-sizing: border-box;
    color: #000;
}
.foto-info .addr {
    text-align: right;
    width: 290px;
    float: right;
    box-sizing: border-box;
    line-height: 18px;
    color: #47423f;
}
.foto-info .price {
    float: left;
    min-height: 55px;
    width: 78px;
    background-color: #fff;
    text-transform: uppercase;
    box-sizing: border-box;
    padding: 3px 5px 0;
    line-height: 16px;
    letter-spacing: -1px;
    font-size: 12px;
    text-align: center;
}
.foto-list li:nth-child(even) .addr {
    float: left;
    text-align: left;
}
.foto-list li:nth-child(even) .price {
    float: right;
}
.foto-list li:nth-child(2n+1) {
    clear: left;
}
#body_zoeken #categories {
    display: block;
}
#body_zoeken #pagebody #result + div > a img {
    width: 175px;
    height: auto;
}
#body_zoeken .leadtext {
    position: static;
    text-align: right;
    margin-bottom: 10px;
}
#voor_preview > img {
    max-width: 350px;
}
/* ------------------------------------------------------------------------------------------------------------------ */
