@font-face {
    font-family: 'CenturyGothicRegular';
    src: url('/css/fonts/gothic.eot');
    src: url('/css/fonts/gothic.eot') format('embedded-opentype'),
         url('/css/fonts/gothic.woff') format('woff'),
         url('/css/fonts/gothic.ttf') format('truetype'),
         url('/css/fonts/gothic.svg#CenturyGothicRegular') format('svg');
}

@font-face {
    font-family: 'CenturyGothicBold';
    src: url('/css/fonts/gothicb.eot');
    src: url('/css/fonts/gothicb.eot') format('embedded-opentype'),
         url('/css/fonts/gothicb.woff') format('woff'),
         url('/css/fonts/gothicb.ttf') format('truetype'),
         url('/css/fonts/gothicb.svg#CenturyGothicBold') format('svg');
}

@font-face {
    font-family: 'CenturyGothicBoldItalic';
    src: url('/css/fonts/gothicbi.eot');
    src: url('/css/fonts/gothicbi.eot') format('embedded-opentype'),
         url('/css/fonts/gothicbi.woff') format('woff'),
         url('/css/fonts/gothicbi.ttf') format('truetype'),
         url('/css/fonts/gothicbi.svg#CenturyGothicBoldItalic') format('svg');
}

@font-face {
    font-family: 'CenturyGothicItalic';
    src: url('/css/fonts/gothici.eot');
    src: url('/css/fonts/gothici.eot') format('embedded-opentype'),
         url('/css/fonts/gothici.woff') format('woff'),
         url('/css/fonts/gothici.ttf') format('truetype'),
         url('/css/fonts/gothici.svg#CenturyGothicItalic') format('svg');
}

@font-face {
    font-family: 'CenturyRegular';
    src: url('/css/fonts/century.eot');
    src: url('/css/fonts/century.eot') format('embedded-opentype'),
         url('/css/fonts/century.woff') format('woff'),
         url('/css/fonts/century.ttf') format('truetype'),
         url('/css/fonts/century.svg#CenturyRegular') format('svg');
}

@font-face {
    font-family: 'CenturyItalic';
    src: url('/css/fonts/century-italic.eot');
    src: url('/css/fonts/century-italic.eot') format('embedded-opentype'),
         url('/css/fonts/century-italic.woff') format('woff'),
         url('/css/fonts/century-italic.ttf') format('truetype'),
         url('/css/fonts/century-italic.svg#CenturyItalic') format('svg');
}

html {
	background: url(/img/bg-html.gif);
}

body {
	color: #403c3d;
	font-size: 13px;
	font-family: 'CenturyGothicRegular';
}

h3,
h2 {
	color: #C17E93 !important;
}

.CenterColumn {
	width: 221px !important;
}

a {
	color: #da7e8e;
	outline: none;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#headermenu {
	display: none;
}

#wrapper {
	background: #fff;
	margin: 0 auto;
	padding: 0 40px;
	width: 960px;
}

#mid {
	background: none;
	clear: both;
	padding-top: 57px;
	padding-bottom: 20px;
}

.fnav-block {
	display: none;
}

#fnav {
	text-align: center;
	margin: 0;
	padding: 8px 0 0 0;
}

#fnav li {
	display: inline;
	padding: 0 13px;
}

#fnav li a {
	color: #403c3d;
	font-size: 12px;
	text-transform: uppercase;
}

#fnav li a:hover {
	color: #da7e8e;
	text-decoration: none;
}

#body_home #mid {
	padding: 0 !important;
}

#footer {
	padding: 30px 63px 36px 63px;
}

.copyright {
	text-align: center;
	font-size: 12px;
	color: #a19d9d;
	margin: 0;
	padding: 33px 0 0 0;
}

.copyright a {
	color: #a19d9d;
}

#header {
	background: none;
	position: relative;
	padding-top: 130px;
	height: auto;
}

#home {
	background: url(/img/logo.png) no-repeat 0 0;
	width: 337px;
	height: 51px;
	position: absolute;
	top: 59px;
	left: 0;
	z-index: 100;
}
#wrapper #home{display:none;}
#header #home {display:block;}

#menu {
	background: url(/img/bg-menu.png) no-repeat 0 0;
	height: 41px;
	padding: 0;
}

.megamenu {
	list-style: none;
	margin: 0;
	padding: 0 0 0 35px;
}

.megamenu li {
	float: left;
	font-size: 14px;
	font-family: 'CenturyGothicRegular';
	position: relative;
}

.megamenu li a {
	color: #fff;
	text-transform: uppercase;
	display: block;
	height: 41px;
	padding: 0 16px;
	line-height: 41px;
	float: left;
	position: relative;
	z-index: 160;
}

.megamenu li img {
	float: left;
}


.megamenu li a.active,
.megamenu li.sfHover a,
.megamenu li a:hover {
	background: url(/img/bg-menu-o.png) repeat-x 0 0;
	color: #fff !important;
	text-decoration: none;
}

.megamenu li ul {
	background: #de8b99;
	position: absolute;
	left: 0;
	top: 41px;
	list-style: none;
	z-index: 1200;
	padding: 0;
	margin: 0;
	width: 213px;
	display: none;
}

.megamenu li ul li {
	float: none;
}

.megamenu li ul li a {
	background: none !important;
	float: none;
	line-height: 30px;
	height: 30px;
	padding: 0 14px 0 14px;
	text-transform: none;
	min-width: 142px;
}

.megamenu li ul li a:hover {
	background: #c77d89 !important;
}

.h-contact {
	position: absolute;
	right: 10px;
	top: 61px;
}

.h-contact p {
	font-family: 'CenturyGothicRegular';
	margin: 0;
	float: left;
	font-size: 14px;
	padding-right: 20px;
}

.h-contact p span {
	font-weight: bold;
}

.h-contact ul {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
}

.h-contact ul li {
	float: left;
	padding-left: 8px;
}

.h-contact ul li a {
	background-image: url(/img/icons.png);
	background-repeat: no-repeat;
	display: block;
	width: 24px;
	height: 24px;
	text-indent: -9999em;
}

.h-contact ul li.twitter a {
	background-position: 0 0;
}

.h-contact ul li.twitter a:hover {
	background-position: -57px 0;
}

.h-contact ul li.facebook a {
	background-position: 0 -41px;
}

.h-contact ul li.facebook a:hover {
	background-position: -56px -41px;
}

.h-contact ul li.pinterest a {
	background-position: 0 -82px;
}

.h-contact ul li.pinterest a:hover {
	background-position: -56px -82px;
}

#footer .banner {
	margin: 0 auto;
	width: 849px;
}

#footer .banner a {
	background: url(/img/banner-winactie.png) no-repeat 0 0;
	display: block;
	width: 849px;
	height: 199px;
	text-indent: -9999em;
}

#footer .banner a:hover {
	background-position: 0 -209px;
}

#footer .banner a:active {
	background-position: 0 -418px;
}

#footer-inner {
	overflow: hidden;
	padding: 13px 0 0 0;
}

.thuiswinkel {
	font-size: 0;
	padding-bottom: 20px;
}

#footer-inner ul {
	float: left;
	list-style: none;
	padding: 14px 0 0 0;
	margin: 0;
	width: 670px;
}

#footer-inner ul li {
	float: left;
	width: 156px;
	padding-right: 10px;
	padding-bottom: 6px;
}

.facebook-like {
	float: left;
}

.rich-snippets {
	font-family: 'CenturyRegular';
	color: #b3b1b1;
	font-size: 16px;
	float: left;
	padding-left: 166px;
	margin: 0;
}

.rich-snippets img {
	padding: 0 5px;
}

.f-block {
	padding-top: 10px;
}

#body_home #categories {
	display: none;
}

#body_home #pagecontent {
	margin: 0 auto;
	float: none !important;
	width: 960px;
	padding-right: 0 !important;
	padding-left: 0 !important;
	margin-bottom: -20px !important;
}

#slides {
	margin: 0 auto;
	margin-bottom: 20px;
	overflow: hidden;
}

.slide-title {
	font-family: 'CenturyItalic';
	font-size: 20px;
	color: #403c3d;
	text-align: center;
	margin: 0;
	padding: 16px 0 20px;
}

.slide-title span {
	color: #da7e8e;
}

#slides ul {
	margin: 0;
}

.bxslider li {
	height: 367px !important;
	z-index: 999;
}

.bxslider li a {
	display: block;
}

.bxslider li a img {
	width: 100%;
}

.bx-wrapper {
	position: relative;
	height: 367px;
}

.bx-pager {
	position: absolute;
	right: 26px;
	bottom: 26px;
}

.bx-pager-item {
	float: left;
}

.bx-pager-item .bx-pager-link {
	background-image: url(/img/icons.png);
	background-repeat: no-repeat;
	background-position: -57px -129px;
	display: block;
	text-indent: -9999em;
	width: 13px;
	height: 13px;
	margin-left: 10px;
}

.bx-pager-item .active {
	background-position: 0 -129px;
}

.bx-next,
.bx-prev {
	background-image: url(/img/icons.png);
	background-repeat: no-repeat;
	display: block;
	text-indent: -999em;
	width: 28px;
	height: 66px;
	position: absolute;
	margin-top: -33px;
	top: 50%;
}

.bx-prev {
	background-position: 0 -934px;
	float: left;
	left: 0;
}

.bx-next {
	right: 0;
	background-position: -472px -934px;
	float: right;
}

.tophead {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 37px;
	background: url(/img/bg-tophead.gif) repeat-x 0 0;
	z-index: 9999;
}

.topheadinner {
	margin: 0 auto;
	width: 960px;
	position: relative;
	height: 34px;
	padding-top: 3px;
}

.topheadinner #navHulp,
.topheadinner #navInfo {
	float: right;
	position: relative;
}

.topheadinner a {
	font-family: 'CenturyGothicRegular';
	background: none;
	font-size: 13px;
	display: block;
	color: #403c3d;
	line-height: 28px;
	height: 34px;
	text-align: center;
	text-transform: uppercase;
	float: right !important;
	width: auto !important;
	padding: 0 7px;
}

.topheadinner #navHulp ul li a,
.topheadinner #navInfo ul li a {
	float: none !important;
	text-align: left;
}

.topheadinner ul.nav-content {
	border-bottom: 1px solid #a6aaa7;
	background: url(/img/bg-dropdown.png) no-repeat 0 0;
	list-style: none;
	padding: 25px 0 16px 0;
	margin: 0;
	position: absolute;
	left: 0;
	top: 23px;
	width: 135px;
	display: none;
}

.topheadinner #navHulp ul.nav-content {
	left: -36px;
}

.topheadinner ul.nav-content li a {
	line-height: 22px;
	height: auto !important;
	padding: 0 10px 0 15px;
	text-transform: none;
}

#headerbasket {
	background: #fff;
	padding-left: 20px;
	padding-right: 20px;
	text-align: right;
}

#basket_text {
	display: inline !important;
	text-align: center;
	width: auto!important;
	padding: 0;
}

#nav-contact {
	text-align: left !important;
}

#headerhelp {
	background: none !important;
	text-align: left !important;
}

#headeraccount {
	background: none;
	text-align: left !important;
}

#headerlogout,
#headerlogin {
	text-align: left;
}

.save-date {
	font-family: 'CenturyRegular';
	position: absolute;
	left: 0;
	top: 8px;
	color: #fff;
	font-size: 12px;
	margin: 0;
}

#account {
	background: none;
}

#nav-info {
	text-align: left !important;
}

#nav-home {
	background: none;
	text-align: left !important;
}

#basket_count {
	display: inline !important;
	color: #403c3d !important;
	padding: 0 5px;
}

#crumbs {
	position: absolute;
	left: -240px;
	top: -45px;
	color: #6b2d52;
	font-size: 12px;
}

#crumbs a {
	color: #da7e8e;
	font-size: 12px;
}

#crumbs span {
	padding: 0 2px;
}

#categories {
	width: 180px;
	margin: 0;
	padding: 0;
}

#pagecontent {
	position: relative;
	float: right;
	width: 720px;
	margin: 0;
	padding-right: 0;
	font-size: 14px;
	line-height: 21px;
	color: #797979;
	padding-left: 0;
}

#pagecontent h1 {
	color: #da7e8e;
	font-size: 20px;
	font-family: 'CenturyRegular';
	padding: 0 0 7px 0;
	border-bottom: 1px solid #e2e2e2;
	margin: 0 0 17px 0;
	text-transform: uppercase;
}

#pagecontent h2 {
	color: #da7e8e;
	font-size: 16px;
	text-transform: uppercase;
	font-family: 'CenturyRegular';
}

#pagecontent h4,
#pagecontent h5,
#pagecontent h6,
#pagecontent h3 {
	color: #da7e8e;
	font-size: 14px;
	text-transform: uppercase;
	font-family: 'CenturyRegular';
}

#design {
	background: url(/img/bg-design.png) no-repeat center bottom;
	height: 355px !important;
}

#knav {
	background: none;
	margin: 0 !important;
}

#next_page {
	background-image: url(/img/arrow_right.png) !important;
}

#next_page:hover {
	background-image: url(/img/arrow_right.png) !important;
}

#prev_page {
	background-image: url(/img/arrow_left.png) !important;
}

#prev_page:hover {
	background-image: url(/img/arrow_left.png) !important;
}

#card_previews_horizontal {
	height: 210px !important;
	padding-top: 14px;
	font-size: 0;
	width: 720px;
}

#card_previews_horizontal #inner {
	margin-left: -40px;
}

#card_previews_horizontal a {
	width: 180px !important;
}

#prev_page, #next_page {
	height: 210px !important;
}

#binnen_preview,
#voor_preview {
	text-align: left !important;
	padding-left: 86px;
}

#binnen_preview {
	padding-left: 0;
}

#voor_preview {
	background: url(/img/bg-voor_preview.png) no-repeat left bottom !important;
}

#choose_preview:visited,
#choose_preview:link {
	background: url(/img/bg-button-arrow.png) no-repeat right 0 !important;
	line-height: 39px;
	width: 148px;
	padding: 0 28px 0 15px;
	color: #fff !important;
	text-transform: uppercase;
	font-size: 14px;
	font-family: 'CenturyRegular';
	height: 39px;
	right: 15px !important;
	bottom: 41px !important;
}

#choose_preview:hover {
	background: url(/img/bg-button-arrow-o.png) no-repeat right 0 !important;
	text-decoration: none;
}

#choose_preview:active {
	background: url(/img/bg-button-arrow-a.png) no-repeat right 0 !important;
	text-decoration: none;
}

#design {
	margin-top: 13px !important;
}

#design .description {
	background: #f6f4f2;
	color: #403c3d;
	font-size: 14x;
	padding: 11px 16px 65px 16px;
	width: 190px !important;
	right: 0 !important;
	top: 13px !important;
	height: 234px;
}

.contactfrm input[type="submit"],
.button {
	background: #de8b99!important;
	line-height: 46px;
	width: auto;
	padding: 0 15px 0 15px;
	color: #fff !important;
	text-transform: uppercase;
	font-size: 14px;
	font-family: 'CenturyRegular';
	height: 45px !important;
	text-align: center;
}

.contactfrm input[type="submit"]:hover,
.button:active,
.button:hover {
	background-color: #c77d89 !important;
	text-decoration: none;
}

/*.button:active {
	-moz-box-shadow: -2px -2px 0 #bf6c82;
	-webkit-box-shadow: -2px -2px 0 #bf6c82;
	box-shadow: -2px -2px 0 #bf6c82;
}*/

#body_login #pagecontent input[type="password"],
#body_login #pagecontent input[type="text"] {
	border-left: 1px solid #b4b4b4;
	border-bottom: 1px solid #d3d3d3;
	border-right: 1px solid #d3d3d3;
	border-top: 1px solid #b4b4b4;
	padding: 8px 5px;
	color: #262626;
	font-size: 14px;
	-moz-box-shadow: inset 1px 2px 0 0 #d9d9d9;
	-webkit-box-shadow: inset 1px 2px 0 0 #d9d9d9;
	box-shadow: inset 1px 2px 0 0 #d9d9d9;
	width: 177px;
}

#body_login #pagecontent #registreer input[type="password"],
#body_login #pagecontent #registreer input[type="text"] {
	width: 155px;
}

#body_login #pagecontent input[type="submit"] {
	background: url(/img/bg-button-arrow.png) no-repeat right 0 !important;
	height: 39px !important;
	padding-right: 32px !important;
	line-height: 39px !important;
}

#body_login #pagecontent input[type="submit"]:hover {
	background: url(/img/bg-button-arrow-o.png) no-repeat right 0 !important;
}

#pw_recovery,
#registreer,
#login {
	border: none;
	background: #f6f4f2;
	width: 354px;
	padding: 0;
	margin: 0;
	height: auto;
	font-size: 14px;
	padding-bottom: 20px;
	padding-top: 17px;
	position: relative;
}

#body_login #pagecontent {
	padding-top: 25px;
}

#login {
	margin-bottom: 54px;
}

#registreer {
	float: right;
}

#pw_recovery {
	clear: inherit !important;
	float: left !important;
}

#body_login .align_bottom {
	position: inherit !important;
}

#body_login #registreer .align_bottom,
#body_login #login .align_bottom {
	margin-top: 8px;
}

#body_login #pw_recovery .align_bottom {
	margin-top: 12px;
}

#body_login #pagecontent h2 {
	margin: 0;
	height: 41px;
	color: #da7e8e !important;
	text-transform: uppercase;
	font-size: 16px;
	font-family: 'CenturyRegular';
	line-height: 41px;
	position: absolute;
	left: 0;
	top: -38px;
}

#body_login #pagecontent form {
	margin: 0 20px 0 20px;
}

#body_login #pagecontent form table {
	border-collapse: collapse;
	border-spacing: 0;
	border: none;
	width: 100%;
}

#body_login #pagecontent form table td {
	padding: 4px 0;
}

#body_login #pagecontent form table td.label {
	width: 137px;
	font-size: 13px;
}

#body_login #pagecontent form table td.field {
	text-align: right;
}

#body_login #pagecontent #registreer form table td.buttons {
	display: none;
}

#body_login .errormsg {
	margin: 0;
}

#pw_recovery p {
	margin: 0;
	font-size: 13px;
	padding: 0 20px 10px;
}

input#nieuwsbrief {
	margin-top: 11px;
}

#login_nieuwbrief {
	font-size: 12px;
	margin-top: 6px;
	width: 285px !important;
}

.paginator {
	clear: both;
	overflow: hidden;
	border-bottom: 1px solid #d3d3d3;
	border-top: 1px solid #d3d3d3;
	margin-top: 18px;
	margin-bottom: 12px;
	padding: 10px 0;
	position: relative;
}

.paginator a {
	display: block;
	float: left;
	width: 26px;
	height: 26px;
	color: #262626;
	font-size: 12px;
	text-align: center;
	line-height: 26px;
	margin: 0 6px 0 0;
}

.paginator a:hover {
	background: #f8c8d7;
	-webkit-border-radius: 13px;
	-moz-border-radius: 13px;
	border-radius: 13px;
	text-decoration: none;
}

.paginator a.paginatorinactive {
	background: #d28fa3;
	color: #fff;
	-webkit-border-radius: 13px;
	-moz-border-radius: 13px;
	border-radius: 13px;
}

.paginator .vorigeactive,
.paginator .volgendeinactive,
.paginator .vorigeactive,
.paginator .volgendeactive,
.paginator .vorigeinactive {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	background: #d28fa3;
	color: #fff;
	width: 110px;
	height: 26px;
	position: absolute;
	top: 10px;
}

.paginator .vorigeactive:hover,
.paginator .volgendeinactive:hover,
.paginator .vorigeactive:hover,
.paginator .volgendeactive:hover,
.paginator .vorigeinactive:hover {
	background-color: #c97d93;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	text-decoration: none;
}

.paginator .vorigeactive:active,
.paginator .volgendeinactive:active,
.paginator .vorigeactive:active,
.paginator .volgendeactive:active,
.paginator .vorigeinactive:active {
	background-color: #c97d93;
	-moz-box-shadow: inset 2px 2px #a94d65;
	-webkit-box-shadow: inset 2px 2px #a94d65;
	box-shadow: inset 2px 2px #a94d65;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.paginator .volgendeinactive,
.paginator .volgendeactive {
	right: 0;
}

.paginator .vorigeactive,
.paginator .vorigeinactive {
	right: 120px;
}

.paginator span {
	font-family: 'droidsans';
	font-size: 12px;
	float: right;
	padding-right: 206px;
}

.paginator span select {
	font-size: 12px;
	border: 1px solid #e3e3e3;
	height: 26px;
	width: 56px;
	padding: 3px;
	vertical-align: middle;
}

#body_account .button {
	font-size: 20px !important;
	height: 32px !important;
	line-height: 32px !important;
	margin-bottom: 10px !important;
	background-position: right -439px !important;
}

#babywrapperleft {
	margin-right: 0 !important;
}

#babywrapperright {
	float: right !important;
	width: 358px !important;
}

#tab-list {
	list-style: none;
	margin: 0;
	padding: 10px 0 10px 4px;
}

#tab-list li {
	float: left;
}

#tab-list li a {
	font-family: 'Pompiere';
	color: #262626;
	display: block;
	padding: 3px 10px;
}

#tab-list li a:hover {
	color: #c47b8f;
	text-decoration: none;
}

#tab-list .active a:hover,
#tab-list .active a {
	border: 1px solid #ddbec3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: #ddbec3;
	-moz-box-shadow: -2px -2px 0 2px #cfaea7;
	-webkit-box-shadow: -2px -2px 0 2px #cfaea7;
	box-shadow: -2px -2px 0 2px #cfaea7;
	color: #fff;
}

#lnav {
	background: url("/img/bg-line.png") repeat-y scroll 172px top transparent;
	width: 180px;
}

#lnav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#lnav ul li a {
	color: #262626;
	font-size: 18px;
	display: block;
	padding: 0 0 0 34px;
	height: 38px;
	line-height: 34px;
	text-transform: uppercase;
	font-family: 'Pompiere';
}

#lnav ul li .lnav-active:hover,
#lnav ul li .lnav-active {
	background: url(/img/bg-cat-hover.png) no-repeat 0 0 !important;
	color: #fff !important;
}

#lnav ul li a:hover {
	background: url(/img/icons.png) no-repeat 16px -237px;
	color: #c17e93;
	text-decoration: none;
}

#lnav ul li ul {
	display: none;
	padding-bottom: 15px;
}

#lnav ul li ul li {
	padding: 0 0 0 47px;
	line-height: 1.5;
	font-size: 16px !important;
}

#lnav ul li ul li a {
	font-family: 'OpenSansCondensedLight' !important;
	font-size: 16px;
	text-transform: none;
	padding: 0;
	height: auto;
	line-height: normal;
}

#lnav ul li ul li a:hover {
	background: none;
	color: #c17e93;
}

#sidebar {
	float: left;
	width: 181px;
	padding-top: 40px;
}

#content {
	float: right;
	width: 720px;
	padding-top: 23px;
}

.block {
	font-size: 14px;
	text-align: center;
	background: #f6f4f2;
	padding: 14px 10px 16px;
}

.block p {
	margin: 0;
	line-height: 1.6;
}

#sidebar .order {
	background: #fff1f6;
	padding: 4px;
	margin-bottom: 34px;
}

#sidebar .order p {
	border: 1px solid #f8dae1;
	margin: 0;
	padding: 11px 10px 13px;
	color: #da7e8e;
	text-align: center;
	font-size: 14px;
	font-family: 'CenturyRegular';
}

.cat-item h3 {
	font-family: 'CenturyRegular';
	font-size: 14px;
	color: #da7e8e;
	font-weight: normal;
	border-bottom: 1px solid #d9d8d8;
	text-transform: uppercase;
	margin: 0;
	padding-bottom: 5px;
}

.cat-item {
	padding-bottom: 26px;
}

.cat-item ul {
	list-style: none;
	margin: 0;
	padding: 11px 0 0 0;
}

.cat-item ul li {
	padding: 0 0 7px 0;
}

.cat-item ul li a {
	color: #403c3d;
	font-size: 14px;
}

.cat-item ul li a:hover {
	color: #de8b99;
	text-decoration: none;
}

.card-list {
	list-style: none;
	padding: 0;
	margin: -20px 0 20px 0;
}

.card-list li {
	float: left;
	font-size: 0;
	padding: 0 14px 0 14px;
}

.card-list li img {
	width: 152px !important;
	height: auto !important;
}

.block-list {
	list-style: none;
	margin: 6px 0 0 0;
	padding: 0;
}

.block-list li {
	float: left;
	width: 339px;
}

.block-list .right {
	padding-left: 42px;
}

.block-list li {
	cursor: pointer;
	padding-bottom: 24px;
}

.block-list li h2 {
	font-size: 14px !important;
	font-weight: normal;
	color: #da7e8e !important;
	font-family: 'CenturyRegular';
	text-transform: uppercase;
	margin: 0 !important;
	padding-bottom: 5px !important;
}

.block-list li .thumb {
	margin: 0;
	height: 147px;
	overflow: hidden;
}

.block-list li img {
	display: block;
	width: 339px;
}

.block-list li p {
	margin: 0;
	padding: 0 !important;
	font-size: 13px;
	color: #403c3d;
	min-height: 42px;
}

.block-list li a {
	font-size: 13px;
}

.block-list li div {
	background: #fff1f6;
	padding: 13px 17px 15px;
}

.section h2 {
	font-family: 'CenturyRegular';
	font-size: 14px !important;
	text-transform: uppercase;
	color: #da7e8e !important;
	border-bottom: 1px solid #d9d8d8;
	padding: 0 0 4px 0 !important;
	margin-bottom: 20px !important;
}

.section .section-inner {
	cursor: pointer;
}

.section .section-inner .thumb {
	float: left;
	margin: 0;
	height: 125px;
	overflow: hidden;
}

.section .section-inner .thumb img {
	width: 185px !important;
}

.section .section-inner div {
	float: right;
	padding-right: 20px;
	width: 494px;
}

.section .section-inner div h3 {
	font-size: 16px !important;
	font-weight: normal;
	margin: -4px 0 11px 0 !important;
	text-transform: none !important;
}

.section .section-inner div h3 a {
	color: #C17E93;
	font-family: 'CenturyRegular';
}

.section .section-inner div p {
	margin: 0;
	font-size: 13px;
}

.blockquote {
	border-top: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
	background: url(/img/blockquote.png) no-repeat 10px 21px;
	padding: 14px 20px 15px 54px;
	font-size: 18px;
	font-family: 'CenturyItalic';
	color: #a19d9d;
	line-height: 25px;
	margin: 35px 0 0 0;
}

.blockquote p {
	margin: 0;
}

.blockquote span {
	display: block;
	font-family: 'CenturyGothicRegular';
	font-size: 14px;
	padding-top: 5px;
}

#mainmenu {
	list-style: none;
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #d9d8d8;
}

#mainmenu li h3 {
	border-top: 1px solid #d9d8d8;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 14px;
	font-family: 'CenturyRegular';
	background: url(/img/ico-arrow-menu.gif) no-repeat right center;
	margin: 0;
}

#mainmenu li h3 a {
	color: #d18091;
	display: block;
	line-height: 26px;
	padding: 7px 0;
}

#mainmenu li h3 a:hover {
	color: #c6616f;
	text-decoration: none;
}

#mainmenu li h3.open {
	background: url(/img/ico-arrow-menu-a.gif) no-repeat right center;
}

#mainmenu li ul {
	list-style: none;
	padding: 2px 0 2px 0;
	margin: 0;
	display: none;
}

#mainmenu li ul li {
	padding: 0 0 9px 0;
}

#mainmenu li ul li a {
	color: #403c3d;
	font-family: 'CenturyGothicRegular';
	font-size: 14px;
}

#mainmenu li ul .active a,
#mainmenu li ul li a:hover {
	color: #da7e8e;
	text-decoration: none;
}

#body_main_category #pagecontent p {
	color: #6e6e6e;
	line-height: 23px;
	margin: 0 0 15px 0;
}

.main-img {
	display: none;
}

#main-img {
	margin-bottom: 20px;
	display: block;
}

#verzend_form a,
#card_previews a {
	display: inline-block !important;
}

.eigen_trash_icon:hover,
.eigen_trash_icon {
	margin-left: -20px;
	margin-top: 101px;
}

#verzend_form div {
	float: none !important;
}

.namecard {
	display: inline;
}

#card_previews img {
	width: 175px;
}

#card_previews a:hover {
	text-decoration: none;
}

.contactfrm input[type="text"] {
	border: 1px solid #D3D3D3;
    box-shadow: 1px 1px 2px 0 #D9D9D9 inset;
    padding: 8px 10px;
    width: 394px;
}

textarea {
    border: 1px solid #D3D3D3;
    height: 92px;
    overflow: auto;
    padding: 8px 10px;
    resize: none;
}

.contactfrm textarea {
	border: 1px solid #D3D3D3;
    box-shadow: 1px 1px 2px 0 #D9D9D9 inset;
    height: 92px;
    overflow: auto;
    padding: 8px 10px;
    resize: none;
	width: 394px;
}

.contactfrm {
    padding: 30px 0 0;
}

.contactfrm ul li {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    clear: both;
    padding: 0 0 10px;
}

.contactfrm .error input[type="text"], .contactfrm .error textarea {
    border-color: #FF0000;
}

.contactfrm .error span {
    background: url("/img/bg-error.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #FFFFFF;
    display: inline-block;
    font-size: 12px;
    height: 23px;
    line-height: 23px;
    margin-left: 3px;
    padding: 0 10px;
}

.contactfrm ul li label {
    display: block;
    float: left;
    line-height: 34px;
    padding: 0 10px 0 0;
    width: 128px;
}

.contactfrm ul {
	list-style: none !important;
    padding: 0;
	margin: 0 !important;
}

.contactfrm ul li label em {
    font-style: normal;
}

.contactfrm ul li p {
    float: left;
    margin: 0;
    padding: 0;
}

.contactfrm .submit {
    clear: both;
    margin: 0;
    padding: 0 165px 0 0 !important;
	overflow: hidden;
}

.contactfrm input[type="submit"] {
	border: none;
	cursor: pointer;
	float: right;
}

.top-content {
	margin-bottom: 20px;
}


/* carousel */
.descript {
	padding-top: 25px;
}
.carousel-holder{
	width:100%;
	margin:0 auto 0;
	padding-bottom: 22px;
	border-bottom: 1px solid #e2e2e2;
}
.carousel-holder img{
	display:block;
	border-style:none;
}
.carousel-holder .box{
	margin: 0;
	padding: 0;
}
.carousel{
	overflow:hidden;
	width:100%;
}
.carousel .holder{
	overflow:hidden;
	position:relative;
	float:left;
	display:inline;
}
.carousel .holder ul{
	position:relative;
	width:9999px;
	padding:0 !important;
	margin:0;
	list-style:none;
}
.carousel .holder li{
	float:left;
	width:84px;
	padding:0 20px;
}
.carousel .holder a{
	display:block;
	outline:none;
}
.carousel .holder .active a{
}
.carousel-holder .large-img{
	padding:0 !important;
	list-style:none;
	position:relative;
}
.carousel-holder .large-img li{
	position:absolute;
	z-index: 1;
}
.carousel-holder .large-img li.active {
	z-index: 2;
}
.carousel .link-prev, .carousel .link-next{
	float:left;
	width:35px;
	height:34px;
	outline:none;
	text-indent:-9999px;
	overflow:hidden;
	background:url(/img/gallery/carousel-controls.png) no-repeat 0 0;
	margin: 25px 0 0 0;
}
.carousel .link-prev:hover{}
.carousel .link-next{
	float:right;
	background-position:0 -43px;
}
.carousel .link-next:hover{}
.style-2 .carousel .holder{
	width:620px;
	margin: 0 0 0 14px;
}
.carousel-holder .style-2{
	height:645px;
}
.carousel-holder .style-2 .large-img {
	margin:0 0 25px 0;
	width:720px;
	height:535px;
}

.carousel-holder .style-2 .large-img img {
	float: left;
}

.carousel-holder .controls{
	width:318px;
	margin:0 0 9px 50px;
	height:23px;
}
.carousel-holder .controls .link-prev, .carousel-holder .controls .link-next{
	float:left;
	width:24px;
	height:23px;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../img/carousel-controls.jpg) no-repeat 0 -64px;
	outline:none;
}
.carousel-holder .controls .link-prev:hover{background-position:0 -87px;}
.carousel-holder .controls .link-next{
	float:right;
	background:url(../img/carousel-controls.jpg) no-repeat -24px -64px;
}
.carousel-holder .controls .link-next:hover{background-position:-24px -87px;}
.carousel-holder .line{
	width:252px;
	float:left;
	height:23px;
	margin:0 0 0 8px;
	display:inline;
	text-align:center;
	position:relative;
	font-size:14px;
	color: #FFF;
}
.carousel-holder .line a{
	position:absolute;
	width:24px;
	height:23px;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../img/carousel-controls.jpg) no-repeat -48px -64px;
	top:0;
	left:0;
	outline:none;
	cursor:pointer!important;
}
.carousel-holder .paused .line a,
.carousel-holder .line a:hover{background-position:-48px -87px;}

#body_account_settings #pagecontent br {
	display: none;
}

#body_account_settings #pagecontent .button {
	float: none !important;
	display: block;
	margin-bottom: 10px;
	width: 190px;
	text-align: left;
}

#footer-inner {
	border-bottom: 1px solid #e2e2e2;
	border-top: 1px solid #e2e2e2;
}

#footer-inner .f-left {
	padding-top: 10px;
	padding-left: 33px;
}

#footer-inner .f-right .feedback {
	font-size: 13px;
	font-family: 'CenturyGothicRegular';
	color: #403c3d;
	line-height: 1.4;
	padding-left: 10px;
	padding-top: 16px;
	padding-bottom: 5px;
	height: 110px !important;
	clear: both;
}

#footer-inner .f-right .feedback div p {
	float: left;
	margin: 0;
	width: 135px;
}

#footer-inner .f-right .feedback div p.image {
	margin-top: -48px;
}

#footer-inner .f-right .feedback div p.text {
	background: url(/img/feedback.png) no-repeat 0 6px;
	float: right;
	width: 631px;
	padding-left: 35px;
}

#footer-inner .f-right .feedback span {
	display: block;
	padding-top: 8px;
	color: #c5879a;
	font-size: 12px;
	font-style: normal;
}



/*
-----------------------------------------------------------------
Clearfix
-----------------------------------------------------------------
*/
#footer-inner .f-left .feedback,
.contactfrm ul li,
.section .section-inner,
.block-list,
.card-list,
#tab-list,
.mm-item-content,
.megamenu li,
.megamenu,
#slides ul,
#body_home .item ul,
#footer-inner,
#footer-inner ul,
.clearfix {
	zoom: 1;
}

#footer-inner .f-left .feedback:after,
.contactfrm ul li:after,
.section .section-inner:after,
.block-list:after,
.card-list:after,
.clearfix:after,
#tab-list:after,
.mm-item-content:after,
.megamenu li:after,
.megamenu:after,
#slides ul:after,
#body_home .item ul:after,
#footer-inner:after,
#footer-inner ul:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}