<div id="template-sidebar">
    <div class="visual">
        <div class="container">
            <div class="cols visual-content">
                <div class="md-2 visual-content-left"><img class="img-responsive img-center visual-bottom" src="https://hippe-geboortekaartjes.nl/img/home/img-card-left.png" /></div>

                <div class="md-8 text-center">
                    <h1>De hipste geboortekaartjes maak je hier!</h1>

                    <p>Bij Hippe Geboortekaartjes vind je de hipste geboortekaartjes voor jongens, meisjes, tweelingen en adoptie. Op basis van een design van een bekende ontwerper maak je online het hipste kaartje zelf! Bestel een echte proefdruk voor slechts &euro;1 (gratis verzending).</p>
                    <a class="button button-xlg button-primary" href="">Bekijk de nieuwe kaartjes</a></div>

                <div class="md-2 visual-content-right"><img class="img-responsive img-center visual-bottom" src="https://hippe-geboortekaartjes.nl/img/home/img-card-right.png" /></div>
            </div>
        </div>
    </div>
    <div class="cols cols-multi">
        <div class="xs-12 xsm-6 sm-6 md-4 lg-4">
            <div class="thumbnail-slider">
                <div class="thumbnail-slider-top"><img alt="schattige meisjes geboortekaartjes" class="img-responsive img-center" src="/img/blue.png" /></div>

                <div class="thumbnail-slider-left"><a href="#"><i class="icon icon-arrow-left icon-x2">&nbsp;</i></a></div>

                <div class="thumbnail-slider-middle">
                    <img alt="schattige meisjes geboortekaartjes" class="img-responsive img-center" src="/img/home/war-luuk.png" /> 
                    <img alt="schattige meisjes geboortekaartjes" class="img-responsive img-center" src="/img/home/mam-david.png" />
                </div>

                <div class="thumbnail-slider-right"><a href="#"><i class="icon icon-arrow-right icon-x2">&nbsp;</i></a></div>

                <div class="thumbnail-slider-bottom">
                    <div class="button-group button-group-justified">
                        <a class="button button-info button-lg" href="/geboortekaartjes-jongen">Jongen</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="xs-12 xsm-6 sm-6 md-4 lg-4">
            <div class="thumbnail-slider">
                <div class="thumbnail-slider-top"><img alt="schattige meisjes geboortekaartjes" class="img-responsive img-center" src="/img/red.png" /></div>

                <div class="thumbnail-slider-left"><a href="#"><i class="icon icon-arrow-left icon-x2">&nbsp;</i></a></div>

                <div class="thumbnail-slider-middle">
                    <img alt="schattige meisjes geboortekaartjes" class="img-responsive img-center" src="/img/home/lm-nola.png" /> 
                    <img alt="schattige meisjes geboortekaartjes" class="img-responsive img-center" src="/img/home/lovz-aniek.png" />
                </div>

                <div class="thumbnail-slider-right"><a href="#"><i class="icon icon-arrow-right icon-x2">&nbsp;</i></a></div>

                <div class="thumbnail-slider-bottom">
                    <div class="button-group button-group-justified"><a class="button button-success button-lg" href="/geboortekaartjes-meisje">Meisje</a></div>
                </div>
            </div>
        </div>
        <div class="xs-12 xsm-6 sm-6 md-4 lg-4">
            <div class="thumbnail-slider">
                <div class="thumbnail-slider-top"><img alt="schattige meisjes geboortekaartjes" class="img-responsive img-center" src="/img/green.png" /></div>

                <div class="thumbnail-slider-left"><a href="#"><i class="icon icon-arrow-left icon-x2">&nbsp;</i></a></div>

                <div class="thumbnail-slider-middle">
                    <img alt="schattige meisjes geboortekaartjes" class="img-responsive img-center" src="/img/home/blanco.png" /> 
                </div>

                <div class="thumbnail-slider-right"><a href="#"><i class="icon icon-arrow-right icon-x2">&nbsp;</i></a></div>

                <div class="thumbnail-slider-bottom">
                    <div class="button-group button-group-justified"><a class="button button-success button-lg" href="#">Kaartjes</a></div>
                </div>
            </div>
        </div>
    </div>
    <h2 class="text-center">Geboortekaartjes in verschillende stijlen</h2>
    <div class="cols cols-multi">
        <div class="xs-12 xsm-6 sm-3 md-3 lg-3">
            <div class="thumbnail" onclick="location.href = '/choose_card/blanco-geboortekaartje-staand';">
                <img class="img-responsive img-center" src="/img/home/cord-niene.jpg" />
                <div class="thumbnail-footer text-center">
                    <h3>Lief</h3>
                </div>
            </div>
        </div>
        <div class="xs-12 xsm-6 sm-3 md-3 lg-3">
            <div class="thumbnail" onclick="location.href = '/choose_card/blanco-geboortekaartje-staand';">
                <img class="img-responsive img-center" src="/img/home/luckz-daan.jpg" />
                <div class="thumbnail-footer text-center">
                    <h3>Origineel</h3>
                </div>
            </div>
        </div>
        <div class="xs-12 xsm-6 sm-3 md-3 lg-3">
            <div class="thumbnail" onclick="location.href = '/choose_card/blanco-geboortekaartje-staand';">
                <img class="img-responsive img-center" src="/img/home/hkk-duende.jpg" />
                <div class="thumbnail-footer text-center">
                    <h3>Romantisch</h3>
                </div>
            </div>
        </div>
        <div class="xs-12 xsm-6 sm-3 md-3 lg-3">
            <div class="thumbnail" onclick="location.href = '/choose_card/blanco-geboortekaartje-staand';">
                <img class="img-responsive img-center" src="/img/home/fie-tijn.jpg" />
                <div class="thumbnail-footer text-center">
                    <h3>Stoer</h3>
                </div>
            </div>
        </div>
        <div class="xs-12 xsm-6 sm-3 md-3 lg-3">
            <div class="thumbnail" onclick="location.href = '/choose_card/blanco-geboortekaartje-staand';">
                <img class="img-responsive img-center" src="/img/home/hid-juulke.jpg" />
                <div class="thumbnail-footer text-center">
                    <h3>Vintage</h3>
                </div>
            </div>
        </div>
        <div class="xs-12 xsm-6 sm-3 md-3 lg-3">
            <div class="thumbnail" onclick="location.href = '/choose_card/blanco-geboortekaartje-staand';">
                <img class="img-responsive img-center" src="/img/home/hid-alec.jpg" />
                <div class="thumbnail-footer text-center">
                    <h3>Vrolijk</h3>
                </div>
            </div>
        </div>
        <div class="xs-12 xsm-6 sm-3 md-3 lg-3">
            <div class="thumbnail" onclick="location.href = '/choose_card/blanco-geboortekaartje-staand';">
                <img class="img-responsive img-center" src="/img/home/zus-marja.jpg" />
                <div class="thumbnail-footer text-center">
                    <h3>Modern</h3>
                </div>
            </div>
        </div>
        <div class="xs-12 xsm-6 sm-3 md-3 lg-3">
            <div class="thumbnail" onclick="location.href = '/choose_card/blanco-geboortekaartje-staand';">
                <img class="img-responsive img-center" src="/img/home/scc-neo.jpg" />
                <div class="thumbnail-footer text-center">
                    <h3>Typografie</h3>
                </div>
            </div>
        </div>
    </div>
    <h2 class="text-center">Onze goede doelen geboortekaartjes</h2>
    <p class="text-left">Als Hippe Geboortekaartjes dragen we goede doelen die opkomen voor kinderen en mama's een warm hart toe. Als je een ontwerp uit één van deze collecties kiest dan gaat er voor elk kaartje wat je bestelt een bijdrage naar het goede doel. Je kunt kiezen uit de lieve trendy kaartjes van Compassion, de stijlvolle klassieke collectie van War Child, de stoere en hippe geboortekaarten van Kinderfonds MAMA'S of de vrolijke en sierlijke collectie geboortekaartjes van Cordaid Memisa.</p>
    <div class="cols cols-multi">
        <div class="xs-12 xsm-6 sm-3 md-3 lg-3">
            <div class="thumbnail" onclick="location.href = '/choose_card/blanco-geboortekaartje-staand';">
                <img class="img-responsive img-center" src="/img/home/compassion-elle.jpg" />
                <div class="thumbnail-footer text-center">
                    <h3>Compassion</h3>
                </div>
            </div>
        </div>
        <div class="xs-12 xsm-6 sm-3 md-3 lg-3">
            <div class="thumbnail" onclick="location.href = '/choose_card/blanco-geboortekaartje-staand';">
                <img class="img-responsive img-center" src="/img/home/war-anna.jpg" />
                <div class="thumbnail-footer text-center">
                    <h3>War Child</h3>
                </div>
            </div>
        </div>
        <div class="xs-12 xsm-6 sm-3 md-3 lg-3">
            <div class="thumbnail" onclick="location.href = '/choose_card/blanco-geboortekaartje-staand';">
                <img class="img-responsive img-center" src="/img/home/km-milan.jpg" />
                <div class="thumbnail-footer text-center">
                    <h3>Kinderfonds MAMAS</h3>
                </div>
            </div>
        </div>
        <div class="xs-12 xsm-6 sm-3 md-3 lg-3">
            <div class="thumbnail" onclick="location.href = '/choose_card/blanco-geboortekaartje-staand';">
                <img class="img-responsive img-center" src="/img/cord-sophia.jpg" />
                <div class="thumbnail-footer text-center">
                    <h3>Cordaid Memisa</h3>
                </div>
            </div>
        </div>
    </div>
    <p class="text-danger text-center">Of ga naar alle geboortekaartjes uit onze goede doelen collecties.</p>
    <h2 class="text-center">Onze goede doelen geboortekaartjes</h2>
    <p class="text-left">Bij Hippe Geboortekaartjes kun je vanzelfsprekend een geboortekaartje vinden op thema of stijl. Kies het ontwerp dat je leuk vindt en pas het kaartje aan naar je eigen wensen. Stoer, origineel, retro, lief...of een leuk patroon met ruitjes, hartjes, stippen. Natuurlijk vind je ook kaartjes met dieren zoals uiltjes, vogels, herten of een ooievaar. Kortom, voor elke stijl is er wel een hip kaartje:</p>
    <div class="cols cols-multi">
        <div class="xs-12 xsm-6 sm-3 md-3 lg-3">
            <div class="thumbnail" onclick="location.href = '/choose_card/blanco-geboortekaartje-staand';">
                <img class="img-responsive img-center" src="/img/home/hid-benjamin.jpg" />
                <div class="thumbnail-footer text-center">
                    <h3>Hipdesign</h3>
                </div>
            </div>
        </div>
        <div class="xs-12 xsm-6 sm-3 md-3 lg-3">
            <div class="thumbnail" onclick="location.href = '/choose_card/blanco-geboortekaartje-staand';">
                <img class="img-responsive img-center" src="/img/home/fie-mila.jpg" />
                <div class="thumbnail-footer text-center">
                    <h3>Fientje&Co</h3>
                </div>
            </div>
        </div>
        <div class="xs-12 xsm-6 sm-3 md-3 lg-3">
            <div class="thumbnail" onclick="location.href = '/choose_card/blanco-geboortekaartje-staand';">
                <img class="img-responsive img-center" src="/img/home/zus-jesse.jpg" />
                <div class="thumbnail-footer text-center">
                    <h3>Zus&Ik</h3>
                </div>
            </div>
        </div>
        <div class="xs-12 xsm-6 sm-3 md-3 lg-3">
            <div class="thumbnail" onclick="location.href = '/choose_card/blanco-geboortekaartje-staand';">
                <img class="img-responsive img-center" src="/img/home/jille-nina.jpg" />
                <div class="thumbnail-footer text-center">
                    <h3>Jille Jille</h3>
                </div>
            </div>
        </div>
        <div class="xs-12 xsm-6 sm-3 md-3 lg-3">
            <div class="thumbnail" onclick="location.href = '/choose_card/blanco-geboortekaartje-staand';">
                <img class="img-responsive img-center" src="/img/home/lovz-anna.jpg" />
                <div class="thumbnail-footer text-center">
                    <h3>LOVZ</h3>
                </div>
            </div>
        </div>
        <div class="xs-12 xsm-6 sm-3 md-3 lg-3">
            <div class="thumbnail" onclick="location.href = '/choose_card/blanco-geboortekaartje-staand';">
                <img class="img-responsive img-center" src="/img/home/hkk-milan.jpg" />
                <div class="thumbnail-footer text-center">
                    <h3>Hippe Kip&Koter</h3>
                </div>
            </div>
        </div>
        <div class="xs-12 xsm-6 sm-3 md-3 lg-3">
            <div class="thumbnail" onclick="location.href = '/choose_card/blanco-geboortekaartje-staand';">
                <img class="img-responsive img-center" src="/img/home/scc-julie.jpg" />
                <div class="thumbnail-footer text-center">
                    <h3>Skip&Coco</h3>
                </div>
            </div>
        </div>
        <div class="xs-12 xsm-6 sm-3 md-3 lg-3">
            <div class="thumbnail" onclick="location.href = '/choose_card/blanco-geboortekaartje-staand';">
                <img class="img-responsive img-center" src="/img/home/anet-jonas.jpg" />
                <div class="thumbnail-footer text-center">
                    <h3>Anet Illustraties</h3>
                </div>
            </div>
        </div>
        <div class="xs-12 xsm-6 sm-3 md-3 lg-3">
            <div class="thumbnail" onclick="location.href = '/choose_card/blanco-geboortekaartje-staand';">
                <img class="img-responsive img-center" src="/img/home/litfai-daan.jpg" />
                <div class="thumbnail-footer text-center">
                    <h3>Little Fairytales</h3>
                </div>
            </div>
        </div>
        <div class="xs-12 xsm-6 sm-3 md-3 lg-3">
            <div class="thumbnail" onclick="location.href = '/choose_card/blanco-geboortekaartje-staand';">
                <img class="img-responsive img-center" src="/img/home/creag-julie.jpg" />
                <div class="thumbnail-footer text-center">
                    <h3>Creagaat</h3>
                </div>
            </div>
        </div>
        <div class="xs-12 xsm-6 sm-3 md-3 lg-3">
            <div class="thumbnail" onclick="location.href = '/choose_card/blanco-geboortekaartje-staand';">
                <img class="img-responsive img-center" src="/img/home/mars-daniel.jpg" />
                <div class="thumbnail-footer text-center">
                    <h3>Marsanda</h3>
                </div>
            </div>
        </div>
        <div class="xs-12 xsm-6 sm-3 md-3 lg-3">
            <div class="thumbnail" onclick="location.href = '/choose_card/blanco-geboortekaartje-staand';">
                <img class="img-responsive img-center" src="/img/home/bjp-gijsje.jpg" />
                <div class="thumbnail-footer text-center">
                    <h3>Boefjespost</h3>
                </div>
            </div>
        </div>
    </div>
</div>