/** PAGES - HOME ----------------------------------------------- **/

#body_home {

}

@media only screen and (min-width: 768px) {
    #body_home {
    }
}


@media only screen and (min-width: 992px) {}


@media only screen and (min-width: 1200px) {}