/** BLOCK - BUTTON **/

.button {}

.button-content {
    text-align: center;

}

.button-primary {
    background-color: #beb0a7;
    border-color: #beb0a7;
    color: #fff;
}


.button-lg {
    position: relative;
    border-radius: 2px; 
    font-size: 16px !important;
    font-weight: 400; 
    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 3px;
        width: auto;
        height: auto;
        border: 1px solid #fff;
        border-radius: 2px;
    }
}

.button-block {
    a {
        background-color: #beb0a7;
        border: #beb0a7 1px solid;
        color: #fff;
    }
    a:hover {
        color: #565354;
        background-color: #fff;
    }
}