/** BLOCK - FOOTER **/

#footer {
    .footer-header {
        box-size: border-box;
        width: 100%;
        background: #fff;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        padding: 20px 15px;
        font-size: 18px;
        font-weight: bold;
        .footer-header-shopping,
        .footer-header-payment,
        .footer-header-delivery {
            text-align: center;
            img {
                height: 30px;
                vertical-align: middle;
            }
        }
        .footer-header-payment,
        .footer-header-delivery {
            margin-top: 30px;
        }
    }
    .footer-body {
        background-color: #f7f6f5;
        padding: 30px 15px;
        width: 100%;
    }
    .footer-body-social h3 {
        display: inline-block;
    }
    .footer-body-social .fb,
    .footer-body-social .pt,
    .footer-body-social .tt,
    .footer-body-social .ig {
        display: inline-block;
    }
    .footer-body-social .fb a,
    .footer-body-social .pt a,
    .footer-body-social .tt a,
    .footer-body-social .ig a {
        width: 35px;
        height: 35px;
        border-radius: 20px;
        background-image: none;
        display: inline-block;
        text-indent: 0;
        margin-right: 0px;
    }
    .footer-body-social .fb a {
        background-color: #beb0a7;
    }
    .footer-body-social .pt a {
        background-color: #beb0a7;
    }
    .footer-body-social .tt a {
        background-color: #beb0a7;
    }
    .footer-body-social .ig a {
        background-color: #beb0a7;
    }
    .footer-body-social .fb a:after,
    .footer-body-social .pt a:after,
    .footer-body-social .tt a:after,
    .footer-body-social .ig a:after {
        color: #fff;
        font-family: kcicons;
        font-size: 22px;
        display: inline-block;
        margin-left: 4px;
        margin-top: 15px;
        line-height: 1.3;
    }
    .footer-body-social .fb a:after,
    .footer-body-social .pt a:after,
    .footer-body-social .tt a:after {
        margin-left: 2px;
        margin-top: 5px;
    }
        .footer-body-social .ig a:after {
        margin-left: 3px;
        margin-top: 4px;
    }

    .footer-body-social .fb a:after {
        content: "\e016";
    }
    .footer-body-social .pt a:after {
        content: "\e015";
    }
    .footer-body-social .tt a:after {
        content: "\e017";
    }
    .footer-body-social .ig a:after {
        content: "\e019";
    }
}

@media screen and (min-width:992px) {
    #footer {
        .footer-header {
            .footer-header-payment,
            .footer-header-delivery {
                margin-top: 0px;
            }
        }
    }
}

@media screen and (min-width:992px) {

    #footer {
        .footer-header {
            .footer-header-shopping,
            .footer-header-payment,
            .footer-header-delivery {
                br {
                    display: none;
                }
            }
        }
    }
}

@media screen and (min-width:1200px) {

    #footer {
        .footer-header {
            padding: 20px 0px;
        }
    }
}