/** BLOCK - NAVBAR **/

.dinges {
    background: url(/img/stijlvolle-trouwkaarten-logo.svg) top center no-repeat #fff;
    background-size: 100%;
}


.navbar {

    .topbar {
        background: #fff;
        height: 100px;
        a.logo {
            position: absolute;
            left: 0;
            top: 42px;
            width: 100%;
            text-align: center;
            display: inline-block;
        }
        .topbar-basket-mob {
            padding: 3px 0px;
            i {
                font-size: 18px;
                color: #ad9b8f;
            }
        }
        .topbar-menu-right {
            display: inline-block;
            float: right;
            margin-right: 42px;
            >ul>li {
                line-height: 26px;
                &.contact,
                &.blog,
                &.basket,
                &.prices {
                    display: none;
                }
                >a {
                    padding: 1px 5px;
                    &:after {
                        display: none
                    }
                }
            }
            >ul>li.dropdown ul.dropdown-content {
                position: fixed;
                left: 0px;
                right: 0px;
                top: 36px;
            }
        }
    }
    .middlebar {
        height: 0px;
        .navbar-search-field {
            display: none;
        }
    }

    .collapse {
        top: 35px;
    }
}




.navbar .navbar-hamburger {
    position: relative;
    display: block;
    cursor: pointer;
    float: left;
    width: 38px;
    margin: 0;
    padding: 3px 7px 6px;
    background-color: #beb0a7;
    background-image: none;
    border: 1px solid transparent;
    border-color: transparent;
    z-index: 0
}

.navbar .navbar-hamburger .icon-bar {
    display: block;
    margin-top: 4px;
    width: 22px;
    height: 3px;
    border-radius: 0;
    background-color: #fff
}





@media only screen and (min-width: 992px) {
    // .navbar .topbar .topbar-menu-right>ul>li a:hover,
    // .navbar .topbar .topbar-menu-right>ul>li a:active {
    //     color: #565354;
    // }
    .navbar.navbar-default-a {
        height: 175px;
        .collapse {
            top: 0px;
        }

        .topbar {
            height: 120px;
            a.logo img {
                width: 200px;
                max-width: initial;
                max-height: initial;
            }

            .navbar-hamburger {
                display: none;
            }
            .topbar-menu-right {
                display: block;
                right: 0px;
                >ul>li {
                    &.contact,
                    &.blog,
                    &.basket,
                    &.prices {
                        display: inline-block;
                    }
                }
                >ul>li {
                    &.info,
                    &.account {
                        a {
                            &:after {
                                margin-left: 0px;
                                display: inline-block;
                            }
                            >i {
                                display: none;
                            }
                        }
                    }
                }
                >ul>li a:hover,
                >ul>li a:active {
                    color: #ad9b8f;
                }
                >ul>li ul a:hover,
                >ul>li ul a:active {
                    background-color: #ad9b8f;
                }
                >ul>li ul a {
                    background-color: #efebe8;
                }
                >ul>li.dropdown ul.dropdown-content {
                    position: absolute;
                    top: 35px;
                    left: auto;
                    box-shadow: none;
                }
            }
            .topbar-menu-left {
                display: block;
                a {
                    display: inline-block;
                    padding: 0 15px;
                    margin: 5px 0;
                    height: 100%;
                }
            }
        }
        .middlebar {
            display: block;
            height: 42px;
            top: 133px;
            border-top: 1px solid #e2dad7;
            border-bottom: 1px solid #e2dad7;
            a.logo {
                display: none;
            }
            ul.middlebar-menu-right {
                right: 50%;
                height: 40px;
                white-space: nowrap;
                transform: translate(50%);
                >li a {
                    padding: calc(20px - 0.5em) 15px;
                    text-transform: uppercase;
                    &:hover, &.current-page {
                        color: #ad9b8f;
                    }
                }
            }
            ul.middlebar-menu-left .dropdown>ul,
            ul.middlebar-menu-right .dropdown>ul {
                margin-top: 40px;
                background-color: #efebe8;
                min-width: 100%;
                li {
                    display: block;
                    font-size: 0.9em;
                    a {
                        text-transform: initial;
                        &:hover {
                            color: #fff;
                        }
                    }
                }
            }
            .navbar-search-field {
                display: none;
                position: absolute;
                top: 0px;
                right: 10px;
                left: auto;
                height: 40px;
                width: 220px;
                z-index: 89;
                width: 192px;
                z-index: 89;
                padding: 5px 10px;
                background-color: #efebe8;
                .search-input-field input[type="text"] {
                    height: 30px;
                    right: 30px;
                    width: 156px;
                }
                .search-button-field {
                    margin: 0px 0;
                    height: 26px;
                }
            }
            .open-navbar-search {
                display: block;
                position: absolute;
                top: 0;
                right: 15px;
                height: 40px;
                width: 30px;
                z-index: 99;
                background-color: #ffffff;
                padding-top: 7px;
                text-align: center;
            }
        }
    }
    .navbar .topbar .topbar-menu-right>ul>li.dropdown.active a,
    .navbar .topbar .topbar-menu-right>ul>li.dropdown.active a:active {
        background-color: #efebe8;
    }
    .navbar .topbar .topbar-menu-right>ul>li.dropdown.active a:hover {
        background-color: #ad9b8f;
        color: #fff;
    }
    .navbar .topbar .topbar-menu-right>ul>li>a:after,
    .navbar .topbar .topbar-menu-right>ul>li>a>i {
        font-size: 18px;
    }

    .navbar .collapse {
        height: 100%;
    }

    .navbar .topbar .topbar-menu-right>ul>li>a:after,
    .navbar .topbar .topbar-menu-right>ul>li>a>i {
        font-size: 12px;
    }
}