/** BLOCK - THUMBNAIL **/

.thumbnail {
    box-shadow: 0 2px 1px #d5d5d5;
    .thumbnail-footer {
        padding: 12px 0;
        p {
            margin-bottom: 0px;
        }
    }
    &:hover {
        .thumbnail-footer {
            p {
                color: #beb0a7;
            }
        }
    }
}