/** BLOCK - VISUAL **/

.visual {
    text-align: center;
    min-height: 346px;
    background-image: url(/img/banner-stijlvolle-tablet-2016.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-color: #fff;
    background-size: cover;
    position: relative;
    display: block;
    overflow: hidden;
    h1 {
        font-size: 20px;
        margin-top: 0;
        padding-bottom: 0!important;
        font-style: italic;
        text-transform: none
    }
    p {
        line-height: 24px;
        font-size: 14px;
        margin-top: 16px;
        color: #000;
        margin-bottom: 9px
    }
    .wrap-button {
        font-size: 30px;
        font-family: droid_serifregular;
        color: #dcb0b4;
        text-align: center;
        margin-top: 25px;
        .button {
            margin-left: 15px;
            margin-right: 15px;
            font-size: 20px;
            padding: 0 30px;
            line-height: 1.28
        }
    }
}


@media screen and (min-width:768px) {
    .visual.visual-fullwidth {
        margin-top: 110px;
        h1 {
            font-size: 26px;
        }
    }
}

@media screen and (min-width:992px) {
    .visual.visual-fullwidth {
        margin-top: 0px;
        text-align: center;
        min-height: 345px;
        background: url("/img/banner-trouwkaarten-blauw.jpg") bottom center/cover no-repeat #fff;
        .wrap-button {
            .button {
                font-size: 20px;
            }
        }
        h1 {
            font-size: 29px;
            margin-top: 0;
            padding-bottom: 0!important;
            font-style: italic;
            text-transform: none;
            p {
                line-height: 24px;
                font-size: 18px;
                margin-top: 12px;
                color: #fff;
                margin-bottom: 34px;
            }
        }
    }
}