/** BUTTON - WIDGET-MENU **/


/* WIDGET MENU ------------------------------------------------------------------------------------------------------ */

#sidebar {
    > .sidebar_widget > h3 {
        display: none;
    }
    .list.list-vertical {
        margin-bottom: 0px;
        >li {
            transition: max-height 0.5s;
            max-height: 55px;
            overflow: hidden;
            &:last-child {
                border-bottom: 1px solid #dde5e5;
            }
            >a {
                display: block;
                color: #565354;
                text-transform: uppercase;
                position: relative;
                font-size: 16px;
                font-family: garamond;
                margin: 0;
                border-top: 1px solid #dde5e5;
                padding: 15px 0 12px 0;
                &:after {
                    font-family: kcicons;
                    float: right;
                    content: '\e008';
                    color: #565354;
                    font-size: 12px;
                    transition: all 0.2s;
                }
                &:hover {
                    text-decoration: none;
                }
            }
            >ul {
                border-left: none;
                padding-left: 0px;
                margin-left: 0px;
            }
            &.active {
                >a:after {
                    transform: rotate(90deg);
                }
                >ul {
                    max-height: 1000px;
                }
            }
        }
    }
    .list li ul li {
        &:last-child {
            padding-bottom: 15px;
        }
        a {
            color: #565354;
            padding: 2px 0 2px 10px;
            &:hover,
            &.current-page {
                color: #beb0a7;
            }
        }
    }
    nav {
        >h2 {
            display: none;
        }
    }
}

#filter_cards {
    #filter_menu {
        >ul {
            margin-bottom: 0px;
            overflow: hidden;
            border-top: 1px solid #dde5e5;
            li {
                transition: max-height 0.5s;
                max-height: 750px;
                overflow: hidden;
                ul {
                    margin-bottom: 10px;
                    &:after {
                        content: '';
                        display: table;
                        clear: both;
                    }
                }
            }
            h3 {
                display: block;
                color: #565354;
                text-transform: uppercase;
                position: relative;
                font-size: 16px;
                font-family: garamond;
                margin: 0;
                border-top: nosne;
                padding: 15px 0 12px 0;
                letter-spacing: initial;
                font-weight: normal;
                &:after {
                    font-family: kcicons;
                    float: right;
                    content: '\e008';
                    color: #565354;
                    font-size: 12px;
                    transition: all 0.2s;
                    transform: rotate(90deg);
                }
                &:hover {
                    text-decoration: none;
                }
                &.close:after {
                    transform: rotate(0deg);
                }
            }
        }
    }
}

.envmenu {
    li {
        h3 {
            >a {
                display: block;
                color: #6e7277;
                position: relative;
                font-size: 16px;
                font-family: 'Varela Round', sans-serif;
                margin: 0;
                &:after {
                    font-family: kcicons;
                    float: right;
                    content: '\e008';
                    color: #00afbd;
                    transition: all 0.2s;
                    transform: rotate(90deg);
                }
                &:hover {
                    text-decoration: none;
                }
                &.close:after {
                    transform: rotate(0deg);
                }
            }
        }
    }
}

#sidebar #filter_cards .tag-li {
    padding-left: 3px;
}

#sidebar .sidebar_widget:first-of-type h3 {
    padding-top: 25px;
    font-size: 24px;
}


#sidebar .sidebar_widget .widget_content li {
    display: block !important;
}

#sidebar .sidebar_widget .widget_content li.list-toggle {
    display: none !important;
}



#filter_menu li.tag-li input {
    display: none;
}

#filter_menu li.tag-li label {
    font-family: 'Yantramanav', sans-serif;
    font-size: 16px;
    color: #747474;
    letter-spacing: 0;
    line-height: 27px;
    font-weight: 300;
}

#filter_menu li.tag-li .custom_checkbox {
    background: #FFFFFF;
    border: 1px solid #A7A7A7;
    border-radius: 0px;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
}

#filter_menu li.tag-li .number-of-tags {
    color: #ccc;
    font-style: normal;
    margin-left: 3px;
}

#filter_menu ul li input[type=checkbox]:checked+label .custom_checkbox:after,
#filter_menu ul li label:hover .custom_checkbox:after {
    font-family: kcicons;
    color: #555;
    content: "\e010";
    font-size: 16px;
    line-height: 0.5em;
    vertical-align: text-top;
    padding-left: 0px;
}

#tagli-kleurrijk label {
    background: linear-gradient(-45deg, #387ed7 40%, #a2d49f 30%, #a2d49f 40%, #c7c12f 40%, #c7c12f 50%, #f26247 50%, #f26247 60%, #ec2045 60%, #ec2045 70%);
}

#tagli-zwart-wit label {
    background: linear-gradient(-45deg, #fff 50%, #000 50%);
}

#tagli-bruin-taupe label {
    background: #674C47;
}

#tagli-mint label {
    background: #a1eecb;
}

#tagli-pastel label {
    background: #f8efba;
}

#tagli-goud label {
    background: #D4AF37;
}

#tagli-zilver label {
    background: #c0c0c0;
}



@media screen and (min-width: 992px) {


    #filter_menu #taggroupul-kleur .custom_checkbox,
    #filter_menu #taggroupul-kleuren .custom_checkbox {
        border: none;
        margin: -2px 6px;
        background: transparent;
    }
}